<div *ifPermitted="'campusMOU.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">
        <div class="workFlowAction">
            <!-- <wf-states [WFId]="'post-registration'" [parent]="'Campus'" [stateId]="stateId" [parentId]="CRApplicationId" *ngIf="stateId && CRApplicationId"
                (onChangeStateId)="onChangeStateEvent($event)"></wf-states> -->
        </div>
        <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)" *ngIf="selectedButton=='mou'">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.MOUDate" formControlName="MOUDate" required [autofocus]="true">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="fg.get('MOUDate').hasError('required')">Date is required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.campusTitle" formControlName="campusTitle" required>
                    <mat-error *ngIf="fg.get('campusTitle').hasError('required')">Campus Title is required.</mat-error>
                    <mat-error *ngIf="fg.get('campusTitle').hasError('maxlength')">Exceeding Maximum Length (Max Length is 100).</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.educationLevelId" formControlName="educationLevelId" required>
                        <mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id" (onSelectionChange)="educationLevelChange($event, educationLevel.id)">
                            {{
                            educationLevel.education }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('educationLevelId').hasError('required')">Level of Education is required.</mat-error>
                </mat-form-field>
                <div fxFlex="50" fxFlex="row" fxLayoutGap="10px">
                    <!-- <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicMonth" formControlName="academicMonth" required>
                            <mat-option *ngFor="let academicMonth of academicMonths" [value]="academicMonth.number">
                                {{ academicMonth.abbreviation }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicMonth').hasError('required')">Academic Month is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicYear" formControlName="academicYear" required>
                            <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                                {{ academicYear }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicYear').hasError('required')">Academic Year is required.</mat-error>
                    </mat-form-field> -->
                    <div fxFlex="30" style="padding-top: 20px;">Academic Year :</div>
                    <mat-form-field fxFlex="35">
                        <mat-select [placeholder]="componentLabels.semSession" formControlName="semSession" required>
                            <mat-option *ngFor="let semSession of semSessions" [value]="semSession.value">
                                {{ semSession.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('semSession').hasError('required')">Semester is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="35">
                        <mat-select [placeholder]="componentLabels.academicYear" formControlName="academicYear" required>
                            <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                                {{ academicYear }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicYear').hasError('required')">Year is required.</mat-error>
                    </mat-form-field>


                </div>


            </div>
            <div fxLayout="row" fxLayoutGap="10px">


                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.licenseFeeId" formControlName="licenseFeeId" required>
                        <mat-option *ngFor="let managementFee of managementFees" [value]="managementFee.id">
                            {{ managementFee.amount.toLocaleString() }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('licenseFeeId').hasError('required')">Management Fee is required.</mat-error>
                </mat-form-field>


            </div>

            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <textarea matInput [placeholder]="componentLabels.purpose" formControlName="purpose" matTextareaAutosize matAutosizeMinRows="2"
                        matAutosizeMaxRows="5" required></textarea>
                    <mat-error *ngIf="fg.get('purpose').hasError('required')">Purpose is required.</mat-error>
                    <mat-error *ngIf="fg.get('purpose').hasError('maxlength')">Exceeding Maximum Length (Max Length is 400).</mat-error>

                </mat-form-field>
            </div>

            <div>
                <div>
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" *ifPermitted="'campusMOU.create'" color="primary">Save</button>
                    <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/campus/mous']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/campus/mous/view', mouModel.id]">Cancel</a>
                </div>
            </div>
        </form>

    </div>
</div>