<div *ifPermitted="'timeTable.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <mat-card class="mcard">

            <div>
                <div class="mc-action-btn">
                    <a [routerLink]="['/time-table/timeTable/update', timeTable.id]" mat-icon-button *ifPermitted="'timeTable.update'">
                        <mat-icon matTooltip="Edit Time Table">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(timeTable.id)" matTooltip="Delete Time Table" *ifPermitted="'timeTable.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>

                <mat-card-content>
                    <shared-detail-view [data]="{title: timeTable.title, programDetail: timeTable.programDetail,classTitle : timeTable.classTitle}" [labels]="componentLabels"
                        [showOnly]="['title', 'programDetail','classTitle']">
                    </shared-detail-view>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-accordion *ifPermitted="'ttDetail.findAllTTDetails'">
            <mat-expansion-panel *ngFor="let item of ttDetails">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{item.course}} ( {{item.slot }} )
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px">

                    <div fxLayout="column">
                        <div fxLayout="row" fxLayoutGap="20px">

                            <div fxFlex="10" class="title">
                                Slot Order :
                            </div>


                            <div fxFlex="10" class="content">
                                {{item.slotOrder}}
                            </div>
                            <div fxFlex="10" class="title">
                                Slot :
                            </div>


                            <div fxFlex="15" class="content">
                                {{item.slot}}
                            </div>
                            <div fxFlex="10" class="title">
                                Course :
                            </div>


                            <div fxFlex="15" class="content">
                                {{item.course}}
                            </div>



                        </div>
                        <div fxLayout="row" fxLayoutGap="20px" class="mt-10">
                            <div class="title">
                                Sections
                            </div>
                            <mat-chip-list fxLayout="row" fxLayoutWrap>
                                <div *ngFor="let sec of item.selSections" fxLayout>
                                    <mat-chip class="mt-10">{{sec}}</mat-chip>
                                </div>

                            </mat-chip-list>

                        </div>

                        <div fxLayout="row" fxLayoutGap="20px" class="mt-10">
                            <div class="title">
                                Week Days
                            </div>
                            <mat-chip-list fxLayout="row" fxLayoutWrap>
                                <div *ngFor="let sec of item.selDays" fxLayout>
                                    <mat-chip class="mt-10">{{sec}}</mat-chip>
                                </div>

                            </mat-chip-list>

                        </div>



                    </div>


                </form>

                <mat-action-row>
                    <div fxFlex="100" fxLayoutAlign="space-between stretch">
                        <div>
                            <button *ifPermitted="'ttDetail.update'" mat-button color="primary" (click)="editTTDetail(timeTable.id,item.id)">Update Detail</button>
                        </div>
                        <div>
                            <button *ifPermitted="'ttDetail.delete'" mat-button color="warn" (click)="deleteTTDetail(item.id)">Delete Detail</button>
                        </div>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

        <div class="action-row">
            <button mat-button color="primary" (click)="addTimeTableDetail(timeTable.id)" *ifPermitted="'timeTableDetail.create'">Add Detail</button>
        </div>
    </div>

</div>