<div *ifPermitted="'campusBuildings.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/time-table/campusBuildings/update', campusBuilding.id]" mat-icon-button *ifPermitted="'campusBuildings.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(campusBuilding.id)" matTooltip="Delete" *ifPermitted="'campusBuildings.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">
                    <div fxLayout="column" fxLayoutGap="20px">

                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.name" formControlName="name" required [autofocus]="true">
                                <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput class="lower-to-capital" [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.code" formControlName="code" required>
                                <mat-error *ngIf="fg.get('code').hasError('required')">Code is required.</mat-error>
                                <mat-error *ngIf="fg.get('code').hasError('duplicateCode')">Duplicate code.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.campus" formControlName="campusId">
                                    <!-- <mat-select [placeholder]="componentLabels.campus" formControlName="campusId" required> -->
                                    <mat-option *ngFor="let campus of campuses" [value]="campus.id">
                                        {{campus.campusName}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('campusId').hasError('required')">Campus is required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="pageAct != 'view'" class="bottom-buttons">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/time-table/campusBuildings']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/time-table/campusBuildings/view', campusBuilding.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>