<div *ifPermitted="'programDetails.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="Edit" [routerLink]="['/academic/programDetails']" mat-icon-button *ifPermitted="'programDetails.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/academic/programDetails/update', programDetail['id']]" mat-icon-button *ifPermitted="'programDetails.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(programDetail['id'])" matTooltip="delete" *ifPermitted="'programDetails.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.programId" formControlName="programId" required [autofocus]="true">
                            <mat-option *ngFor="let program of programs" [value]="program.id">
                                <!-- {{ program.educationLevel.instituteType.name }} -  -->
                                {{ program.educationLevel.education }} - {{ program.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('programId').hasError('required')">Program is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.name" maxlength="30" formControlName="name" required>
                        <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                        <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutGap="10px">


                    <mat-form-field fxFlex="50">
                        <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" maxlength="30" formControlName="abbreviation" required>
                        <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                        <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">

                </div>

                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'programDetails.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'add'" color="accent" mat-raised-button [routerLink]="['/academic/programDetails']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/academic/programDetails/view', programDetail['id']]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>