<mat-card>
    <mat-card-title>
        <button fxFlex="20" mat-raised-button class="submit-button" class="normal-btn" (click)="tabChange('personal')" [ngClass]="(selectedButton=='personal')? 'button-class' : 'as'"
            type="button">Personal</button>
        <button fxFlex="20" mat-raised-button class="submit-button" [disabled]="pageAct == pageActions.create && !createdCRApplicationId" class="normal-btn" (click)="tabChange('campus')" [ngClass]="(selectedButton=='campus')? 'button-class' : 'as'"
            type="button">Campus</button>
        <button  *ngIf="remittanceStatus" fxFlex="20" mat-raised-button class="submit-button" [disabled]="pageAct == pageActions.create && !createdCRApplicationId" class="normal-btn" (click)="tabChange('remittance')" [ngClass]="(selectedButton=='remittance')? 'button-class' : 'as'"
            type="button">Remittance</button>
        <button fxFlex="20" mat-raised-button class="submit-button normal-btn" type="button" [disabled]="pageAct == pageActions.create && !createdCRApplicationId" (click)="tabChange('submit')" [ngClass]="(selectedButton=='submit')? 'button-class' : 'as'">Submit</button>
    </mat-card-title>

    <mat-card-content>
        <app-personal-information *ngIf="selectedButton=='personal'" (shiftTab)="shiftTab($event)" [type]="'edit'" [CCRApplicationId]="createdCRApplicationId" (createdCRApplicationId)="getcreatedCRApplicationId($event)"></app-personal-information>
        <campus-info *ngIf="selectedButton=='campus'" [type]="'edit'" (shiftTab)="shiftTab($event)" [createdCRApplicationId]="createdCRApplicationId"></campus-info>
        <span *ngIf="remittanceStatus" >
            <remittance *ngIf="selectedButton=='remittance'" [type]="'edit'" (shiftTab)="shiftTab($event)" [createdCRApplicationId]="createdCRApplicationId" ></remittance>
        </span>
        <campus-post-registration-submit *ngIf="selectedButton=='submit'" [type]="'edit'" [createdCRApplicationId]="createdCRApplicationId"></campus-post-registration-submit>

    </mat-card-content>
</mat-card>