
.role-record {
  margin-left: 20px;
}

.fset{
  border: 1px solid silver;
  border-radius: 3px;
  margin-bottom:10px;
}

.fs-group{
  margin: 3px 0px 10px 0px;
}

.fs-item{
  float:left;
  width: 230px;
}

.clear{
  clear:both;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
}

.item-row > mat-list-item {
  font-size: 12px;
}
.header-row > mat-list-item {
  font-size: 14px;
  color: #99999a;
}

.item-row:hover .options {
    visibility: visible;
}

.table-wrapper {
  max-height: 302px; 
  overflow: auto;
}

.table-header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
}