<div *ifPermitted="'roles.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">
        <mat-card class="mcard">
            <div class="mc-action-btn">
                <a [routerLink]="['/security/roles/update', role.id]" mat-icon-button *ifPermitted="'roles.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(role.id)" matTooltip="delete" *ifPermitted="'roles.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
            <shared-detail-view [data]="role" [labels]="roleLabels" [showOnly]="['name', 'description']"></shared-detail-view>
        </mat-card>

        <div>
            <mat-card fxFlex="100" class="mcard">
                <div>
                    <mat-card-title class="mc-title">Groups</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="addGroup(role.id)">
                            <mat-icon matTooltip="Add Group">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-wrapper">
                        <mat-table #table [dataSource]="groupDataSource">
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> {{groupLabels['name']}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.group.name}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="options">
                                    <a mat-icon-button (click)="deleteGroup(element.id)" matTooltip="Delete">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row class="table-header" *matHeaderRowDef="groupDisplayedColumns"></mat-header-row>
                            <mat-row class="hover-effect" *matRowDef="let row; columns: groupDisplayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card fxFlex="100" class="mcard">
                <div>
                    <mat-card-title class="mc-title">Users</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="addUser(role.id)">
                            <mat-icon matTooltip="Add User">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-wrapper">
                        <mat-table #table [dataSource]="userDataSource">
                            <ng-container matColumnDef="username">
                                <mat-header-cell *matHeaderCellDef> {{userLabels['username']}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.user.username}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="options">
                                    <a mat-icon-button (click)="deleteUser(element.id)" matTooltip="Delete">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row class="table-header" *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
                            <mat-row class="hover-effect" *matRowDef="let row; columns: userDisplayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="mcard" *ifPermitted="'roles.findAllFeatures'">
            <div>
                <mat-card-title class="mc-title">Application Permissions</mat-card-title>
                <div class="mc-action-btn">
                    <a mat-icon-button (click)="disableEditMode(false)" *ifPermitted="'featurePermissions.updateRolePermissions'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <!-- <mat-progress-bar *ngIf="showDivBar" mode="indeterminate"></mat-progress-bar> -->
                <shared-mat-card-loader *ngIf="showBoxLoader"> </shared-mat-card-loader>
                <div [ngClass]="{'disable': disableClass}">
                    <form (ngSubmit)="changePermission(role.id)" #form="ngForm">

                        <fieldset *ngFor="let assignedPermission of role.assignedPermissions let index = index" class="fset">
                            <legend>{{assignedPermission.title}}:</legend>
                            <div class="fs-group">
                                <div class="fs-item" *ngFor="let permission of assignedPermission.children let i = index">
                                    <mat-checkbox color="primary" fxFlexOffset="20px" name="{{index}}-permission-{{i}}" [(ngModel)]="permission.status">{{permission.title}}</mat-checkbox>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </fieldset>

                        <mat-card-footer class="permissions-footer" *ifPermitted="'roleAssignments.assignToUser'">
                            <div *ngIf="!disableClass">
                                <button type="submit" mat-raised-button color="primary">Save</button>
                                <button type="button" mat-raised-button (click)="disableEditMode(true)">Cancel</button>
                            </div>

                        </mat-card-footer>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>

        <role-wf-state-flow [roleId]="role.id"></role-wf-state-flow>
    </div>
</div>