<div *ifPermitted="'managementFees. find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="Edit" [routerLink]="['/fee-management/managementFees']" mat-icon-button *ifPermitted="'managementFees. index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/fee-management/managementFees/update', managementFee.id]" mat-icon-button *ifPermitted="'managementFees. update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(managementFee.id)" matTooltip="Delete" *ifPermitted="'managementFees. delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.educationLevelId" formControlName="educationLevelId" required [autofocus]="true">
                            <mat-option *ngFor="let level of educationLevel" [value]="level.id">
                                {{ level.education }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('educationLevelId').hasError('required')">Level Of Education is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.feeType" formControlName="feeType" required>
                            <mat-option *ngFor="let feeType of feeTypes" [value]="feeType.key">
                                {{ feeType.label }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('feeType').hasError('required')">Type is required.</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <input *ngIf="pageAct != 'view'" matInput [placeholder]="componentLabels.amount" formControlName="amount" type="number" required>
                        <input *ngIf="pageAct == 'view'" matInput [placeholder]="componentLabels.amount" formControlName="amount" [value]="fg.get('amount').value.toLocaleString()"
                            required>
                        <mat-error *ngIf="fg.get('amount').hasError('required')">Amount is required.</mat-error>
                    </mat-form-field>
                </div>

                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'managementFees. create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/fee-management/managementFees']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/fee-management/managementFees/view', managementFee.id]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>