<div *ifPermitted="'cbfRooms.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/time-table/cbfRooms/update', cbfRoom.id]" mat-icon-button *ifPermitted="'cbfRooms.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(cbfRoom.id)" matTooltip="Delete" *ifPermitted="'cbfRooms.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">
                    <div fxLayout="column" fxLayoutGap="20px">

                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.name" formControlName="name" required>
                                <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput class="lower-to-capital" [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.code" formControlName="code" required>
                                <mat-error *ngIf="fg.get('code').hasError('required')">Code is required.</mat-error>
                                <mat-error *ngIf="fg.get('code').hasError('duplicateCode')">Duplicate code.</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="50">
                                <input type="number" matInput [placeholder]="componentLabels.seatingCapability" formControlName="seatingCapability" required>
                                <mat-error *ngIf="fg.get('seatingCapability').hasError('required')">Seating Cap. is required.</mat-error>
                                <mat-error *ngIf="!fg.get('seatingCapability').hasError('greaterThan')">Seating Cap. can not be in negative.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <dir fxLayout fxLayoutGap="20px" fxFlex="50">
                                <span class="checkbox-label"> Classroom Type?</span>

                                <div formArrayName="classroomTypes" *ngFor="let item of fg.get('classroomTypes')['controls']; let i = index; let last = last; let first = first;">
                                    <div [formGroupName]="i">
                                        <div>
                                            <mat-checkbox color="primary" formControlName="checked">
                                                {{item.value.label}}
                                            </mat-checkbox>
                                        </div>

                                    </div>
                                </div>
                            </dir>
                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.floor" formControlName="CBFloorId">
                                    <mat-option *ngFor="let campusBuildingFloor of campusBuildingFloors" [value]="campusBuildingFloor.id">
                                        {{campusBuildingFloor.campusBuilding.campus.campusName}} - {{campusBuildingFloor.campusBuilding.name}} - {{campusBuildingFloor.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('CBFloorId').hasError('required')">Floor is required.</mat-error>
                            </mat-form-field>

                        </div>
                    </div>

                    <div *ngIf="pageAct != 'view'" class="bottom-buttons">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/time-table/cbfRooms']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/time-table/cbfRooms/view', cbfRoom.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>