<shared-page-loader *ngIf="!personalInfo"> </shared-page-loader>
<mat-card *ngIf="loaded && personalInfo" style="padding-top: 10px;" [@pageState]="pageState">

  <mat-card-title *ngIf="type != 'edit'">
    <campus-registration [selectedButton]="'personal'"></campus-registration>
  </mat-card-title>
  <mat-card-content>

    <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
    <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

      <div fxLayout="row" fxLayoutGap="10px">

        <mat-form-field fxFlex="100">
          <input matInput [placeholder]="componentLabels.fullName" #name maxlength="50" formControlName="fullName" required [autofocus]="true">
          <mat-error *ngIf="fg.get('fullName').hasError('required')">Full Name is required.</mat-error>
          <mat-error *ngIf="fg.get('fullName').hasError('maxlength')">Exceeding Maximum length.</mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">


        <div fxLayout="row" fxFlex="50">
          <mat-form-field fxFlex="20">
            <mat-select [placeholder]="componentLabels.countryCode" formControlName="countryCode">
              <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                {{country.abbreviation + ' (' + country.countryCode + ')'}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="80">
            <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" [textMask]="{mask: mobileMask}"
              [readonly]="!fg.get('countryCode').value">
            <mat-error *ngIf="fg.get('mobileNumber').hasError('maxlength')">Exceeding Maximum length.</mat-error>
          </mat-form-field>
        </div>

        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.email" #emailChar maxlength="50" formControlName="email" required>
          <mat-error *ngIf="fg.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
          <mat-error *ngIf="fg.get('email').hasError('exists')">Email already exists in system. Enter a different one.</mat-error>
          
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <input matInput [placeholder]="componentLabels.address" #message maxlength="100" formControlName="address">
          <mat-error *ngIf="fg.get('address').hasError('maxlength')">Exceeding Maximum length.</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">

        <mat-form-field fxFlex="48.5">
          <input matInput [placeholder]="componentLabels.cnic" formControlName="cnic" [textMask]="{mask: cnicMask}" required>
          <mat-error *ngIf="fg.get('cnic').hasError('required')">CNIC is Required.</mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row" class="select-box" fxLayoutAlign="space-between" fxLayoutGap="40px">
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <mat-select [placeholder]="componentLabels.countryId" formControlName="countryId" (change)="loadProvinces($event.value)">
              <mat-option *ngFor="let con of countries" [value]="con.id">
                {{ con.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <mat-select [placeholder]="componentLabels.provinceId" formControlName="provinceId" (change)="loadCities($event.value)">
              <mat-option *ngFor="let con of province" [value]="con.id">
                {{ con.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="50" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <mat-select [placeholder]="componentLabels.cityId" formControlName="cityId" (change)="loadTehsils($event.value)">
              <mat-option *ngFor="let con of cities" [value]="con.id">
                {{ con.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="50">

            <mat-select [placeholder]="componentLabels.tehsilId" formControlName="tehsilId" tabindex="-1">
              <mat-option *ngFor="let con of tehsils" [value]="con.id">
                {{ con.value }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" class="select-box" fxLayoutAlign="space-between" fxLayoutGap="40px" >
        <mat-form-field fxFlex="50">
          <mat-select [placeholder]="componentLabels.natureOfWorkId" formControlName="natureOfWorkId" class="select-box" tabindex="-1">
            <mat-option *ngFor="let con of natureOfwork" [value]="con.id">
              {{ con.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.approxMonthlyIncome" max="99999999999" type="number" formControlName="approxMonthlyIncome" tabindex="-1">
          <mat-error *ngIf="!fg.get('approxMonthlyIncome').hasError('greaterThan')">Invalid Monthly Income.</mat-error>

        </mat-form-field>
      </div>
      <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">
          <input type="text" [placeholder]="componentLabels.nearestBankId" matInput [formControl]="bankFormControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option['name']">
              {{ option['name'] }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- <mat-form-field fxFlex="100">
          <mat-select [placeholder]="componentLabels.nearestBankId" formControlName="nearestBankId" class="select-box">
            <mat-option *ngFor="let con of bank" [value]="con.id">
              {{ con.name }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

      </div>
      <div fxLayout="row">
        <span class="sub-heading">Personal Reference</span>
      </div>


      <div formArrayName="references" *ngFor="let item of fg.get('references').controls; let i = index;">
        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="40px">
          <div fxFlex="50" fxLayoutAlign="space-between" fxLayoutGap="40px">

            <mat-form-field fxFlex="50">
              <input matInput placeholder="Full Name" formControlName="refName" tabindex="-1">
            </mat-form-field>
            <div fxLayout="row" fxFlex="50">
              <mat-form-field fxFlex="40">
                <mat-select [placeholder]="componentLabels.countryCode" formControlName="refCountryCode" tabindex="-1">
                  <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                    {{country.abbreviation + ' (' + country.countryCode + ')'}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field fxFlex="60">
                <input matInput placeholder="Mobile Number" formControlName="refMobileNumber" [textMask]="{mask: mobileMask}" [readonly]="!this.fg.controls['references'].value[i]['refCountryCode']" tabindex="-1">
              </mat-form-field>
            </div>

          </div>
          <div fxFlex="50">
            <mat-form-field fxFlex="90">
              <input matInput placeholder="Address" #message maxlength="100" formControlName="refAddress" tabindex="-1">
            </mat-form-field>
            <button mat-icon-button type="button" (click)="addReferenceClick()" *ngIf="fg.get('references').controls.length == i+1 && !isSubmit " tabindex="-1">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="removeReference(i,item)" *ngIf="!(fg.get('references').controls.length == 1) && !isSubmit" tabindex="-1">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>

        </div>

      </div>





      <div *ngIf="!isSubmit">

        <button mat-raised-button type="submit" [disabled]="fg.invalid " color="primary">Save & Next</button>
      </div>


    </form>
  </mat-card-content>
</mat-card>