<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div>
    <div *ngIf="loaded">
        <div class="dialog-title">
            Forward For Evaluation
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" (ngSubmit)="attachEvalSheet(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="100">
                    <mat-select [placeholder]="componentLabels.esCategoryId" formControlName="esCategoryId" required>
                        <mat-option *ngFor="let item of esCatList" [value]="item.esCategory.id">
                            {{item.esCategory.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('esCategoryId').hasError('required')">{{componentLabels.esCategoryId}} is required.</mat-error>
                </mat-form-field>

            </div>

            <div class="action-buttons">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Forward For Evaluation</button>
                <a mat-raised-button (click)="cancel()">Cancel</a>
            </div>
        </form>

    </div>
</div>