<div *ifPermitted="'evaluationSheets.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['title']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="category">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['category']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.esCategoryName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="form">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['form']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.esFormName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="active">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['active']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <mat-checkbox color="primary" [(ngModel)]="element.active" [disabled]="true"></mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/settings/evaluationSheets/view', element.id]" mat-icon-button *ifPermitted="'evaluationSheets.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/settings/evaluationSheets/update', element.id]" mat-icon-button *ifPermitted="'evaluationSheets.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'evaluationSheets.delete'">
                                <mat-icon color="warn">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/settings/evaluationSheets/create']" *ifPermitted="'evaluationSheets.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>