<div *ifPermitted="'courses.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">
        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/academic/courses']" mat-icon-button *ifPermitted="'courses.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/academic/courses/update', course.id]" mat-icon-button *ifPermitted="'courses.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(course.id)" matTooltip="Delete" *ifPermitted="'courses.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required [autofocus]="true">
                        <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Dep/Course abbreviation is required.</mat-error>
                        <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum Length (Max Length is 6).</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title" required>
                        <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                    </mat-form-field>


                </div>

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <textarea matInput [placeholder]="componentLabels.description" formControlName="description" matTextareaAutosize matAutosizeMinRows="1" matAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                </div>



                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'courses.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/academic/courses']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/academic/courses/view', course.id]">Cancel</a>
                    </div>
                </div>

            </form>
        </mat-card-content>
    </mat-card>
</div>