<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'campusAdmission.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            Add Program Detail
        </div>
        <form novalidate  fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData()">

            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field fxFlex="100">
                        <mat-select placeholder="Program Detail" required [(ngModel)]="pdId" [ngModelOptions]="{standalone: true}" [autofocus]="true">
                            <div *ngFor="let pd of programDetails">
                                <mat-option [value]="pd.id">
                                        {{pd.program.name + "-" + pd.name}}
                                </mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>

                </div>

            </div>
          

            <div *ifPermitted="'campusAdmission.create'">
                <button mat-raised-button type="submit" [disabled]="false" color="primary">Save</button>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>