<div [@pageState]="pageState" style="margin-top:50px">
        <div class="parent">

        <shared-dashboard-widget-link *ifPermitted="'programs.index'" class="child" [icon]="'folder'" [label]="'Programs'" [link]="['/academic/programs/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'programDetails.index'" class="child"  [icon]="'folder_open'" [label]="'Program Details'" [link]="['/academic/programDetails/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'classes.index'" class="child"  [icon]="'class'" [label]="'Classes'" [link]="['/academic/classes/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'courses.index'" class="child"  [icon]="'bookmark_border'" [label]="'Courses'" [link]="['/academic/courses/']"></shared-dashboard-widget-link>

        <shared-dashboard-widget-link *ifPermitted="'academicCalendars.index'" class="child"  [icon]="'calendar_today'" [label]="'Academic Calendars'" [link]="['/academic/academicCalendars/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'cacTerms.index'" class="child"  [icon]="'calendar_view_day'" [label]="'Academic Calendar Terms'" [link]="['/academic/cacTerms/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'roadMaps.index'" class="child"  [icon]="'map'" [label]="'Roadmaps'" [link]="['/academic/roadMaps/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'activities.index'" class="child"  [icon]="'local_activity'" [label]="'Activities'" [link]="['/academic/activities/']"></shared-dashboard-widget-link>
        
        
    </div>
</div>