<div class="left-nav-list">
    <div class="left-col-head">
        <img class="logo-img" src="assets/images/idrak-logo.png">
        <!-- <h4>IDRAK</h4> -->
    </div>
    <mat-divider matInset></mat-divider>
    <mat-nav-list>
        <div class="left-nav" *ngIf="loaded && moduleMenuItems">

            <ng-template let-item let-last="last" ngFor [ngForOf]="moduleMenuItems">

                <div *ngIf="item['display'] == true">
                    <div class="menu-heading">{{item.heading}}</div>

                    <div *ngFor="let menuItem of item.menuItems">
                        <!-- <a mat-list-item [class.active]="clicked === menuItem.title" (click)="navigateToUrl(menuItem)" *ifPermitted="menuItem['perm']"> -->
                        <div *ifPermitted="menuItem['perm']">
                            <a mat-list-item routerLink="{{menuItem.url}}" routerLinkActive="active-left-nav">
                                <!-- <i class="material-icons">{{menuItem.icon}} </i> -->
                                <span class="heading" class="item-text">{{menuItem.title}} </span>
                            </a>
                            <mat-divider matInset class="border-bot"></mat-divider>
                        </div>
                    </div>
                </div>

            </ng-template>
        </div>
    </mat-nav-list>
</div>