<div *ifPermitted="'postRegistrations.findAllEvaluationSheets'">
    <mat-accordion *ngIf="sheetsLoaded" [@pageState]="pageState">
        <mat-expansion-panel *ngFor="let previousEvaluationSheet of previousEvaluationSheets" (opened)="findAllESSections(previousEvaluationSheet.id)">
            <mat-expansion-panel-header>
                <mat-panel-title fxFlex="60">
                    {{previousEvaluationSheet.ESTitle}} ( {{previousEvaluationSheet.status | titlecase }} )
                </mat-panel-title>
                <mat-panel-description>
                    {{previousEvaluationSheet.updatedAt | date }}
                </mat-panel-description>
            </mat-expansion-panel-header>

            <div fxLayout="column" fxLayoutGap="20px">
                <div *ngIf="previousEvaluationSheet.sections? previousEvaluationSheet.sections.length > 0? true: false: false" fxLayout="column"
                    fxLayoutGap="20px">
                    <fieldset class="field-set" *ngFor="let section of previousEvaluationSheet.sections">
                        <legend>{{section.title}}</legend>
                        <div *ngIf="section.questions? section.questions.length > 0? true: false: false">
                            <mat-list>
                                <div class="header-row" fxLayout>
                                    <mat-list-item fxFlex="40">Question</mat-list-item>
                                    <mat-list-item fxFlex="25">Answer</mat-list-item>
                                    <mat-list-item fxFlex="25">Remarks</mat-list-item>
                                    <mat-list-item fxFlex="10">Count</mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>

                            <div *ngFor="let question of section.questions; let last = last">
                                <mat-list>
                                    <div class="question-row" fxLayout>
                                        <mat-list-item fxFlex="40"> {{question.question}} </mat-list-item>
                                        <mat-list-item fxFlex="25"> {{question.answer}} </mat-list-item>
                                        <mat-list-item fxFlex="25"> {{question.remarks}} </mat-list-item>
                                        <mat-list-item fxFlex="10"> {{question.countValue}} </mat-list-item>
                                    </div>
                                    <mat-divider></mat-divider>
                                </mat-list>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div fxLayout="column" fxLayoutGap="10px" class="sheet-answer" *ngIf="questionsloaded">
                    <div fxLayout>
                        <label fxFlex="40">
                            Is Recommended for Approval
                        </label>
                        <mat-checkbox color="primary" class="recommendedForApprove" [(ngModel)]="previousEvaluationSheet.isRecommendedForApproval"
                            labelPosition="before" [disabled]="true">
                            <!-- <div> Is Recommended for Approval</div> -->
                        </mat-checkbox>
                    </div>

                    <div fxLayout>
                        <label fxFlex="40">Remarks: </label>
                        <div class="sheetRemarks">
                            {{previousEvaluationSheet.remarks}}
                        </div>
                    </div>
                    <form novalidate fxLayout="column" (ngSubmit)="addComments(previousEvaluationSheet.id,previousEvaluationSheet)">

                        <div fxLayout="row" fxLayoutGap="10px" >

                            <!-- <mat-form-field fxFlex="100"> -->
                                <textarea class="txt-a" fxFlex="100" matInput placeholder="Comments" [formControl]="comments" [value]="previousEvaluationSheet.comments" rows="5"></textarea>
                            <!-- </mat-form-field> -->

                        </div>

                        <div class="action-buttons">
                            <button mat-raised-button type="submit" color="primary">Save</button>
                        </div>
                    </form>

                    <!-- Attachment list On Evaluation Sheet -->
                    <div>
                        <shared-attachment-list [parentId]="previousEvaluationSheet.id" [parent]="'CREvaluationSheet'"></shared-attachment-list>
                    </div>

                </div>
            </div>


        </mat-expansion-panel>
    </mat-accordion>
</div>