.field-set {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.field-set > legend {
    font-weight: bold;
}

.question-row > mat-list-item {
    font-size: 12px;
}
.header-row > mat-list-item {
    font-size: 14px;
    color: #99999a;
 }
.sheet-answer{
    margin-left: 5px;
}
.recommendedForApprove{
    margin-left: 10px;
}

.sheetRemarks {
    margin-left: 16px;
}
.txt-a{
   border: 1px solid black;
   margin: 0px 0px 10px 0px;
   resize: none;
}


