<div [@pageState]="pageState" style="margin-top:50px">
        <div class="parent">

        <shared-dashboard-widget-link *ifPermitted="'eligibilityCriterias.index'" class="child" [icon]="'spellcheck'" [label]="'Eligibility Criterias'" [link]="['/admission/eligibilityCriteria/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'meritLists.index'" class="child" [icon]="'list'" [label]="'Merit Lists'" [link]="['/admission/meritLists/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'documents.index'" class="child" [icon]="'file_copy'" [label]="'Documents'" [link]="['/admission/documents/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'campusAdmissions.index'" class="child" [icon]="'font_download'" [label]="'Admission For Classes'" [link]="['/admission/campusAdmissions/']"></shared-dashboard-widget-link>
        

    </div>

    
</div>