<div *ifPermitted="'concessions.findWithFeeHeads'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/fee-management/concessions']" mat-icon-button *ifPermitted="'concessions.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/fee-management/concessions/update', concessionModel.id]" mat-icon-button *ifPermitted="'concessions.updateWithFeeHeads'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteWithFeeHeads(concessionModel.id)" matTooltip="delete" *ifPermitted="'concessions.deleteWithFeeHeads'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="attributeLabels.title" formControlName="title" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('title').hasError('required')">{{attributeLabels.title}} is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="attributeLabels.MCConcessionTypeId" formControlName="MCConcessionTypeId" required>
                                <mat-option *ngFor="let item of MCConcessionTypes" [value]="item.id">
                                    {{ item.value }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('MCConcessionTypeId').hasError('required')">{{attributeLabels.MCConcessionTypeId}} is required.</mat-error>
                        </mat-form-field>

                    </div>
                </div>

                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="attributeLabels.MCConcessionCategoryId" formControlName="MCConcessionCategoryId" required>
                                <mat-option *ngFor="let item of MCConcessionCategories" [value]="item.id">
                                    {{ item.value }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('MCConcessionCategoryId').hasError('required')">{{attributeLabels.MCConcessionCategoryId}} is required.</mat-error>
                        </mat-form-field>

                        <div fxFlex="50">

                            <div style="color:rgba(0,0,0,.54); margin-top:-9px;">
                                Format
                            </div>

                            <div fxLayout="row" style="margin:8px 0px 0px 8px" fxLayout="start center">

                                <mat-radio-group formControlName="concessionFormat">
                                    <mat-radio-button color="primary" value="{{concessionFormates.percentage}}" (change)="concessionFormatChange($event.value)">Percentage</mat-radio-button>
                                    <mat-radio-button color="primary" value="{{concessionFormates.amount}}" (change)="concessionFormatChange($event.value)">Amount</mat-radio-button>
                                </mat-radio-group>
                                <mat-form-field fxFlex style="margin-left:20px; margin-top:-21px;" *ngIf="concessionFormates.percentage === fg.get('concessionFormat').value">
                                    <input matInput [placeholder]="attributeLabels.concessionAmount" formControlName="concessionAmount" type="number" (change)="amountChange($event.target.value)"
                                        required>
                                    <span matSuffix>%</span>

                                    <mat-error *ngIf="!fg.get('concessionFormat').hasError('percentage') &&  concessionFormates.percentage === fg.get('concessionFormat').value ">Invalid Percentage.</mat-error>

                                    <mat-error *ngIf="fg.get('concessionAmount').hasError('required')">{{attributeLabels.concessionAmount}} is required.</mat-error>
                                </mat-form-field>
                                <mat-form-field fxFlex style="margin-left:20px; margin-top:-21px;" *ngIf="concessionFormates.amount === fg.get('concessionFormat').value">
                                    <input matInput [placeholder]="attributeLabels.concessionAmount" [value]="totalAmount.toLocaleString()" disabled=true>

                                </mat-form-field>



                            </div>

                        </div>

                    </div>
                </div>

                <div *ifPermitted="'feeHeads.findAttributesList'">

                    <div *ngIf="pageAct != this.pageActions.view">
                        <mat-list>
                            <div fxLayout="row">
                                <mat-list-item fxFlex="10"></mat-list-item>
                                <mat-list-item class="head-cell" fxFlex>Fee Heads</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="20">Abbrevation</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="20">Code</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="20">Concession</mat-list-item>
                            </div>
                            <mat-divider></mat-divider>

                            <div formArrayName="feeHeads" *ngFor="let item of fg.get('feeHeads')['controls']; let i = index;">
                                <div [formGroupName]="i">

                                    <div fxLayout="row">
                                        <mat-list-item fxFlex="10">
                                            <mat-checkbox color="primary" [checked]="feeHeads[i]['status']" (change)="checkboxClicked($event, feeHeads[i])"></mat-checkbox>
                                        </mat-list-item>
                                        <mat-list-item fxFlex class="list-cell"> {{feeHeads[i].title}} </mat-list-item>
                                        <mat-list-item fxFlex="20" class="list-cell"> {{feeHeads[i]['abbreviation']}} </mat-list-item>
                                        <mat-list-item fxFlex="20" class="list-cell"> {{feeHeads[i]['code']}} </mat-list-item>
                                        <mat-list-item fxFlex="20" class="list-cell" *ngIf="concessionFormates.percentage === fg.get('concessionFormat').value">
                                            <div *ngIf="item['value']['concession'] && !feeHeads[i]['concession'] " class="concession-amount">
                                                <span>{{item['value']['concession']}}</span>
                                                <span *ngIf="selectedFormat == concessionFormates.percentage">%</span>
                                            </div>
                                            <div *ngIf="feeHeads[i]['concession'] " class="concession-amount">
                                                <span>{{feeHeads[i]['concession']}}</span>
                                                <span *ngIf="selectedFormat == concessionFormates.percentage">%</span>
                                            </div>

                                        </mat-list-item>
                                        <mat-list-item fxFlex="20" class="list-cell" *ngIf="concessionFormates.amount === fg.get('concessionFormat').value">
                                            <mat-form-field *ngIf="feeHeads[i]['status']" class="mff-amount">
                                                <input matInput placeholder="Concession" type="number" formControlName="concession" (change)="countTotalAmount()">
                                            </mat-form-field>
                                        </mat-list-item>




                                    </div>
                                    <mat-divider></mat-divider>


                                </div>

                            </div>
                            <div *ngIf="!feeHeadListloaded" class="no-feehead-found">
                                Please Wait loading fee heads
                            </div>

                            <div *ngIf="!feeHeads && feeHeadListloaded" class="no-feehead-found">
                                No fee heads found.
                            </div>
                        </mat-list>

                    </div>

                    <div *ngIf="pageAct === this.pageActions.view">
                        <mat-list>
                            <div fxLayout="row">
                                <mat-list-item fxFlex="5"></mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="30">Fee Heads</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="20">Abbrevation</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="15">Code</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="20">Concession</mat-list-item>
                                <mat-list-item class="head-cell" fxFlex="10"></mat-list-item>
                            </div>

                            <mat-divider></mat-divider>

                            <div *ngIf="concessionModel && concessionModel.concessionFeeHeads">
                                <div *ngFor="let element of concessionModel.concessionFeeHeads">
                                    <div fxLayout="row" class="fee-head-rows">
                                        <mat-list-item fxFlex="5">
                                            <!-- <mat-checkbox color="primary" [checked]="element['status']" (change)="checkboxClicked($event, element)"></mat-checkbox> -->
                                        </mat-list-item>
                                        <mat-list-item fxFlex="30" class="list-cell"> {{element['feeHead']['title']}} </mat-list-item>
                                        <mat-list-item fxFlex="20" class="list-cell"> {{element['feeHead']['abbreviation']}} </mat-list-item>
                                        <mat-list-item fxFlex="15" class="list-cell"> {{element['feeHead']['code']}} </mat-list-item>
                                        <mat-list-item fxFlex="20" class="list-cell">
                                            <div class="concession-amount">
                                                <span>{{element['concessionAmount'].toLocaleString()}}</span>
                                                <span *ngIf="concessionModel.concessionFormat == concessionFormates.percentage">%</span>
                                            </div>
                                        </mat-list-item>
                                        <!-- Deleting Concession fee head -->
                                        <mat-list-item fxFlex="10" class="options" fxLayout="row" fxLayoutAlign="end" *ifPermitted="'concessions.deleteConcessionFeeHead'">
                                            <a mat-icon-button (click)="deleteConcessionFeeHead(concessionModel.id,element['feeHead']['id'])" matTooltip="Delete">
                                                <mat-icon class="delete-icon">delete</mat-icon>
                                            </a>
                                        </mat-list-item>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </div>
                            <!-- <div *ngIf="!feeHeads" class="no-feehead-found">
                                No fee heads found.
                            </div> -->
                        </mat-list>
                    </div>
                </div>


                <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                    <div *ifPermitted="'concessions.createWithFeeHeads'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/fee-management/concessions']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/fee-management/concessions/view', concessionModel.id]">Cancel</a>
                    </div>
                </div>


            </form>
        </mat-card-content>
    </mat-card>
</div>