.head-cell {
  font-size: 14px;
  /* color: rgba(0,0,0,.54); */
}

.no-feehead-found {
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  margin: 20px;
}
.list-cell {
  font-size: 14px;
  color: #494949;
}

.concession-amount::first-letter {
  font-size: 120%;
  font-weight: bold;
  /* color: #8A2BE2; */
}
.fee-head-rows:hover .options {
  visibility: visible;
}
.mff-amount{
  padding-top: 15px;
}