.options {
  text-align: end;
  visibility: hidden;
}
.cls-row:hover .options {
  visibility: visible;
}
.delete-icon {
  color: #f44336;
}
.cls-header > mat-list-item {
  font-size: 16px;
}

.cls-row > mat-list-item {
  font-size: 14px;
}