<div *ifPermitted="'classes.findWithProgramDetail'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">
        <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addClass(data.id)" *ifPermitted="'classes.create'">
                    <mat-icon matTooltip="Add Class">add</mat-icon>
                </a>
            </div>
            <div>
                <mat-card-title class="mc-title"> {{ data.educationLevelName+'-'+data.programName+'-'+data.programDetailName}}
                </mat-card-title>
            </div>
            <mat-card-content>

                <mat-list>
                    <div fxLayout="row" class="cls-header">
                        <mat-list-item fxFlex="80">{{attrLabels['name']}}</mat-list-item>

                        <mat-list-item fxFlex="20"></mat-list-item>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let element of data['classes']">
                        <div fxLayout="row" class="cls-row">
                            <mat-list-item fxFlex="80"> {{element.name}} </mat-list-item>

                            <mat-list-item fxFlex="20" class="options" fxLayout="row" fxLayoutAlign="end">

                                <a (click)="editClick(element.id)" mat-icon-button *ifPermitted="'classes.update'">
                                    <mat-icon matTooltip="Edit">edit</mat-icon>
                                </a>
                                <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'classes.delete'">
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </a>
                            </mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>