<div *ifPermitted="'roadMaps.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <!-- <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader> -->
        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/academic/roadMaps']" mat-icon-button *ifPermitted="'roadMaps.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/academic/roadMaps/update', roadMap.id]" mat-icon-button *ifPermitted="'roadMaps.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(roadMap.id)" matTooltip="delete" *ifPermitted="'roadMaps.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                        <mat-error *ngIf="fg.get('title').hasError('required')">Roadmap Title is required.</mat-error>
                    </mat-form-field>
                </div>


                <div fxLayout="column">

                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">

                            <mat-select [placeholder]="componentLabels.programDetailId" formControlName="programDetailId" *ifPermitted="'programDetails.findAttributesList'"
                                required>
                                <mat-option *ngFor="let programDetail of programDetails" [value]="programDetail.id">
                                    <span>
                                        {{programDetail.program.educationLevel.education + ' - ' +  programDetail.program.name + ' - ' +  programDetail.name }}</span>
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program detail is required.</mat-error>

                        </mat-form-field>

                        <div fxFlex="50" fxLayoutGap="10px">
                            <div fxFlex="30" style="padding-top: 20px;">Academic Year :</div>
                            <mat-form-field fxFlex="35">
                                <mat-select [placeholder]="componentLabels.category" formControlName="category" required>
                                    <mat-option *ngFor="let category of categories" [value]="category.value">
                                        {{ category.title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('category').hasError('required')">Semester is required.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="35">
                                <mat-select [placeholder]="componentLabels.academicYear" formControlName="academicYear" required>
                                    <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                                        {{ academicYear }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('academicYear').hasError('required')">Year is required.</mat-error>
                            </mat-form-field>

                        </div>



                    </div>



                </div>

                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'roadMaps.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/academic/roadMaps']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/academic/roadMaps/view', roadMap.id]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>