<!-- [ngStyle]="{'margin-left': marginLeft}" -->

<div *ngFor="let item of dataArray">
    <ul>
        <div *ngFor="let rec of item['records']">
            <li>{{item['label']}} : {{rec['title']}} </li>
            <shared-delete-items [dataArray]="rec['children']"></shared-delete-items>
        </div>
    </ul>
</div>