<div class="post-registration-heading ">Campus Post Registration</div>
<div class="post-reg-tab" fxLayout="row" *ngIf="registration">
  <button fxFlex="20" mat-raised-button class="submit-button" class="normal-btn" [ngClass]="(selectedButton=='personal')? 'button-class' : 'as'"
    [routerLink]="['/post-registration/campus/personalinfo']" type="button">Personal</button>
  <button fxFlex="20" mat-raised-button class="submit-button" class="normal-btn"  [ngClass]="(selectedButton=='campus')? 'button-class' : 'as'"
    [routerLink]="['/post-registration/campus/campusinfo']" type="button">Campus</button>
  <button *ngIf="remittanceStatus"  fxFlex="20" mat-raised-button class="submit-button" class="normal-btn"  [ngClass]="(selectedButton=='remittance')? 'button-class' : 'as'"
    [routerLink]="['/post-registration/campus/remittance']" type="button">Remittance</button>
  <button fxFlex="20" mat-raised-button class="submit-button normal-btn"  [routerLink]="['/post-registration/campus/submit']" type="button"
    [ngClass]="(selectedButton=='submit')? 'button-class' : 'as'">Submit</button>
</div>
