.button-class {
  background-color: #679fdc;
  color: white;
}

.post-registration-heading {
  color: rgb(62, 63, 65);
  font-size: 25px;
  margin-left: 0px;
}
.post-reg-tab {
  padding-top: 10px;
}

