<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'boards.findAllBoardsToAddNOC'">
    <div>
        <div class="dialog-title">
            Add NOC to: {{boardName}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="create(fg.value)">

            <div fxLayout>
                <mat-form-field fxFlex="100">
                    <mat-select placeholder="Board/University NOC (not required)" formControlName="boardNOCNotRequiredId" required>
                        <mat-option *ngFor="let board of boards" [value]="board.id">
                            {{board.name}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('boardNOCNotRequiredId').hasError('required')">Board NOC is required.</mat-error>
                </mat-form-field>

            </div>

            <div *ifPermitted="'boards.addNOCNotRequired'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>