<h1>IDRAK University</h1>
<p><strong style="font-size: 30px; padding-bottom: 20px;">Prospectus No: {{data.data['prospectusNumber']}} </strong></p>
<div style="font-size: 30px; padding-bottom: 10px;">{{data.data['programTitle']}}</div>
<div style="font-size: 30px; padding-bottom: 10px;">Invoice Date:</div>
<div style="font-size: 20px; padding-top: 20px;">
<table style="border: 1px solid black; border-collapse: collapse; width: 584px; padding: 40px; height: 197px;">
<tbody>
<tr>
<td style="border: 1px solid black; padding-left: 10px; width: 193px;">Full Name</td>
<td style="border: 1px solid black; padding-left: 10px; width: 366px;">{{data.data['fullName']}}</td>
</tr>
<tr>
<td style="border: 1px solid black; padding-left: 10px; width: 193px;">CNIC</td>
<td style="border: 1px solid black; padding-left: 10px; width: 366px;">{{data.data['cnic']}}</td>
</tr>
<tr>
<td style="border: 1px solid black; padding-left: 10px; width: 193px;">Mobile Number</td>
<td style="border: 1px solid black; padding-left: 10px; width: 366px;">{{data.data['mobileNumber']}}</td>
</tr>
<tr>
<td style="border: 1px solid black; padding-left: 10px; width: 193px;">Email</td>
<td style="border: 1px solid black; padding-left: 10px; width: 366px;">{{data.data['email']}}</td>
</tr>
<tr>
<td style="border: 1px solid black; padding-left: 10px; width: 193px;">Shift</td>
<td style="border: 1px solid black; padding-left: 10px; width: 366px;">Morning</td>
</tr>
<tr>
<td style="border: 1px solid black; padding-left: 10px; width: 193px;">Price</td>
<td style="border: 1px solid black; padding-left: 10px; width: 366px;">{{data.data['price']}}/=</td>
</tr>
</tbody>
</table>
</div>