<div *ifPermitted="'campusAdmissions.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <shared-delete-details *ngIf="deleteView" (confirm)="checkConfirmation($event)" [data]="deleteDetailsData"></shared-delete-details>


    <div *ngIf="!deleteView && loaded">

        <div class="mat-elevation-z8" [@pageState]="pageState">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>

            <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                <ng-container matColumnDef="campus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['campus']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.campus}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="admissionMonth">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['admissionMonthTitle']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.admissionMonthTitle}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="admissionYear">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['admissionYear']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.admissionYear}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="noOfProgramDetails">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['noOfProgramDetails']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.noOfProgramDetails}} </mat-cell>
                </ng-container>
                <!--<ng-container matColumnDef="scholarship">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['admissionYear']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.admissionYear}} </mat-cell>
            </ng-container> -->

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="options">
                        <a [routerLink]="['/admission/campusAdmissions/view', element.id]" mat-icon-button>
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>

                        <a mat-icon-button (click)="findRelatedData(element.id)" matTooltip="Delete">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                 <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

        </div>
        <div class="right-bottom-button">
            <a mat-fab color="primary" [routerLink]="['/admission/campusAdmissions/create']">
                <mat-icon>add</mat-icon>
            </a>
        </div>
    </div>
</div>