<div>

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>



    <div [@pageState]="pageState">

        <filter class="filter-box" [filterOptions]="filterOptions" (filterDataChange)="filterData($event);"></filter>

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="campusName">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['campusName']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.campusName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="levelOfEducation">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['levelOfEducation']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.levelOfEducation}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="tentativeSessionStart">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['tentativeSessionStart']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.tentativeSessionStart}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cityId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['cityId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cityId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="stateId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['stateId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.stateId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/campus/mous/view', element.id]" mat-icon-button>
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>

        </div>

    </div>
</div>