<section [formGroup]="fg" class="top-margin">

  <!-- TODO:low:prod changing fg.get('affiliations').controls to fg.get('affiliations')['controls'] because of following error in production build -->
  <!-- src/modules/campus/components/post_reg_forms/campus_info/campus_address/campus-address.component.html(3,34): : Property 'controls' does not exist on type 'AbstractControl'. -->
  <div formArrayName="addresses" *ngFor="let item of fg.get('addresses')['controls']; let i = index;">
    <div [formGroupName]="i">
      <div>
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Address" #message maxlength="100" formControlName="address" (change)="addressChange(i,item)">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="70px">

        <mat-form-field fxFlex="30">
          <input matInput placeholder="Latitude" type="number" formControlName="latitude" (change)="addressChange(i,item)">
        </mat-form-field>

        <div fxLayout="row" fxFlex="30">
          <mat-form-field fxFlex="90">
            <input matInput placeholder="Longitude" type="number" formControlName="longitude" (change)="addressChange(i,item)">
          </mat-form-field>
          <button mat-icon-button type="button" *ngIf="!isSubmit" (click)="addLocationClick(i,item)">
            <mat-icon>add_location</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>