<div *ifPermitted="'classes.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>
                        <!-- <ng-container matColumnDef="instituteTypeName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['instituteTypeId']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.instituteTypeName}} </mat-cell>
                        </ng-container> -->

                        <ng-container matColumnDef="educationLevelName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['educationLevel']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.educationLevelName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="programName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['program']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="programDetailName">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['programDetail']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.programDetailName}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="noOfClasses">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['noOfClasses']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.noOfClasses}} </mat-cell>
                        </ng-container>



                        <ng-container matColumnDef="options">
                            <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="options">
                                <a [routerLink]="['/academic/classes/view', element.id]" mat-icon-button *ifPermitted="'classes.findWithProgramDetail'">
                                    <mat-icon matTooltip="View">visibility</mat-icon>
                                </a>
                            </mat-cell>
                        </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" (click)="addClass()" *ifPermitted="'classes.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->