<div *ifPermitted="'evaluationSheets.create'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a [routerLink]="['/settings/evaluationSheets']" mat-icon-button *ifPermitted="'evaluationSheets.index'">
                    <mat-icon matTooltip="Edit">list</mat-icon>
                </a>
                <a [routerLink]="['/settings/evaluationSheets/update', evaluationSheet.id]" mat-icon-button *ifPermitted="'evaluationSheets.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
            </div>


            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.category" formControlName="ESCategoryId" required>
                                <mat-option *ngFor="let esCategory of esCategories" [value]="esCategory.id">
                                    {{esCategory.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('ESCategoryId').hasError('required')">Category is required.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.form" formControlName="ESForm" required>
                                <mat-option *ngFor="let esForm of esForms" [value]="esForm.value">
                                    {{esForm.label}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('ESForm').hasError('required')">Form is required.</mat-error>
                        </mat-form-field>
                        <div fxFlex="50">
                            <div class="activeLabel">
                                <mat-checkbox color="primary" formControlName="active">
                                    {{componentLabels.active}}
                                </mat-checkbox>
                            </div>
                        </div>

                    </div>

                    <div *ngIf="pageAct != 'view'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/settings/evaluationSheets']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/settings/evaluationSheets/view', evaluationSheet.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>