.bottom-buttons {
  margin-top: 20px;
}
.question-row > mat-list-item {
  font-size: 12px;
}
.header-row > mat-list-item {
  font-size: 14px;
  color: #99999a;
}

.question-row:hover .options {
    visibility: visible;
}