<div *ifPermitted="'feeStructures.find'" fxLayout="column" fxLayoutGap="10px">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn">
                    <a [routerLink]="['/fee-management/feeStructures/update', feeStructure.id]" mat-icon-button *ifPermitted="'feeStructures.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(feeStructure.id)" matTooltip="Delete" *ifPermitted="'feeStructures.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.title" formControlName="title" required>
                            <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.program" formControlName="programId" required>
                                <mat-option *ngFor="let program of programs" [value]="program.id">
                                    {{program.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programId').hasError('required')">Program is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <mat-select [placeholder]="componentLabels.programDetail" formControlName="programDetailId" required>
                                <mat-option *ngFor="let programDetail of programDetails" [value]="programDetail.id">
                                    {{programDetail.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program Detail is required.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout fxLayoutGap="10px">

                        <div fxLayout="column" fxLayoutGap="10px" fxFlex="50">

                            <div formArrayName="classes" *ngFor="let item of fg.get('classes')['controls']; let i = index; let last = last; let first = first;">
                                <div [formGroupName]="i">
                                    <mat-form-field fxFlex>
                                        <!-- TODO:medium have to disable element with reactive form -->
                                        <mat-select [placeholder]="componentLabels.class" formControlName="classId" [disabled]="!last || pageAct == 'view'" required>
                                            <mat-option *ngFor="let class of classes" [value]="class.id">
                                                {{class.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="item.controls['classId'].hasError('required')">Class is required.</mat-error>

                                    </mat-form-field>

                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </mat-card-content>
        </div>
    </mat-card>

    <!-- ***************************************************************************************************************************************
        This section is for fee heads and it must be written in individual view componenet    -->
    <div *ifPermitted="'feeStructures.findAllFeeHeads'">
        <mat-card fxFlex="100" class="mcard" *ngIf="feeHeadsLoaded" [@pageState]="pageState">
            <div>
                <mat-card-title class="mc-title"> Fee Heads </mat-card-title>
                <div class="mc-action-btn">
                    <a mat-icon-button (click)="addFeeHead(feeStructure.id)" *ifPermitted="'feeStructures.createFeeHead'">
                        <mat-icon matTooltip="Add Fee Head">add</mat-icon>
                    </a>
                </div>
            </div>
            <div *ifPermitted="'feeStructures.findAllFeeHeads'">
                <div *ngIf="feeStructure.feeHeads? feeStructure.feeHeads.length > 0? true: false: false">
                    <mat-list>
                        <div class="header-row" fxLayout>
                            <mat-list-item fxFlex="20">Title</mat-list-item>
                            <mat-list-item fxFlex="20">Type of Fee Head</mat-list-item>
                            <mat-list-item fxFlex="10">Amount</mat-list-item>
                            <mat-list-item fxFlex="20">Management Fee Format</mat-list-item>
                            <mat-list-item fxFlex="20">Management Fee Amount</mat-list-item>
                            <mat-list-item fxFlex="10"></mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list>

                    <div *ngFor="let item of feeStructure.feeHeads; let last = last">
                        <mat-list>
                            <div class="question-row" fxLayout>
                                <mat-list-item fxFlex="20"> {{item.feeHead.title}} </mat-list-item>
                                <mat-list-item fxFlex="20"> {{item.typeOfFeeHead.value}} </mat-list-item>
                                <mat-list-item fxFlex="10"> {{item.amount.toLocaleString()}} </mat-list-item>
                                <mat-list-item fxFlex="20"> {{item.managementFeeFormat}} </mat-list-item>
                                <mat-list-item fxFlex="20"> {{item.managementFeeAmount.toLocaleString()}}
                                    <span *ngIf="item.managementFeeFormat == managementFeeFormates.percentage">%</span>
                                </mat-list-item>
                                <mat-list-item fxFlex="10" class="options">
                                    <a mat-icon-button (click)="editFeeHead(item.id, item.feeHeadsId)" *ifPermitted="'feeStructures.editFeeHead'">
                                        <mat-icon matTooltip="Edit Fee Head">edit</mat-icon>
                                    </a>
                                    <a mat-icon-button (click)="deleteFeeHead(item.id)" matTooltip="Delete Fee Head" *ifPermitted="'feeStructures.deleteFeeHead'">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
                <div *ngIf="feeStructure.feeHeads? feeStructure.feeHeads.length == 0? true: false: false">
                    <mat-list>
                        <div class="question-row">
                            <mat-list-item>No Fee Heads added yet!</mat-list-item>
                        </div>
                    </mat-list>
                </div>

            </div>

        </mat-card>
    </div>
</div>