<div *ngIf="campus" [@pageState]="pageState" >


    <div class="table-cell" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout>
            <div fxFlex="20">
                <strong>{{componentLabels.campusName}}</strong>
            </div>
            <div>{{campus.campusName ? campus.campusName : 'N/A'}}</div>
        </div>
        <div fxLayout>
            <div fxFlex="20">
                <strong>{{componentLabels.officialEmail}}</strong>
            </div>
            <div>{{campus.officialEmail ? campus.officialEmail : 'N/A'}}</div>
        </div>
        <div fxLayout>
            <div fxFlex="20">
                <strong>{{componentLabels.website}}</strong>
            </div>
            <div>{{campus.website ? campus.website : 'N/A'}}</div>
        </div>
        <div fxLayout>
            <div fxFlex="20">
                <strong>{{componentLabels.campusLocation}}</strong>
            </div>
            <div>{{campus.campusLocation ? campus.campusLocation : 'N/A'}}</div>
        </div>
    </div>
</div>