.title-block{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 20px;
  color: #a0a0a0;
}
.infra-block{
  padding-top: 10px;
  padding-bottom: 20px;
}
.top-margin{
  padding-top: 20px;
}
.submit-class{
  color: #a0a0a0;
}