<section [formGroup]="fg" class="top-margin">

  <div fxLayout="row" fxLayoutGap="100px">
    <div style="color: #a0a0a0;">Whether the Premises is: </div>
    <div>
      <mat-radio-group formControlName="buildingType" (change)="ownRentedChange($event)">
        <mat-radio-button color="primary" [value]="building.own">Own</mat-radio-button>
        <mat-radio-button color="primary" [value]="building.rented">Rented</mat-radio-button>
        <mat-radio-button color="primary" [value]="building.lease">Lease</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div fxLayout="row" class="top-margin">

    <mat-form-field fxFlex="30" *ngIf="ownRentedCondition">
      <input matInput placeholder="Agreement Upto" formControlName="rentAgreementUpTo">
    </mat-form-field>

  </div>
  <div fxLayout="column">
    <div class="title-block"> Infrastructure</div>
    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Covered Area (in SQ.ft)" type="number" min="0" step="any" formControlName="coverdArea">
        <mat-error *ngIf="!fg.get('coverdArea').hasError('greaterThan') ">Covered area can not be in negative.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Open Area (in SQ.ft)" type="number" min="0" step="any" formControlName="openArea">
        <mat-error *ngIf="!fg.get('openArea').hasError('greaterThan') ">Open area can not be in negative.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Total Area (in SQ.ft)" type="number" min="0" step="any" formControlName="totalArea" [value]="fg.get('openArea').value + fg.get('coverdArea').value"   >
        <mat-error *ngIf="!fg.get('totalArea').hasError('greaterThan')">Total area can not be in negative</mat-error>

      </mat-form-field>

    </div>

    <!-- <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Rooms" type="number" min="0" formControlName="roomsQuantity">
        <mat-error *ngIf="!fg.get('roomsQuantity').hasError('greaterThan') &&  !fg.get('roomsQuantity').hasError('pattern')">Number of rooms can not be in negative.</mat-error>
        <mat-error *ngIf="fg.get('roomsQuantity').hasError('pattern') && !fg.get('roomsQuantity').hasError('greaterThan')">Number of rooms can not be in decimal.</mat-error>

      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Washrooms" type="number" min="0" formControlName="washroomsQuantity">
        <mat-error *ngIf="!fg.get('washroomsQuantity').hasError('greaterThan') && !fg.get('washroomsQuantity').hasError('pattern')">Number of washrooms can not be in negative.</mat-error>
        <mat-error *ngIf="fg.get('washroomsQuantity').hasError('pattern') && !fg.get('washroomsQuantity').hasError('greaterThan')">Number of washrooms can not be in decimal.</mat-error>

      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Labs" type="number" min="0" formControlName="labsQuantity">
        <mat-error *ngIf="!fg.get('labsQuantity').hasError('greaterThan') && !fg.get('labsQuantity').hasError('pattern')">Number of labs can not be in negative.</mat-error>
        <mat-error *ngIf="fg.get('labsQuantity').hasError('pattern') && !fg.get('labsQuantity').hasError('greaterThan')">Number of labs can not be in decimal.</mat-error>

      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between" *ngIf="staffAndStudentFields">



      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Students" type="number" min="0" formControlName="studentsQuantity">
        <mat-error *ngIf="!fg.get('studentsQuantity').hasError('greaterThan') && !fg.get('studentsQuantity').hasError('pattern')">Number of students can not be in negative.</mat-error>
        <mat-error *ngIf="fg.get('studentsQuantity').hasError('pattern') && !fg.get('studentsQuantity').hasError('greaterThan')">Number of students can not be in decimal.</mat-error>

      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Teaching Staff" type="number" min="0" formControlName="teachingStaffQuantity">
        <mat-error *ngIf="!fg.get('teachingStaffQuantity').hasError('greaterThan') && !fg.get('teachingStaffQuantity').hasError('pattern')">Number of teaching staff can not be in negative.</mat-error>
        <mat-error *ngIf="fg.get('teachingStaffQuantity').hasError('pattern') && !fg.get('teachingStaffQuantity').hasError('greaterThan')">Number of teaching staff can not be in decimal.</mat-error>

      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Non Teaching Staff" type="number" min="0" formControlName="nonTeachingStaffQty">
        <mat-error *ngIf="!fg.get('nonTeachingStaffQty').hasError('greaterThan') && !fg.get('nonTeachingStaffQty').hasError('pattern')">Number of non teaching staff can not be in negative.</mat-error>
        <mat-error *ngIf="fg.get('nonTeachingStaffQty').hasError('pattern') && !fg.get('nonTeachingStaffQty').hasError('greaterThan')">Number of non teaching can not be in decimal.</mat-error>

      </mat-form-field>

    </div>

    <div fxLayout="row" class="infra-block" fxLayoutAlign="space-between">


      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class">Playground:</div>
        <mat-radio-group formControlName="playGround">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class"> Cafeteria:</div>
        <mat-radio-group formControlName="cafeteria">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class">Swimming Pool:</div>
        <mat-radio-group formControlName="swimmingPool">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>


    <div fxLayout="row" class="infra-block" fxLayoutAlign="space-between">
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class"> Transport:</div>
        <mat-radio-group formControlName="transport">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class">Health Clinic:</div>
        <mat-radio-group formControlName="healthClinic">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class"> Library:</div>
        <mat-radio-group formControlName="library">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="row" class="infra-block" fxLayoutAlign="space-between">

      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class">Mosque:</div>
        <mat-radio-group formControlName="mosque">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40" class="submit-class"> Bank Branch:</div>
        <mat-radio-group formControlName="bankBranch">
          <mat-radio-button color="primary" [value]="true">Yes</mat-radio-button>
          <mat-radio-button color="primary" [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>




    </div> -->

    <div *ngIf="questionsArray">
        <div *ngFor="let qRow of questionsArray; let i = index">
  
          <div fxLayout="row" fxFlex="100" class="infra-block" fxLayoutAlign="space-between">
  
            <div *ngFor="let question of qRow; let index = index" fxFlex="30" style="    align-items: center">
  
              <div *ngIf="question.optionType != 'textInput'  && question.optionType != 'countInput'" fxLayout="row" fxFlex="100">
  
                <div fxFlex="40"  class="submit-class">{{question.question}}</div>
                <!-- [ngModelOptions]="{standalone: true}" [(ngModel)]="questionsArray[i][index].questions[index].answer"  -->
                <mat-radio-group name="answer-{{i}}-{{index}}" disabled fxLayoutGap="10px" [ngModelOptions]="{standalone: true}" (change)="inputChange()" [(ngModel)]="questionsArray[i][index].answer"  >
                  <mat-radio-button color="primary" *ngFor="let option of question.options" [value]="option">
                    {{option}}
                  </mat-radio-button>
                </mat-radio-group>
              </div>
  
              <div *ngIf="question.optionType == 'countInput'" fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex=100 >
                  <input type="number" matInput placeholder="{{question.question}}" disabled name="countValue-{{i}}-{{index}}" [ngModelOptions]="{standalone: true}" (change)="inputChange()" [(ngModel)]="questionsArray[i][index].answer">
                </mat-form-field>
              </div>
  
              <div *ngIf="question.optionType == 'textInput'" fxLayout="row" fxFlex="100">
                <mat-form-field fxFlex="100">
                  <input matInput placeholder="{{question.question}}" disabled name="answer-{{i}}-{{index}}" [ngModelOptions]="{standalone: true}" (change)="inputChange()" [(ngModel)]="questionsArray[i][index].answer">
                </mat-form-field>
              </div>
  
            </div>
  
          </div>
  
        </div>
      </div>

  </div>

</section>