.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}

.heading{
  color: grey;
}
.content {
  /* padding-left: 10px; */
  white-space: pre-line;
  padding-right: 20px;
  line-height: 1.5;
  text-align: justify;
}