<div *ifPermitted="'workFlows.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <mat-card>

            <div>
                <div fxFlex></div>
                <div class="top-buttons" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/settings/workFlow/update', workFlow.WFId]" mat-icon-button *ifPermitted="'workFlows.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>

                <shared-detail-view [data]="workFlow" [labels]="componentLabels" [showOnly]="['WFId', 'title', 'description']"></shared-detail-view>

            </mat-card-content>
        </mat-card>
        <div style="padding-top: 10px;">
            <work-flow-state [WFId]="id"></work-flow-state>
        </div>

        <div style="padding-top: 10px;">
            <wf-state-flow [WFId]="id"></wf-state-flow>
        </div>
    </div>


</div>