<div *ifPermitted="'roadMaps.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <!-- Material Data Table -->
    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
        <div>

            <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>


                <ng-container matColumnDef="title">
                    <div fxLayout="row" fxFlex="20">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['title']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title }} </mat-cell>
                    </div>

                </ng-container>

                <ng-container matColumnDef="programDetail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> {{attrLabels['programDetailId']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="20"> {{element.programDetailName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="numberOfCourses">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10"> {{attrLabels['numberOfCourses']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="10"> {{element.numberOfCourses}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="totalCreditHours">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="15"> {{attrLabels['totalCreditHours']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element" fxFlex="15"> {{element.totalCreditHours}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef fxFlex="15"> </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="options" fxFlex="15">
                        <a [routerLink]="['/academic/roadMaps/view', element.id]" mat-icon-button *ifPermitted="'roadMaps.find'">
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>
                        <a [routerLink]="['/academic/roadMaps/update', element.id]" mat-icon-button *ifPermitted="'roadMaps.update'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                        <a mat-icon-button (click)="deleteRoadMap(element.id)" matTooltip="Delete" *ifPermitted="'roadMaps.delete'">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>

    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/academic/roadMaps/create']" *ifPermitted="'roadMaps.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->