<div fxLayout *ngFor="let esSection of esSections">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title"> {{esSection.title}} </mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="editESSection(esSection.id)" *ifPermitted="'esSections.update'">
                    <mat-icon matTooltip="Edit Section">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(esSection.id)" matTooltip="Delete Section" *ifPermitted="'esSections.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
                <a mat-icon-button (click)="addESQuestion(esSection.id)" *ifPermitted="'esQuestions.create'">
                    <mat-icon matTooltip="Add Question">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <settings-es-question-view *ngIf="loaded" [ESSectionId]="esSection.id">
            </settings-es-question-view>
        </mat-card-content>
    </mat-card>
</div>

<div fxLayout *ngIf="loaded && esSections.length == 0">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <mat-card fxFlex="100" class="mcard">
        <div>
            <mat-card-title class="mc-title">Sections</mat-card-title>
        </div>
        <mat-card-content>
            <p>N/A</p>
        </mat-card-content>
    </mat-card>
</div>