.options {
  text-align: end;
  visibility: hidden;
}
.doc-row:hover .options {
  visibility: visible;
}
.delete-icon {
  color: #f44336;
}
.doc-header > mat-list-item {
  font-size: 16px;
}

.doc-row > mat-list-item {
  font-size: 14px;
}
