<div *ifPermitted="'documents.findByDocFor'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">
        <mat-list>
            <div fxLayout="row" class="doc-header">
                <mat-list-item fxFlex="50">
                    <h4>
                        {{attrLabels.title}}
                    </h4>
                </mat-list-item>
                <mat-list-item fxFlex="30">
                    <h4>
                        {{attrLabels.docType}}
                    </h4>
                </mat-list-item>

                <mat-list-item fxFlex="20"></mat-list-item>
            </div>
            <mat-divider></mat-divider>
            <div *ngFor="let element of data">
                <div fxLayout="row" class="doc-row">
                    <mat-list-item fxFlex="50"> {{element.title}} </mat-list-item>
                    <mat-list-item fxFlex="30"> {{docTypes[element.docType].title}} </mat-list-item>

                    <mat-list-item fxFlex="20" class="options" fxLayout="row" fxLayoutAlign="end">

                        <a (click)="editDocument(element.id)" mat-icon-button *ifPermitted="'documents.update'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                        <a mat-icon-button (click)="deleteDocument(element.id)" matTooltip="Delete" *ifPermitted="'documents.delete'">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-list-item>
                </div>
                <mat-divider></mat-divider>
            </div>
        </mat-list>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" (click)="addDocument()">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>