<div *ifPermitted="'viewTimeTable.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['title']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="programDetail">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['programDetail']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.programDetail}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="classTitle">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['classTitle']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.classTitle}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/time-table/viewTimeTable/view', element.id]" mat-icon-button *ifPermitted="'viewTimeTable.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>


                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <!-- <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/time-table/viewTimeTable/create']" *ifPermitted="'viewTimeTable.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div> -->
</div>