.mr-10{
  margin-right:10px;
}

.sf-na{
  /* font-weight:bold; */
  /* border: 1px solid gray; */
  /* border-radius: 12px; */
  padding: 3px 6px 3px 5px;
  cursor: pointer;
  /* background: lightgray; */
}
.sf{
  /* font-weight:bold; */
  color:white;
  border: 1px solid #1F9CD9;
  border-radius: 12px;
  padding: 3px 6px 3px 5px;
  background: #7A77A9;
}