<div *ngIf="!searchIt" (click)="searchIt = true" style="text-align:right">
    Search
</div>
<div fxLayout="row" *ngIf="searchIt">
    <div fxFlex=70 style="line-height:23px">

        <div style="margin:6px;" *ngFor="let filterOptItem of filterOptions['filter']" fxLayout="row">

            <div class="mr-10" style="text-align:right; color:#7A77A9" fxFlex="20">
                <strong>{{filterOptItem['heading']}}:</strong>
            </div>

            <div fxFlex style="font-size:13px;">
                <div *ngFor="let item of filterOptItem['options']" style="float:left;">
                    <a class="mr-10" (click)="filterData(filterOptItem['field'], item['val'])" class="sf-na" [ngClass]="{'sf' : filterParams['f_' + filterOptItem['field']] == item['val']}">{{item['title']}}</a>
                </div>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>

    <div fxFlex>

        <!-- fxLayoutGap="10px" -->
        <div fxLayout="row" *ngFor="let saItem of searchAry; let i = index;" fxLayoutGap="10px">

            <mat-form-field fxFlex="50">
                <mat-select placeholder="Field" (change)="dropDownChange($event, saItem)" [(ngModel)]="saItem.key">
                    <mat-option *ngFor="let item of filterOptions['search']['fields']" [value]="item['field']"> {{filterOptions['search']['labels'][item['field']]}} </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Normal Text Field -->
            <mat-form-field *ngIf="!saItem['input'] || saItem['input'] == 'filed'" fxFlex="40">
                <input matInput placeholder="Search" [(ngModel)]="saItem.val">
            </mat-form-field>

            <!-- Number input -->
            <mat-form-field *ngIf="saItem['input'] == 'number'" fxFlex="40">
                <input matInput placeholder="Search" [(ngModel)]="saItem.val" type="number">
            </mat-form-field>

            <!-- Dropdown input -->
            <mat-form-field *ngIf="saItem['input'] == 'dropdown'" fxFlex="40">
                <mat-select placeholder="Select" [(ngModel)]="saItem.val">
                    <mat-option *ngFor="let fieldOption of saItem['options']" [value]="fieldOption['val']"> {{fieldOption['lbl']}} </mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Datepicker input -->
            <mat-form-field *ngIf="saItem['input'] == 'datepicker'" fxFlex="40">
                <input matInput [matDatepicker]="picker" placeholder="Select Date" [(ngModel)]="saItem.val">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>

            <!-- *ngIf="searchAry.length > 1" -->
            <div fxFlex style="text-align:right;">
                <a (click)="delItem(i)">
                    <mat-icon matTooltip="View" style="margin-top:15px;">close</mat-icon>
                </a>
            </div>
        </div>

        <div fxLayout="row">
            <span fxFlex></span>
            <a (click)="addMore()" style="margin-top:17px; margin-right:7px;">Add condition</a>
            <button mat-raised-button color="primary" (click)="search()" *ngIf="searchAry.length > 0">Search</button>
        </div>
        <!-- <a (click)="addMore()">Add condition</a> -->
        <!-- <a (click)="search()" *ngIf="searchAry.length > 0">Search</a> -->


    </div>

</div>