<header fxLayout="row" fxLayoutAlign="space-between" class="header-block">
  <div fxLayout="row" routerLink="/home">
    
    <img src="assets/images/idrak-logo.svg" alt="Idrak" class="logo">
    <h2>Education Information System</h2>

  </div>
  <div class="header-nav" fxLayoutAlign="space-evenly">
    <a  routerLink="/home">Login</a>
    <!-- <a href="#">FAQ</a>
    <a href="#">Contact</a> -->
  </div>



</header>