<div *ifPermitted="'configurations.find'">

    <div>

        <div class="dialog-title">
            {{data.action}}: {{selectedConfiguration.label}}
        </div>

        <form [formGroup]="fg" (ngSubmit)="saveData(fg.value)" #form="ngForm" fxLayout="column" fxLayoutGap="10px">
            <div fxLayout="row">
                <mat-form-field fxFlex>
                    <input matInput [placeholder]="selectedConfiguration.label" formControlName="value" required [autofocus]="true" type="{{selectedConfiguration.type}}">
                    <mat-error *ngIf="fg.get('value').hasError('required')">Name is Required.</mat-error>
                    <mat-error *ngIf="fg.get('value').hasError('notInteger') ">Entered value is not an integer.</mat-error>
                </mat-form-field>

                <mat-form-field *ngIf="hasParent" fxFlex>
                    <mat-select [placeholder]="'Select ' + parentLabel" formControlName="parentKeyId" required mat-autofocus>
                        <mat-option *ngFor="let parent of parentList" [value]="parent.id" mat-autofocus>
                            {{ parent.value }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('parentKeyId').hasError('required')">This field is Required.</mat-error>
                </mat-form-field>

                <div formArrayName="configurationOptions" *ngFor="let item of fg.get('configurationOptions')['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <mat-form-field fxFlex>
                            <input class="lower-to-capital" matInput [placeholder]="item['controls']['label']['value']" formControlName="value" [required]="item['controls']['required']['value']">
                            <mat-error *ngIf="item.controls['value'].hasError('required')">{{ item['controls']['label']['value'] }} is required.</mat-error>
                        </mat-form-field>
                    </div>

                </div>
            </div>
                <div *ifPermitted="'configurations.create'">
                    <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">Save</button>
                    <button mat-raised-button mat-dialog-close type="button" color="accent" (click)="onNoClick()">Cancel</button>
                </div>
       

        </form>
    </div>

</div>