<mat-card *ifPermitted="'profile.changePassword'">

    <mat-card-content>
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="column" fxLayoutGap="10px">
                <div fxLayout>
                    <mat-form-field fxFlex="50">
                        <input type="password" matInput [placeholder]="profileLabels.currentPassword" formControlName="currentPassword" required [autofocus]="true">
                        <mat-error *ngIf="fg.get('currentPassword').hasError('required')">Current Password is required</mat-error>
                        <mat-error *ngIf="fg.get('currentPassword').hasError('notValid')">Invalid current password</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field fxFlex="50">
                        <input type="password" matInput [placeholder]="profileLabels.newPassword" formControlName="newPassword" required>
                        <mat-error *ngIf="fg.get('newPassword').hasError('required')">New Password is required</mat-error>
                        <mat-error *ngIf="fg.get('newPassword').hasError('minlength')">New Password should be greator than 5 characters long</mat-error>
                        <mat-error *ngIf="fg.get('newPassword').hasError('maxlength')">New Password should be less than 30 characters</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <mat-form-field fxFlex="50">
                        <input type="password" matInput [placeholder]="profileLabels.confirmNewPassword" formControlName="confirmNewPassword" required>
                        <mat-error *ngIf="fg.get('confirmNewPassword').hasError('required')">Confirm Password is required</mat-error>
                        <mat-error *ngIf="fg.get('confirmNewPassword').hasError('equalTo') && !fg.get('confirmNewPassword').hasError('required') ">Password did not match</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a mat-raised-button [routerLink]="['/profile/view', profileId]">Cancel</a>
                </div>
            </div>

        </form>
    </mat-card-content>
</mat-card>