<div [@pageState]="pageState" style="margin-top:50px">
    <div class="parent">

        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'campus.index'" class="child" [icon]="'list_alt'" [label]="'Campuses'"
            [link]="['/campus/campus']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'preRegistrations.index'" class="child" [icon]="'list_alt'" [label]="'Pre-Registrations'"
            [link]="['/campus/pre-registrations']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'postRegistrations.index'" class="child" [icon]="'list_alt'"
            [label]="'Post-Registrations'" [link]="['/campus/post-registrations']"></shared-dashboard-widget-link>

    </div>

</div>