<div *ifPermitted="'roadMaps.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card class="mcard" *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="mc-action-btn" *ngIf="pageAct == 'view'">

                <a [routerLink]="['/academic/roadMaps/update', roadMap.id]" mat-icon-button *ifPermitted="'roadMaps.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(roadMap.id)" matTooltip="delete" *ifPermitted="'roadMaps.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content *ngIf="loaded">
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px">

                <div fxLayout="column" fxLayoutGap="20px">
                    <div fxLayout="row">
                        <div fxFlex="30" class="heading">{{attrLabels['title']}}</div>
                        <div fxFlex="70">{{roadMap.title}}</div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="30" class="heading">{{attrLabels['programDetailId']}}</div>
                        <div fxFlex="70">{{roadMap.programDetail.program.educationLevel.education + '-' + roadMap.programDetail.program.name + '-' + roadMap.programDetail.name}}</div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="30" class="heading">{{attrLabels['academicYear']}}</div>
                        <div fxFlex="70">{{roadMap.academicYear}}</div>
                    </div>
                    <div fxLayout="row">
                        <div fxFlex="30" class="heading">{{attrLabels['category']}}</div>
                        <div fxFlex="70" *ngIf="roadMap.category">{{categories[roadMap.category].title}}</div>
                    </div>

                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div style="padding-top: 10px;" *ngIf="!deleteView && loaded && 'roadMapCourses.create'">
        <academic-roadmap-course-view [roadMap]="roadMap"></academic-roadmap-course-view>
    </div>

</div>