<div *ifPermitted="'users.create'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a [routerLink]="['/security/users']" mat-icon-button *ifPermitted="'users.index'">
                    <mat-icon matTooltip="list">list</mat-icon>
                </a>
                <a [routerLink]="['/security/users/update', user.id]" mat-icon-button *ifPermitted="'users.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(user.id)" matTooltip="delete" *ifPermitted="'users.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content *ngIf="loaded">
            <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">
                <mat-card-title class="mc-title">User Information: </mat-card-title>
                <div class="user-info">
                    <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="stretch center">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="userLabels.username" formControlName="username" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('username').hasError('required')">Username is required</mat-error>
                            <mat-error *ngIf="fg.get('username').hasError('email') && !fg.get('username').hasError('required') ">Invalid email</mat-error>
                            <mat-error *ngIf="fg.get('username').hasError('exists')">Email already exists in system. Enter a different one.</mat-error>
                        </mat-form-field>
                        <div>
                            <mat-checkbox color="primary" fxFlex="50" formControlName="isActive">
                                {{userLabels.isActive}}
                            </mat-checkbox>
                        </div>


                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50" *ngIf="pageAct != 'update'">
                            <input type="password" matInput [placeholder]="userLabels.password" formControlName="password" required>
                            <mat-error *ngIf="fg.get('password').hasError('required')">Password is required</mat-error>
                            <mat-error *ngIf="fg.get('password').hasError('equalTo') && !fg.get('password').hasError('required') ">Password did not match</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50" *ngIf="pageAct != 'update'">
                            <input type="password" matInput [placeholder]="userLabels.confirmPassword" formControlName="confirmPassword" required>
                            <mat-error *ngIf="fg.get('confirmPassword').hasError('required')">Confirm Password is required</mat-error>
                            <mat-error *ngIf="fg.get('confirmPassword').hasError('equalTo') && !fg.get('confirmPassword').hasError('required')">Password did not match</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-card-title class="mc-title">Profile Information: </mat-card-title>

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="userLabels.name" formControlName="name" required>
                        <mat-error *ngIf="fg.get('name').hasError('required')">Name is required</mat-error>
                    </mat-form-field>

                    <div fxLayout="row" fxFlex="50">
                        <mat-form-field fxFlex="20">

                            <mat-select [placeholder]="userLabels.countryCode" formControlName="countryCode">
                                <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                    {{country.abbreviation + ' (' + country.countryCode + ')'}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="80">
                            <input matInput [placeholder]="userLabels.phoneNumber" formControlName="phoneNumber" [textMask]="{mask: phoneNumberMask}"
                                [readonly]="!fg.get('countryCode').value">
                        </mat-form-field>
                    </div>

                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="userLabels.address" formControlName="address">
                    </mat-form-field>
                    <div fxFlex="50" fxLayout fxLayoutAlign="start center">
                        <div fxFlex="20" class="genderLabel">
                            Gender:
                        </div>
                        <mat-radio-group formControlName="gender">
                            <mat-radio-button color="primary" value="male">Male</mat-radio-button>
                            <mat-radio-button color="primary" value="female">Female</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>


                <div *ngIf="pageAct != 'view'">
                    <button mat-raised-button type="submit" [disabled]="pageAct != 'update' && fg.invalid" color="primary">Save</button>
                    <a color="accent" *ngIf="pageAct == 'add'" mat-raised-button [routerLink]="['/security/users']">Cancel</a>
                    <a color="accent" *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/security/users/view', user.id]">Cancel</a>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>