<div *ifPermitted="'evaluationSheets.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <mat-card class="mcard">

            <div>
                <div class="mc-action-btn">
                    <a [routerLink]="['/settings/evaluationSheets/update', evaluationSheet.id]" mat-icon-button *ifPermitted="'evaluationSheets.update'">
                        <mat-icon matTooltip="Edit Evaluation Sheet">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(evaluationSheet.id)" matTooltip="Delete Evaluation Sheet" *ifPermitted="'evaluationSheets.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>

                <mat-card-content>
                    <shared-detail-view [data]="{title: evaluationSheet.title, category: evaluationSheet.esCategory.name, form: evaluationSheet.ESForm, active: evaluationSheet.active}"
                        [labels]="componentLabels" [showOnly]="['title', 'category', 'form', 'active']">
                    </shared-detail-view>
                </mat-card-content>
            </div>
        </mat-card>

        <mat-accordion *ifPermitted="'evaluationSheets.findAllESSections'">
            <mat-expansion-panel *ngFor="let esSection of esSections" (opened)="findAllESQuestions(esSection.id)">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{esSection.title}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div *ifPermitted="'esQuestions.findAllESQuestions'">
                    <div *ngIf="esSection.questions? esSection.questions.length > 0? true: false: false">
                        <mat-list>
                            <div class="header-row" fxLayout>
                                <mat-list-item fxFlex="40">Question</mat-list-item>
                                <mat-list-item fxFlex="10">Remarks</mat-list-item>
                                <mat-list-item fxFlex="10">Count</mat-list-item>
                                <mat-list-item fxFlex="30">Options</mat-list-item>
                                <mat-list-item fxFlex="10"></mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list>

                        <div *ngFor="let esQuestion of esSection.questions; let last = last">
                            <mat-list>
                                <div class="question-row" fxLayout>
                                    <mat-list-item fxFlex="40"> {{esQuestion.question}} </mat-list-item>
                                    <mat-list-item fxFlex="10">
                                        <mat-checkbox color="primary" [checked]="esQuestion.remarksField" disabled="true"></mat-checkbox>
                                    </mat-list-item>
                                    <mat-list-item fxFlex="10">
                                        <mat-checkbox color="primary" [checked]="esQuestion.countField" disabled="true"></mat-checkbox>
                                    </mat-list-item>
                                    <mat-list-item fxFlex="30" *ngIf="esQuestion.optionType != 'textInput' && esQuestion.optionType != 'textArea'">
                                        <div fxLayout="row wrap">
                                            <div *ngFor="let option of esQuestion.options; let end = last">{{option.optionString}}
                                                <span *ngIf="!end">,</span>
                                            </div>
                                        </div>
                                    </mat-list-item>
                                    <mat-list-item fxFlex="30" *ngIf="esQuestion.optionType == 'textInput'">Custom Answer (text input)</mat-list-item>
                                    <mat-list-item fxFlex="30" *ngIf="esQuestion.optionType == 'textArea'">Custom Answer (text area)</mat-list-item>
                                    <mat-list-item fxFlex="10" class="options">
                                        <a mat-icon-button (click)="editESQuestion(esSection.id, esQuestion.id)" *ifPermitted="'esQuestions.update'">
                                            <mat-icon matTooltip="Edit Question">edit</mat-icon>
                                        </a>
                                        <a mat-icon-button (click)="deleteESQuestion(esSection.id, esQuestion.id)" matTooltip="Delete Question" *ifPermitted="'esQuestions.delete'">
                                            <mat-icon color="warn">delete</mat-icon>
                                        </a>
                                    </mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>
                    </div>
                    <div *ngIf="esSection.questions? esSection.questions.length == 0? true: false: false">
                        <mat-list>
                            <div class="question-row">
                                <mat-list-item>No Questions yet added</mat-list-item>
                            </div>
                        </mat-list>
                    </div>

                </div>

                <mat-action-row>
                    <div fxFlex="100" fxLayoutAlign="space-between stretch">
                        <div>
                            <button *ifPermitted="'esQuestions.create'" mat-button color="primary" (click)="addESQuestion(esSection.id)">Add Question</button>
                            <button *ifPermitted="'esSections.update'" mat-button color="primary" (click)="editESSection(esSection.id)">Update Section</button>
                        </div>
                        <div>
                            <button *ifPermitted="'esSections.delete'" mat-button color="warn" (click)="deleteESSection(esSection.id)">Delete Section</button>
                        </div>
                    </div>
                </mat-action-row>
            </mat-expansion-panel>

        </mat-accordion>

        <div class="action-row" *ngIf="esSections && checkForSections()">
            <button mat-button color="primary" (click)="addESSection(evaluationSheet.id)" *ifPermitted="'esSections.create'">Add Section</button>
        </div>
    </div>

</div>