<div *ifPermitted="'timeTable.create'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a [routerLink]="['/time-table/timeTable']" mat-icon-button *ifPermitted="'timeTables.index'">
                    <mat-icon matTooltip="Edit">list</mat-icon>
                </a>
                <a [routerLink]="['/time-table/timeTable/update', timeTable.id]" mat-icon-button *ifPermitted="'timeTable.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
            </div>


            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.programDetailId" formControlName="programDetailId" (change)="programDetailChange($event)" required >
                                <mat-option *ngFor="let progDetail of programDetails" [value]="progDetail.id" >
                                   
                                    <!-- {{ progDetail.program.educationLevel.instituteType.name }} -  -->
                                    {{ progDetail.program.educationLevel.education }} - {{ progDetail.program.name
                                    }} - {{ progDetail.name }}
                                   
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program Detail is required.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">

                        
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.classId" formControlName="classId" required>
                                <mat-option *ngFor="let classDetail of classDetails" [value]="classDetail.id">
                                    {{classDetail.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('classId').hasError('required')">Class is required.</mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="pageAct != 'view'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/time-table/timeTable']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/time-table/timeTable/view', timeTable.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>