<div *ifPermitted="'feeStructures.findFeeHead'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{pageTitle}}: {{feeStructureTitle}}
        </div>
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="column" fxLayoutGap="10px">

                <mat-form-field>
                    <mat-select [placeholder]="componentLabels.feeHead" formControlName="feeHeadsId" required [autofocus]="true">
                        <mat-option *ngFor="let feeHead of feeHeads" [value]="feeHead.id">
                            {{feeHead.title}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('feeHeadsId').hasError('required')">Fee Head is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-select [placeholder]="componentLabels.typeOfFeeHead" formControlName="typeOfFeeHeadId" required>
                        <mat-option *ngFor="let typeOfFeeHead of typeOfFeeHeads" [value]="typeOfFeeHead.id">
                            {{typeOfFeeHead.value}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('typeOfFeeHeadId').hasError('required')">Type of Fee Head is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input type="number" matInput [placeholder]="componentLabels.amount" formControlName="amount" required>
                    <mat-error *ngIf="fg.get('amount').hasError('required')">Amount is required.</mat-error>
                </mat-form-field>
                <div fxLayout="row" fxLayoutGap="20px">
                    <label>
                        <b> {{componentLabels.managementFeeFormat}}</b>
                    </label>
                    <mat-radio-group fxLayout="row" fxLayoutGap="10px" formControlName="managementFeeFormat">
                        <mat-radio-button color="primary" value="{{managementFeeFormates.percentage}}" (change)="mfFormatChange($event.value)">Percentage</mat-radio-button>
                        <mat-radio-button color="primary" value="{{managementFeeFormates.amount}}" (change)="mfFormatChange($event.value)">Amount</mat-radio-button>
                    </mat-radio-group>
                </div>
                <mat-form-field>
                    <input type="number" matInput [placeholder]="'Management Fee ' + selectedManagementFeeFormate" formControlName="managementFeeAmount"
                        required>
                    <mat-error *ngIf="fg.get('managementFeeAmount').hasError('required')">Management Fee Amount is required.</mat-error>
                </mat-form-field>

            </div>

            <div *ifPermitted="'feeStructures.createFeeHead'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>