<router-outlet></router-outlet>

<div *ngIf="loadingRouteConfig" class="m-overlay" [@pageState]="pageState">
    <!-- <mat-spinner [diameter]="80"></mat-spinner> -->
    <img src="assets/images/loader.gif"/>
</div>