<div fxLayout="column">
  <agm-map [latitude]="lat" [longitude]="lng" [zoom]="10" (mapClick)="mapClicked($event)">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
  <div class="action">
      <button mat-raised-button type="button" color="primary" (click)="locationAdded()">Done</button>
      
  </div>

</div>