<div *ifPermitted="'campus.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div [@pageState]="pageState">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">

            <div fxLayout fxLayoutGap="10px" class="list-header">
                <mat-form-field fxFlex="100">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>

            <div>
                <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="campusId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ componentLabels.campusId}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.campusId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="campusName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{componentLabels.campusName}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.campusName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="codeNumber">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{componentLabels.codeNumber}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.codeNumber }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{componentLabels.email}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/campus/campus/', element.id]" mat-icon-button *ifPermitted="'campus.findCampus'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>

</div>