<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ifPermitted="'WFStateFlows.findById'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{data.type}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.fromId" formControlName="fromId" required>
                        <mat-option *ngFor="let state of wfState" [value]="state.id">{{state.title}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('fromId').hasError('required') ">From is Required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.toId" formControlName="toId" required>
                        <mat-option *ngFor="let state of wfState" [value]="state.id">{{state.title}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('toId').hasError('required') ">To is Required.</mat-error>
                </mat-form-field>



            </div>

            <div fxLayout="column" fxLayoutGap="10px">


                <div formArrayName="emailTemplateList" *ngFor="let item of fg.get('emailTemplateList')['controls']; let i = index;">
                    <div [formGroupName]="i">
                        <mat-form-field fxFlex="40">
                            <mat-select [placeholder]="componentLabels.emailTemplateId" formControlName="emailTemplateId" *ifPermitted="'emailTemplates.findAttributesList'"
                                (change)="eventEmailTemplateSelection($event)">
                                <div *ngFor="let emailTemplate of emailTemplates">
                                    <mat-option [value]="emailTemplate.id">
                                        {{emailTemplate.name}}
                                    </mat-option>
                                </div>

                            </mat-select>
                        </mat-form-field>

                        <button mat-icon-button type="button" (click)="removeEmailTemplates(i,item)">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </div>
                </div>

                <a (click)="addEmailTemplatesClick()" matTooltip="Add Email Template">
                    Add Email Template
                </a>

            </div>

            <!-- <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <textarea matInput [placeholder]="componentLabels.description" rows="5" formControlName="description"></textarea>
                </mat-form-field>
            </div> -->

            <div *ifPermitted="'WFStateFlows.create'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>