<div *ifPermitted="'boards.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ngIf="board">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/settings/board']" mat-icon-button *ifPermitted="'boards.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/settings/board/update', board.id]" mat-icon-button *ifPermitted="'boards.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(board.id)" matTooltip="delete" *ifPermitted="'boards.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <input matInput #name maxlength="100" [placeholder]="componentLabels.name" formControlName="name" required [autofocus]="true"> 
                                <mat-error *ngIf="fg.get('name').hasError('required')">Board Name is required.</mat-error>
                                <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>

                                <mat-hint align="end">{{name.value.length}} / 100</mat-hint>

                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input class="lower-to-capital" #abbreviation maxlength="10" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                                <mat-hint align="end">{{abbreviation.value.length}} / 10</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.website" #website maxlength="100" formControlName="website" required>
                                <mat-error *ngIf="fg.get('website').hasError('required')">Website is required.</mat-error>
                                <mat-error *ngIf="fg.get('website').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                                <mat-hint align="end">{{website.value.length}} / 100</mat-hint>

                            </mat-form-field>
                            <div fxLayout="row" fxFlex="50">
                                <mat-form-field fxFlex="20">

                                    <mat-select [placeholder]="componentLabels.countryCode" formControlName="countryCode" required>
                                        <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                            {{country.abbreviation + ' (' + country.countryCode + ')'}}

                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                                <mat-form-field fxFlex="80">

                                    <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" required [textMask]="{mask: mobileMask}" >
                                    <mat-error *ngIf="fg.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                                </mat-form-field>
                            </div>

                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="100">
                                <input matInput [placeholder]="componentLabels.address" #address maxlength="200" formControlName="address" required>
                                <mat-error *ngIf="fg.get('address').hasError('required')">Address is required.</mat-error>
                                <mat-error *ngIf="fg.get('address').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                                <mat-hint align="end">{{address.value.length}} / 200</mat-hint>

                            </mat-form-field>

                        </div>
                    </div>

                    <div>


                        <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'boards.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'boards.create'">
                                <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/settings/board']">Cancel</a>

                            </div>
                            <div *ifPermitted="'boards.create'">
                                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/settings/board/view', board.id]">Cancel</a>
                            </div>
                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
    <div class="noc-content" *ifPermitted="'boards.findAllNOCNotRequiredBoards'">
        <mat-card class="mcard" *ngIf="pageAct == 'view'">
            <div>
                <div class="mc-action-btn" *ifPermitted="'boards.addNOCNotRequired'">
                    <a mat-icon-button (click)="addBoardNOC(board.id)">
                        <mat-icon matTooltip="Add NOC">add</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-title class="mc-title">Board's NOC (not required)</mat-card-title>

            <mat-card-content>
                <div *ngIf="boardNOC? boardNOC.length > 0? true: false: false">
                    <mat-list>
                        <div class="header-row" fxLayout>
                            <mat-list-item fxFlex="40">{{componentLabels.name}}</mat-list-item>
                            <mat-list-item fxFlex="20">{{componentLabels.abbreviation}}</mat-list-item>
                            <mat-list-item fxFlex="40"></mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </mat-list>

                    <div *ngFor="let item of boardNOC; let last = last">
                        <mat-list>
                            <div class="question-row" fxLayout>
                                <mat-list-item fxFlex="40"> {{item.boardNOC.name}} </mat-list-item>
                                <mat-list-item fxFlex="20"> {{item.boardNOC.abbreviation}} </mat-list-item>
                                <mat-list-item fxLayoutAlign="end" fxFlex="40" class="options">
                                    <a mat-icon-button (click)="deleteBoardNOC(item.id)" matTooltip="Delete NOC" *ifPermitted="'boards.deleteNOCNotRequuired'">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                        </mat-list>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>