<mat-card *ifPermitted="'profile.update'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="profileLabels.name" formControlName="name" [autofocus]="true">
                </mat-form-field>

                <div fxFlex="50" fxLayout="row">
                    <mat-form-field fxFlex="20">

                        <mat-select [placeholder]="profileLabels.countryCode" formControlName="countryCode" required>
                            <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                {{country.abbreviation + ' (' + country.countryCode + ')'}}

                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="80">

                        <input matInput [placeholder]="profileLabels.phoneNumber" formControlName="phoneNumber" [textMask]="{mask: phoneNumberMask}">
                    </mat-form-field>
                </div>

            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="profileLabels.address" formControlName="address">
                </mat-form-field>
                <div fxFlex="50" fxLayout fxLayoutAlign="start center">
                    <div fxFlex="20" class="genderLabel">
                        Gender:
                    </div>
                    <mat-radio-group formControlName="gender">
                        <mat-radio-button color="primary" value="male">Male</mat-radio-button>
                        <mat-radio-button color="primary" value="female">Female</mat-radio-button>
                    </mat-radio-group>
                </div>
            </div>

            <button mat-raised-button type="submit" color="primary">Update</button>
            <a mat-raised-button [routerLink]="['/profile/view', profile.id]">Cancel</a>
        </form>
    </mat-card-content>
</mat-card>