<div>
    <!-- <shared-page-loader *ngIf="!loaded"> </shared-page-loader> -->
    <div>
        <div class="dialog-title">
            Assign Group to: {{userGroup.userName}}
        </div>

        <form (ngSubmit)="submit()" #form="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex style="margin:15px 0px;">
                    <mat-select placeholder="Select Group" name="group" [(ngModel)]="userGroup.groupId" required>
                        <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="buttons-row">
                <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">Assign</button>
                <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
            </div>
        </form>
    </div>
</div>