<div fxLayout *ifPermitted="'WFStateFlows.list'">
    <!-- <shared-page-loader *ngIf="!loaded"> </shared-page-loader> -->
    <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title">Workflow Permission</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addClick()" *ifPermitted="'WFStateFlows.create'">
                    <mat-icon matTooltip="Add Flow">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let row of roleWFStateFlow">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{row['title']}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div fxLayoutAlign="end">
                        <a mat-icon-button (click)="editClick(row.WFId)" *ifPermitted="'WFStateFlows.create'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                    </div>

                    <mat-table #table [dataSource]="row['flows']">


                        <ng-container matColumnDef="from">
                            <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="to">
                            <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                         <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>

                </mat-expansion-panel>

            </mat-accordion>

        </mat-card-content>
    </mat-card>
</div>