<div *ifPermitted="'esCategories.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/settings/esCategories']" mat-icon-button *ifPermitted="'esCategories.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/settings/esCategories/update', esCategory.id]" mat-icon-button *ifPermitted="'esCategories.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(esCategory.id)" matTooltip="Delete" *ifPermitted="'esCategories.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.name" formControlName="name" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="pageAct != pageActions.view">

                        <div *ifPermitted="'esCategories.create'">
                            <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/settings/esCategories']">Cancel</a>
                            <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/settings/esCategories/view', esCategory.id]">Cancel</a>
                        </div>

                    </div>
                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>