<div *ifPermitted="'section.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ngIf="section">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/time-table/section']" mat-icon-button *ifPermitted="'section.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/time-table/section/update', section.id]" mat-icon-button *ifPermitted="'section.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(section.id)" matTooltip="delete" *ifPermitted="'section.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <input matInput #title maxlength="100" [placeholder]="componentLabels.title" formControlName="title" [autofocus]="true">
                                <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                                <mat-error *ngIf="fg.get('title').hasError('maxlength')">Exceeding Maximum length.</mat-error> 
                                
                                <mat-hint align="end">{{title.value.length}} / 100</mat-hint>
                                
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input class="lower-to-capital" #abbreviation maxlength="10" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" >
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum length.</mat-error> 
                                <mat-hint align="end">{{abbreviation.value.length}} / 10</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.sectionId"  #sectionId maxlength="20" formControlName="sectionId" >
                                <mat-error *ngIf="fg.get('sectionId').hasError('required')">ID is required.</mat-error>
                                <mat-error *ngIf="fg.get('sectionId').hasError('maxlength')">Exceeding Maximum length.</mat-error> 
                                <mat-hint align="end">{{sectionId.value.length}} / 20</mat-hint>
                                
                            </mat-form-field>
                           
                        </div>
                    </div>
                    

                    <div>


                        <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'section.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'section.create'">
                                <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/time-table/section']">Cancel</a>

                            </div>
                            <div *ifPermitted="'section.create'">
                                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/time-table/section/view', section.id]">Cancel</a>
                            </div>
                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>