<shared-page-loader *ngIf="!loaded"> </shared-page-loader>

<mat-card *ngIf="loaded" [@pageState]="pageState">

    <div *ifPermitted="'programs.find'">
        <div fxFlex></div>
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a matTooltip="Edit" [routerLink]="['/academic/programs']" mat-icon-button *ifPermitted="'programs.index'">
                <mat-icon>list</mat-icon>
            </a>
            <a [routerLink]="['/academic/programs/update', program.id]" mat-icon-button *ifPermitted="'programs.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="delete(program.id)" matTooltip="delete" *ifPermitted="'programs.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.educationLevelId" formControlName="educationLevelId" required [autofocus]="true">
                        <mat-option *ngFor="let educationLevel of educationLevelList" [value]="educationLevel.id">
                            <!-- {{ educationLevel.instituteType.name }} -  -->
                            {{ educationLevel.education }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('educationLevelId').hasError('required')">Level Of Education is required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.name" formControlName="name" required>
                    <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                    <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="10px">


                <mat-form-field fxFlex="50">
                    <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                    <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                    <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="10px">
            </div>

            <div *ngIf="pageAct != 'view'">
                <div *ifPermitted="'programs.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a *ngIf="pageAct == 'add'" color="accent" mat-raised-button [routerLink]="['/academic/programs']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/academic/programs/view', program.id]">Cancel</a>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>