<mat-card class="remove-padding">
  <shared-page-loader *ngIf="!crRemiitanceModel"> </shared-page-loader>
  <div *ngIf="crRemiitanceModel" >
    <!-- <div fxLayout="row">
      <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/personalinfo']" type="submit">Personal</button>
      <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/campusinfo']" type="submit">Campus</button>
      <button fxFlex="20" mat-raised-button class="submit-button" class="button-class" [routerLink]="['/post-registration/campus/remittance']"
        type="submit">Remittance</button>
      <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/submit']" type="button">Submit</button>
    </div> -->
    <campus-registration [selectedButton]="'remittance'"  *ngIf="type != 'edit'"></campus-registration>
    <mat-card-content class="remittance-mat-card-content" [@pageState]="pageState">
      <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
      <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

        <div fxLayout="row" fxLayoutGap="40px">

          <mat-form-field fxFlex="50">
            <mat-select [placeholder]="componentLabels.instrumentCategory" formControlName="instrumentCategory" [autofocus]="true">
              <mat-option *ngFor="let category of instrumentCategory" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field fxFlex="50">
            <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.currentDate" formControlName="currentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <input type="text" [placeholder]="componentLabels.bankId" matInput [formControl]="bankFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option['name']">
                {{ option['name'] }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.branchName" formControlName="branchName">
          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <input matInput [matDatepicker]="picker1" [placeholder]="componentLabels.instrumentDate" formControlName="instrumentDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.instrumentNumber" formControlName="instrumentNumber">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="40px">

          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.purpose" formControlName="purpose" [readonly]="true">
            <!-- <mat-select [placeholder]="componentLabels.purpose" formControlName="purpose">
              <mat-option *ngFor="let pur of purposes" [value]="pur">
                {{ pur }}
              </mat-option>
            </mat-select> -->
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.amount" type="number" formControlName="amount" [readonly]="true">
            <mat-error *ngIf="!fg.get('amount').hasError('greaterThan')">Amount can not be in negative.</mat-error>
          </mat-form-field>

        </div>

        <!-- <div fxLayout="row">
          <editor apiKey="5cfwfsx94s16npgqqkkpxu3hiq5wwzdxrf314121gy6yzgs0" 
          [init]="{plugins: ['advcode', 'link', 'autoresize', 'image imagetools', 'a11ychecker', 'tinymcespellchecker', 'table','autolink', 'autosave',
           'textcolor colorpicker', 'wordcount', 'print', 'save', 'fullscreen', 'help', 'charmap', 'code', 'codesample', 'directionality',
           'emoticons', 'media', 'fullpage', 'hr', 'importcss'],
          autoresize_bottom_margin: 100, toolbar: 'undo redo | styleselect | bold italic | link image forecolor backcolor | print save fullscreen | 
          charmap code codesample | ltr rtl emoticons media | fullpage',
          menubar: 'file edit insert view format table tools help format', footer: 'fullscreen', status: 'true', skin: 'lightgray'}"
            fxFlex="50" formControlName="descriptionEditor"></editor>
        </div> -->

        <div *ngIf="!isSubmit">

          <button mat-raised-button type="submit" color="primary" [disabled]="!fg.valid">Save & Next</button>
        </div>

      </form>
    </mat-card-content>
  </div>

</mat-card>