<div *ifPermitted="'campusAcademicCalendars.findWithAcademicCalendar'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>


    <mat-card class="mcard" *ngIf=" loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="mc-action-btn">
                <a matTooltip="List" [routerLink]="['/institute/campusAcademicCalendars']" mat-icon-button *ifPermitted="'campusAcademicCalendars.index'">
                    <mat-icon>list</mat-icon>
                </a>

                <a [routerLink]="['/institute/campusAcademicCalendars/update', campusAcademicCalendar.campus.id]" mat-icon-button *ifPermitted="'campusAcademicCalendars.updateWithCampusAndAcademicCalendarProgramDetails'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(campusAcademicCalendar.campus.id)" matTooltip="delete" *ifPermitted="'campusAcademicCalendars.deleteAll'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content *ngIf="loaded && campusAcademicCalendars &&  campusAcademicCalendars.length">
            <h3>Campus : {{ campusAcademicCalendar.campus.campusName}}</h3>
            <mat-list>
                <div fxLayout="row" class="c-header">
                    <mat-list-item fxFlex="50">
                        <strong>{{attrLabels.academicCalendarProgramDetailId}}</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="20">
                        <strong>{{attrLabels.startDate}}</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="20">
                        <strong>{{attrLabels.endDate}}</strong>
                    </mat-list-item>
                    <mat-list-item fxFlex="10"></mat-list-item>
                </div>
                <mat-divider></mat-divider>

                <div *ngFor="let campusAcademicCalendar of campusAcademicCalendars">
                    <div fxLayout="row" class="c-row">
                        <mat-list-item fxFlex="50"> {{campusAcademicCalendar.academicCalendarProgramDetail.academicCalendar.title + '-' + campusAcademicCalendar.academicCalendarProgramDetail.programDetail['program']['name']
                            + '-' + campusAcademicCalendar.academicCalendarProgramDetail.programDetail.name}} </mat-list-item>
                        <mat-list-item fxFlex="20"> {{campusAcademicCalendar.academicCalendarProgramDetail.startDate | date}} </mat-list-item>
                        <mat-list-item fxFlex="20"> {{campusAcademicCalendar.academicCalendarProgramDetail.endDate | date}} </mat-list-item>
                        <mat-list-item fxFlex="10" fxLayout="row" fxLayoutAlign="end">
                            <!-- <a mat-icon-button  matTooltip="Delete">
                                        <mat-icon class="delete-icon">delete</mat-icon>
                                </a> -->
                            <a mat-icon-button class="options" (click)="deleteCampusAcademicCalendar(campusAcademicCalendar.id)" matTooltip="Delete" *ifPermitted="'campusAcademicCalendars.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-list-item>
                    </div>
                    <mat-divider></mat-divider>
                </div>
            </mat-list>
        </mat-card-content>
    </mat-card>


</div>