.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}

.heading {
  color: grey;
}
.c-header > mat-list-item {
  font-size: 12px;
  height: 35px;
}
.c-row > mat-list-item {
  font-size: 12px;
  height: 35px;

}
.delete-icon {
  margin-top: 5px;
}
.c-row:hover .options {
  visibility: visible;
}