<!-- <ngx-carousel [inputs]="carouselTile">

  <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
    <div>
      <img src={{Tile}} alt="" height="350px">

    </div>

  </ngx-tile>

  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>

</ngx-carousel> -->

<section class="home-section" fxLayout="row" fxLayoutGap="10px" style="padding-top:20px;">

  <div fxFlex>
    <mat-card>
      <mat-card-content>
        <img src="assets/images/idrak-bg.png" alt="Idrak" class="idrak-bg">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Login Form -->
  <div fxFlex="35" *ngIf="signInView">
    <mat-card style="min-height: 300px;">
      <mat-card-title>
        Login
        <div class="divider"></div>
      </mat-card-title>

      <shared-mat-card-loader *ngIf="loginInProgress"></shared-mat-card-loader>

      <mat-card-content>
        <form #loginForm="ngForm" [formGroup]="fg" (ngSubmit)="login(loginForm.value)" fxLayout="column">
          <mat-form-field floatLabel="never" shouldLabelFloat="false">
            <input matInput class="input" [placeholder]="attributesLabels.username" formControlName="username" required>
          </mat-form-field>
          <mat-form-field class="password" floatLabel="never">
            <input matInput class="input" [placeholder]="attributesLabels.password" type="password" formControlName="password" required ngModel>
            <shared-cmat-error *ngIf="authError" [errorMsg]="authError.message"></shared-cmat-error>
          </mat-form-field>
          <div fxLayout="row">

            <button mat-raised-button class="submit-button" color="primary" [disabled]="!loginForm.form.valid" type="submit">Login</button>
            <span fxFlex></span>
            <div class="forgetPassword" [ngClass]="['forgerPassword']" style="margin-bottom:5px;">
              <a (click)="toggleSignInView()">Forgot Password</a>
            </div>
          </div>

          <div style="margin-top:40px">
            <button routerLink="/home/applyForRegistration" mat-raised-button class="registration-button">Apply For Registration</button>
          </div>


        </form>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Forget Password Form -->
  <div fxFlex="35" *ngIf="!signInView">
    <mat-card style="min-height: 300px;">
      <mat-card-title>
        {{formTitle}}
        <div class="divider-forgot-password"></div>
      </mat-card-title>
      <shared-mat-card-loader *ngIf="!loaded"></shared-mat-card-loader>
      <mat-card-content *ngIf="!passwordChanged">
        <form [formGroup]="forgotPasswordFG" (ngSubmit)="forgotPassword(forgotPasswordFG.value)" fxLayout="column" fxLayoutGap="10px">
          <mat-form-field floatLabel="never" shouldLabelFloat="false">
            <input matInput class="input" placeholder="Email" formControlName="username" required>
            <mat-error *ngIf="forgotPasswordFG.get('username').hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="forgotPasswordFG.get('username').hasError('email') && !forgotPasswordFG.get('username').hasError('required')">Please enter a valid email address</mat-error>
            <mat-error *ngIf="forgotPasswordFG.get('username').hasError('notExist')">This email does not exists in our system</mat-error>
          </mat-form-field>
          <div fxLayout fxLayoutGap="10px">
            <button type="submit" fxFlex="50" mat-raised-button class="submit-button" [disabled]="forgotPasswordFG.invalid" color="primary">Request Change Password</button>
            <a fxFlex="50" mat-raised-button (click)="toggleSignInView()">Back to Login</a>
          </div>
        </form>
      </mat-card-content>
      <mat-card-content *ngIf="passwordChanged">
        <div fxLayout="column" fxLayoutGap="20px">
          <shared-cmat-success [successMsg]="authSuccess"></shared-cmat-success>
          <a fxFlex="50" mat-raised-button (click)="toggleSignInView()">Back to Login</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>