.creteria-button {
  background-color: #12bb09;
  color: #ffffff;
  font-size: 24px;
  width: 300px;
  height: 100px;
}
.apply-button {
  background-color: #fda600;
  color: #ffffff;
  font-size: 24px;
  width: 300px;
  height: 60px;
  margin: 30px;
}

.campusPreReg-mat-card {
  margin: 0px 0px;
  box-shadow: 0px 0px 0px 0px;
}
.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: 0px 0px;
}

.single-component {
  padding-right: 46px;
}
.application-type-tentative {
  padding-top: 20px;
}
.mr-group {
  padding-top: 10px;
}
