<mat-card  class="campusPreReg-mat-card">
    
        <mat-card-title>
            Campus Pre-Registration Form
        </mat-card-title>
    
        <shared-mat-card-loader *ngIf="!boxLoaded"></shared-mat-card-loader>
    
        <mat-card-content>
    
            <form novalidate [formGroup]="formGroup" (ngSubmit)="saveData(formGroup.value)">
                <div>
                    <div fxLayout="row " fxLayoutGap="50px">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentsLabel.fullName" formControlName="fullName" name="fullName" required>
                            <mat-error *ngIf="formGroup.get('fullName').hasError('required')">Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentsLabel.cnic" formControlName="cnic" [textMask]="{mask: _cnicMask}" required>
                            <mat-error *ngIf="formGroup.get('cnic').hasError('required')  ">CNIC is required.</mat-error>
                            <mat-error *ngIf="formGroup.get('cnic').hasError('pattern') ">Invalid CNIC.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row " fxLayoutGap="50px">
                        <div fxFlex="50" fxLayout="row">
                            <mat-form-field fxFlex="20">
                                <mat-select [placeholder]="componentsLabel.countryCode" formControlName="countryCode" (change)="loadCities($event.value)"
                                    required>
                                    <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                        {{country.abbreviation + ' (' + country.countryCode + ')'}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field fxFlex="80">
    
                                <input matInput [placeholder]="componentsLabel.mobileNumber" formControlName="mobileNumber" [textMask]="{mask: _mobileNumberMask}"
                                    required>
                                <mat-error *ngIf="formGroup.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                                <mat-error *ngIf=" formGroup.get('mobileNumber').hasError('pattern')">Invalid Mobile Number.</mat-error>
                            </mat-form-field>
                        </div>
    
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentsLabel.email" formControlName="email" required>
                            <mat-error *ngIf="formGroup.get('email').hasError('required')">Email is required.</mat-error>
                            <mat-error *ngIf="formGroup.get('email').hasError('email') &&  !formGroup.get('email').hasError('required')">Invalid Email.</mat-error>
                            <mat-error *ngIf="formGroup.get('email').hasError('exist') ">Email already exists.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start start">
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentsLabel.instituteType" formControlName="instituteTypeId">
                                <mat-option *ngFor="let instituteType of instituteTypes" [value]="instituteType.id">
                                    {{instituteType.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('instituteTypeId').hasError('required')">Institute Type is required.</mat-error>
                        </mat-form-field>
    
                        <mat-form-field fxFlex="50">
                            <input matInput [matDatepicker]="picker" [placeholder]="componentsLabel.tentativeSessionStart" formControlName="tentativeSessionStart">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
    
    
    
                    </div>
                    <div fxLayout="row " fxLayoutGap="50px">
                        <div fxLayoutGap="5px" fxFlex="50">
                            <label>
                                <b> {{componentsLabel.applicationType}}</b>
                            </label>
                            <mat-radio-group class="mr-group" fxLayout="row" fxLayoutGap="20px" formControlName="applicationType">
                                <mat-radio-button color="primary" *ngFor="let applicationType of applicationTypes" [value]="applicationType.value">
                                    {{ applicationType.title }}
                                </mat-radio-button>
    
                            </mat-radio-group>
                            <!-- <mat-error *ngIf="formGroup.get('applicationType').hasError('required')">Application Type is required.</mat-error> -->
                        </div>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentsLabel.cityId" formControlName="cityId" required>
                                <mat-option *ngFor="let city of cities" [value]="city.id">
                                    {{ city.value }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="formGroup.get('cityId').hasError('required')">City is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row " fxLayoutGap="50px">
                        <mat-form-field fxFlex="50">
                            <input type="password" matInput [placeholder]="componentsLabel.password" formControlName="password" required>
                            <mat-error *ngIf="formGroup.get('password').hasError('required')">Password is required</mat-error>
                            <mat-error *ngIf="formGroup.get('password').hasError('equalTo') && !formGroup.get('password').hasError('required') ">Password did not match</mat-error>
    
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input type="password" matInput [placeholder]="componentsLabel.confirmPassword" formControlName="confirmPassword" required>
                            <mat-error *ngIf="formGroup.get('confirmPassword').hasError('required')">Confirm Password is required</mat-error>
                            <mat-error *ngIf="formGroup.get('confirmPassword').hasError('equalTo') && !formGroup.get('confirmPassword').hasError('required') ">Password did not match</mat-error>
    
                        </mat-form-field>
                    </div>
    
                </div>
    
                <button mat-raised-button type="submit" [disabled]="formGroup.invalid" color="primary">Save</button>
    
            </form>
    
        </mat-card-content>
    </mat-card>