<div *ifPermitted="'preRegistrations.find'">

    <shared-page-loader *ngIf="!loaded"></shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <mat-card-content>
            <shared-page-loader *ngIf="isEmailSending"></shared-page-loader>
            <div *ngIf="!isEmailSending">
                <wf-states [WFId]="'pre-registration'" [parent]="'Campus'" [stateId]="campusPreRegistration.stateId" [parentId]="campusPreRegistration.id"
                    (onChangeStateId)="onChangeStateEvent($event)" *ifPermitted="'preRegistrations.status'"></wf-states>

                <div fxLayout="row" fxLayoutGap="50px" class="block-padding">
                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.applicationType" [value]="CRApplicationType[campusPreRegistration.applicant.applicationType].title"
                            [readonly]="true">
                    </mat-form-field>
                    <!-- <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.state" [value]="campusPreRegistration.wfState.title" [readonly]="true">
                    </mat-form-field> -->
                </div>
                <mat-card-title class="block-padding">Applicant Information</mat-card-title>

                <div>
                    <div fxLayout="row" fxLayoutGap="50px">
                        <mat-form-field fxFlex="50" class="row">
                            <input matInput [placeholder]="labels.fullName" [value]="campusPreRegistration.applicant.fullName" [readonly]="true">
                        </mat-form-field>

                        <mat-form-field fxFlex="50" class="row ">
                            <input matInput [placeholder]="labels.email" [value]="campusPreRegistration.applicant.email" [readonly]="true">
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="50px">
                        <mat-form-field fxFlex="50" class="row">
                            <input matInput [placeholder]="labels.mobileNumber" [value]="campusPreRegistration.applicant.mobileNumber" [readonly]="true">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="row">
                            <input matInput [placeholder]="labels.cnic" [value]="campusPreRegistration.applicant.cnic" [readonly]="true">
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutGap="50px" class="single-component">

                        <mat-form-field fxFlex="50" class="row">
                            <input matInput [placeholder]="labels.createdAt" [value]="campusPreRegistration.createdAt | date" [readonly]="true">
                        </mat-form-field>
                    </div>
                </div>
                <mat-card-title class="block-padding">Campus Information</mat-card-title>
                <div>
                    <div fxLayout="row" fxLayoutGap="50px">
                        <mat-form-field fxFlex="50" class="row">
                            <input matInput [placeholder]="labels.cityId" [value]="(campusPreRegistration.city)? campusPreRegistration.city.value : ''"
                                [readonly]="true">
                        </mat-form-field>
                        <mat-form-field fxFlex="50" class="row">
                            <input matInput [placeholder]="labels.tentativeSessionStart" [value]="campusPreRegistration.tentativeSessionStart | date"
                                [readonly]="true">
                        </mat-form-field>
                    </div>

                </div>
            </div>
            <!-- <shared-attachment-form [parentId]=campusPreRegistration.applicant.id [parent]="'campus'" [fileSize]="10" [fileFilter]="'.jpg,.png,.jpeg'"></shared-attachment-form>
            <shared-attachment-list [parentId]=campusPreRegistration.applicant.id [parent]="'campus'"></shared-attachment-list> -->

        </mat-card-content>
    </mat-card>

</div>