<div *ifPermitted="'campusAcademicCalendars.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>


    <div *ngIf="loaded">

        <div class="mat-elevation-z8" [@pageState]="pageState">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>


                    <ng-container matColumnDef="campusName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['campusId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span *ngIf="element.campusName">
                                {{element.campusName }}
                            </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="count">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Number of Academic Calendar </mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            <span>
                                {{element.count |number}}
                            </span>
                        </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/institute/campusAcademicCalendars/view', element.id]" mat-icon-button *ifPermitted="'campusAcademicCalendars.findWithAcademicCalendars'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>

                            <a [routerLink]="['/institute/campusAcademicCalendars/update', element.id]" mat-icon-button *ifPermitted="'campusAcademicCalendars.updateWithCampusAndAcademicCalendarProgramDetails'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="deleteCampusAcademicCalendar(element.id)" matTooltip="Delete" *ifPermitted="'campusAcademicCalendars.deleteAll'">
                                <!-- <a mat-icon-button (click)="deleteCampusAcademicCalendar(element.id)" matTooltip="Delete" *ifPermitted="'campusAcademicCalendars.deleteAll'"> -->
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

        <div class="right-bottom-button">
            <a mat-fab color="primary" [routerLink]="['/institute/campusAcademicCalendars/create']" *ifPermitted="'campusAcademicCalendars.createWithCampusAndAcademicCalendarProgramDetails'">
                <mat-icon>add</mat-icon>
            </a>
        </div>
    </div>

</div>