<div *ifPermitted="'institutes.index'">

  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

  <div *ngIf="loaded" [@pageState]="pageState">
    <mat-card class="mcard">
      <div>
        <mat-card-title class="mc-title"> {{institute.name}}
        </mat-card-title>
        <mat-card-subtitle>Established Since {{institute.establishedScince}}</mat-card-subtitle>
        <div class="mc-action-btn">
          <a *ifPermitted="'institutes.update'" [routerLink]="['/institute/dashboard/update']" mat-icon-button>
            <mat-icon matTooltip="Edit">edit</mat-icon>
          </a>
        </div>


      </div>
      <mat-card-content>
        <div fxLayout="row">
          <div fxFlex="50" fxLayout="column" fxLayoutGap="5px">
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20" class="sub-heading">Head Office:</div>
              <div>{{institute.headOfficeLocation}}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20" class="sub-heading">Focal Person:</div>
              <div>{{institute.focalPerson}}</div>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="20" class="sub-heading">Contact No:</div>
              <div fxLayout="row" fxLayoutGap="10px">
                <div *ngFor="let con of institute.contactNumbers; let last = last">
                  <div>{{con.contact}}
                    <span *ngIf="!last">,</span>
                  </div>
                </div>
              </div>
            </div>
            <div fxLayout="column">
              <div fxFlex="20" class="sub-heading">Description:</div>
              <div fxFlex="50" class="content">
                <span *ngIf="institute.Description">
                  {{institute.Description}}
                  <a class="description-anchor" (click)="showDescription()">{{show}}</a>
                </span>
              </div>
            </div>
          </div>
          <div fxFlex="50">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" (mapClick)="mapClicked($event)">
              <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
          </div>
        </div>
        
        <!-- Functionality of print pdf is not completed yet. -->
        <!-- <print-action [configuration]="configuration" [data]="data" [labels]="componentLabels" [fields]="showOnlyFields"></print-action> -->
      </mat-card-content>
    </mat-card>
  </div>

</div>