.button-class {
  background-color: #679fdc;
  color: white;
}

.heading {
  font-weight: 300;
  font-size: 25px;
  margin: 0px;
}

.sub-heading {
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
}

.content {
  padding-left: 10px;
  white-space: pre-line;
  padding-right: 20px;
  line-height: 1.5;
  text-align: justify;
}

agm-map {
  height: 300px;
}

.edit-button {
  margin-bottom: 10px;
}

.description-anchor {
  cursor: pointer;
  color: rgb(126, 126, 223);
  text-align: right;
}