<div *ifPermitted="'academicCalendars.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>


    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/academic/academicCalendars']" mat-icon-button *ifPermitted="'academicCalendars.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/academic/academicCalendars/update', academicCalendar.id]" mat-icon-button *ifPermitted="'academicCalendars.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(academicCalendar.id)" matTooltip="delete" *ifPermitted="'academicCalendars.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                                <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                  
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start start">
                        <div fxLayout="column" fxFlex="50"  >

                            <mat-form-field>
                                <textarea class="textarea-desc" matInput [placeholder]="componentLabels.description" formControlName="description"></textarea>
                            </mat-form-field>

                        </div>
                        <div fxFlex="50" *ngIf="activities && activities.length">

                            <div formArrayName="activitiesList" *ngFor="let item of fg.get('activitiesList')['controls']; let i = index;">
                                <div [formGroupName]="i">
                                    <mat-form-field fxFlex="95">
                                        <mat-select [placeholder]="componentLabels.activitiesList" formControlName="activityId" *ifPermitted="'activities.findAttributesList'" [disabled]="i < fg.get('activitiesList')['controls'].length -1 || pageAct === pageActions.view">
                                            <div *ngFor="let activity of activities">
                                                <!-- TODO:high warning should be removed on disable -->
                                                <mat-option [value]="activity.id" [disabled]="selectedActivities.indexOf(activity.id) > -1 ">
                                                    {{activity.title + ' - ' + activity.id}}
                                                </mat-option>
    
                                            </div>
    
                                        </mat-select>
                                    </mat-form-field>
                                    <span fxLayout="row" *ngIf="pageAct != pageActions.view">
                                        <button mat-icon-button type="button" (click)="addActivitiesClick()" *ngIf="fg.get('activitiesList')['controls'].length == i+1  ">
                                            <mat-icon>add</mat-icon>
                                        </button>
                                        <button mat-icon-button type="button" (click)="removeActivities(i,item)" *ngIf="selectedActivities.length > 0 " >
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                        <button mat-icon-button type="button" (click)="removeActivities(i,item)" *ngIf="selectedActivities.length === 0  && fg.get('activitiesList')['controls'] === 1">
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div *ifPermitted="'programDetails.findAttributesList'">

                        <div *ifPermitted="'programDetails.findAttributesList'">

                            <mat-list *ngIf="pageAct != pageActions.view && loaded">
                                <div fxLayout="row" class="pd-header">
                                    <mat-list-item fxFlex="30">{{attrLabels['educationLevelId']}}</mat-list-item>
                                    <mat-list-item fxFlex="30">{{attrLabels['programId']}}</mat-list-item>
                                    <mat-list-item fxFlex="50">{{attrLabels['name']}}</mat-list-item>
                                    <mat-list-item fxFlex="20"></mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                                <div *ngFor="let element of data">
                                    <div fxLayout="row" class="pd-row">
                                        <mat-list-item fxFlex="30"> {{element.program.educationLevel.education}} </mat-list-item>
                                        <mat-list-item fxFlex="30"> {{element['program']['name']}} </mat-list-item>
                                        <mat-list-item fxFlex="50"> {{element.name}} </mat-list-item>
                                        <mat-list-item fxFlex="20">
                                            <mat-checkbox color="primary" [checked]="element['status']" (change)="checkboxClicked($event,element.id)">
                                            </mat-checkbox>
                                        </mat-list-item>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </mat-list>
                            <mat-list *ngIf="pageAct === pageActions.view && loaded && academicCalendar.academicCalendarProgramDetails ">
                                <div fxLayout="row" class="pd-header">
                                    <mat-list-item fxFlex="40">{{attrLabels['programId']}}</mat-list-item>
                                    <mat-list-item fxFlex="60">{{attrLabels['name']}}</mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                                <div *ngFor="let element of academicCalendar.academicCalendarProgramDetails">
                                    <div fxLayout="row" class="pd-row">
                                        <mat-list-item fxFlex="40"> {{element['programDetail']['program']['name']}} </mat-list-item>
                                        <mat-list-item fxFlex="60"> {{element['programDetail']['name']}} </mat-list-item>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </mat-list>

                        </div>
                        <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'academicCalendars.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'academicCalendars.create'">
                                <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/academic/academicCalendars']">Cancel</a>

                            </div>
                            <div *ifPermitted="'academicCalendars.update'">
                                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/academic/academicCalendars/view', academicCalendar.id]">Cancel</a>
                            </div>
                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>