<div *ifPermitted="'eligibilityCriteria.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">
        <div *ngIf="eligibilityCriteria">
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/admission/eligibilityCriteria']" mat-icon-button *ifPermitted="'eligibilityCriteria.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/admission/eligibilityCriteria/update', eligibilityCriteria.id]" mat-icon-button *ifPermitted="'eligibilityCriteria.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(eligibilityCriteria.id)" matTooltip="delete" *ifPermitted="'eligibilityCriteria.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>


        <mat-card-content>
            <mat-progress-bar *ngIf="showDivBar" mode="indeterminate" class="progress-bar-margin"></mat-progress-bar>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.programId" formControlName="programId" (change)="targetProgramChange($event)" [autofocus]="true">
                            <div *ngFor="let pro of targetProgramsList">
                                <mat-option [value]="pro.id">
                                    <!-- {{ pro.educationLevel.instituteType.name }} -  -->
                                    {{ pro.educationLevel.education }} - {{ pro.name }}
                                </mat-option>
                            </div>
                        </mat-select>
                    </mat-form-field>

                    <div fxLayout="column" fxFlex="50">
                        <div *ngFor="let mul of multiplePreReq; let i = index" class="top-margin">

                            <div>
                                <mat-form-field fxFlex="100">
                                    <mat-select placeholder="Pre-requisite Program" [disabled]="i < (multiplePreReq.length -1) || pageAct === pageActions.view" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="mul.preReqId" (change)="preReqChange($event)">
                                        <mat-option *ngFor="let pro of mul.preReq" [value]="pro.id">
                                            {{ pro.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-icon-button type="button" (click)="addPreReqClick()" [disabled]="pageAct === pageActions.view" *ngIf="multiplePreReq.length == i+1  ">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button fxFlex="5" mat-icon-button type="button" *ngIf="!(i == (multiplePreReq.length - 1))" [disabled]="pageAct === pageActions.view" (click)="deletePreReq(mul.preReqId)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

                <div fxLayout="row" fxLayoutGap="20px">

                    <div fxFlex="50" fxLayout="row" fxLayoutGap="20px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.ageFromYY" formControlName="ageFromYY" (change)="isValidDate()" [textMask]="{mask: yearMonthMask}">
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.ageFromMM" type="number" formControlName="ageFromMM" (change)="isValidDate()" maxlength=2>
                            <mat-error *ngIf="fg.get('ageFromMM').hasError('equalTo') ">Month should be less than 12</mat-error>

                        </mat-form-field>
                    </div>

                    <div fxFlex="50" fxLayout="row" fxLayoutGap="20px">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.ageToYY" formControlName="ageToYY" (change)="isValidDate()" [textMask]="{mask: yearMonthMask}">
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.ageToMM" formControlName="ageToMM" (change)="isValidDate()" type="number" maxlength=2>
                            <mat-error *ngIf="fg.get('ageToMM').hasError('equalTo') ">Month should be less than 12</mat-error>

                        </mat-form-field>
                    </div>

                </div>



                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.requiredMarksFigure" formControlName="requiredMarksFigure" type="number">
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.totalMarks" formControlName="totalMarks" type="number">
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutGap="20px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.requiredMarksPercent" formControlName="requiredMarksPercent" type="number">
                        <mat-error *ngIf="fg.get('requiredMarksPercent').hasError('percentageCheck') ">Percentage should be less than or equal to 100</mat-error>

                    </mat-form-field>
                    <div fxFlex="row" fxFlex="50" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.academicMonth" formControlName="academicMonth" required>
                                <mat-option *ngFor="let academicMonth of academicMonths" [value]="academicMonth.number">
                                    {{ academicMonth.abbreviation }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('academicMonth').hasError('required')">Academic Month is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.academicYear" formControlName="academicYear" required>
                                <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                                    {{ academicYear }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('academicYear').hasError('required')">Academic Year is required.</mat-error>
                        </mat-form-field>


                    </div>
                </div>


                <div fxLayout="row" fxLayoutGap="20px">
                    <div fxLayout="column" fxFlex="50">
                        <div *ngFor="let mul of multipleSubjects; let i = index" class="top-margin">

                            <div>
                                <mat-form-field fxFlex="100">
                                    <mat-select placeholder="Subjects" [disabled]="i < (multipleSubjects.length -1) || pageAct === pageActions.view" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="mul.subjectId" (change)="subjectsChange($event)">
                                        <mat-option *ngFor="let pro of mul.subjects" [value]="pro.id">
                                            {{ pro.title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-icon-button type="button" (click)="addSubjectClick()" [disabled]="pageAct === pageActions.view" *ngIf="multipleSubjects.length == i+1  ">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button fxFlex="5" mat-icon-button type="button" [disabled]="pageAct === pageActions.view" *ngIf="!(i == (multipleSubjects.length - 1))" (click)="deleteSubjects(mul.subjectId)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div fxLayout="column" fxFlex="50">
                        <div *ngFor="let mul of multiplePassingYear; let i = index" class="top-margin">

                            <div>
                                <mat-form-field fxFlex="100">
                                    <mat-select placeholder="Passing Year" [disabled]="i < (multiplePassingYear.length -1) || pageAct === pageActions.view" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="mul.passingYearId" (change)="passingYearChange($event)">
                                        <mat-option *ngFor="let pro of mul.passingYears" [value]="pro.id">
                                            {{ pro.year }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-icon-button type="button" (click)="addPassingYearClick()" [disabled]="pageAct === pageActions.view" *ngIf="multiplePassingYear.length == i+1  ">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button fxFlex="5" mat-icon-button type="button" *ngIf="!(i == (multiplePassingYear.length - 1))" [disabled]="pageAct === pageActions.view" (click)="deletePassingYear(mul.passingYearId)">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>


                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'eligibilityCriteria.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/admission/eligibilityCriteria']">Cancel</a>
                        <!-- <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/admission/eligibilityCriteria/view', eligibilityCriteria.id]">Cancel</a> -->
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>