.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}
.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}
.example-margin {
  margin: 0 10px;
}