<div *ifPermitted="'passingYears.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="year">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['year']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.year}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="examinationType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['examinationType']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.examinationType}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/settings/passingYear/view', element.id]" mat-icon-button *ifPermitted="'passingYears.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/settings/passingYear/update', element.id]" mat-icon-button *ifPermitted="'passingYears.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="deletePassingYear(element.id)" matTooltip="Delete" *ifPermitted="'passingYears.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/settings/passingYear/create']" *ifPermitted="'passingYears.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>