<div>
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded && CRApplicationId" [@pageState]="pageState">

        <mat-card-title>

            <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between start">
                <div fxFlex="80">
                    <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='personal' || selectedButton=='submit' || selectedButton=='done'|| selectedButton=='draft')? 'button-class' : 'normal-btn'"
                        type="button" (click)="tabChange('personal')">Personal</button>
                    <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='campus')? 'button-class' : 'normal-btn'" type="button"
                        (click)="tabChange('campus')">Campus</button>
                    <button *ngIf="remittanceStatus" fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='remittance')? 'button-class' : 'normal-btn'" type="button"
                        (click)="tabChange('remittance')">Remittance</button>
                    <button fxFlex="20" *ngIf="wfState == 'submit-analysis'" mat-raised-button [ngClass]="(selectedButton=='submit-analysis')? 'button-class' : 'normal-btn'"
                        type="button" (click)="tabChange('submit-analysis')">Evaluation Sheet</button>
                    <button fxFlex="20" *ngIf="wfState == 'forward-for-create-mou'" mat-raised-button [ngClass]="(selectedButton=='forward-for-create-mou')? 'button-class' : 'normal-btn'"
                        type="button" (click)="tabChange('forward-for-create-mou')">MOU</button>
                    <button fxFlex="20" *ngIf="wfState == 'create-campus'" mat-raised-button [ngClass]="(selectedButton=='create-campus')? 'button-class' : 'normal-btn'"
                        type="button" (click)="tabChange('create-campus')">Create Campus</button>
                    <button fxFlex="20" *ngIf="wfState == 'forward-for-account-info'" mat-raised-button [ngClass]="(selectedButton=='forward-for-account-info')? 'button-class' : 'normal-btn'"
                        type="button" (click)="tabChange('forward-for-account-info')">Account Info</button>
                </div>

                <wf-states *ngIf="wfState == 'submit' || wfState == 'submit-analysis' || wfState == 'forward-for-create-mou' || wfState == 'create-campus'"
                    [WFId]="'post-registration'" [parent]="'Campus'" [stateId]="stateId" [parentId]="documentId" (onChangeStateId)="onChangeStateEvent($event)"></wf-states>
            </div>


        </mat-card-title>
        <mat-card-content>
            <personal-info-view [campusApplicantId]="CRApplicationId" *ngIf="selectedButton=='personal' || selectedButton=='submit' || selectedButton=='done' || selectedButton=='draft'"></personal-info-view>
            <campus-info-view [campusApplicantId]="CRApplicationId" *ngIf="selectedButton=='campus'"></campus-info-view>
            <span *ngIf="remittanceStatus">
                <remittance-view [campusApplicantId]="CRApplicationId" *ngIf="selectedButton=='remittance'"></remittance-view>

            </span>

            <campus-mou-form [CRApplicationId]="documentId" *ngIf="selectedButton=='forward-for-create-mou'"></campus-mou-form>
            <campus-create-campus-form [CRApplicationId]="documentId" *ngIf="selectedButton=='create-campus'"></campus-create-campus-form>
            <campus-account-info-form [CRApplicationId]="documentId" *ngIf="selectedButton=='forward-for-account-info'"></campus-account-info-form>
        </mat-card-content>
    </mat-card>
    <analysis-evaluation-sheet-list [CRApplicationId]="documentId" *ngIf="selectedButton=='submit-analysis'"></analysis-evaluation-sheet-list>

</div>