.single-component {
  padding-right: 45px;
}
.block-padding {
  padding-top: 25px;
}

.button-class{
  border-radius: 0px !important;
  background-color: #679fdc;
  color: white;
}
.submit-class{
  color: #a0a0a0;
}