<div>

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div>

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="bankId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['bankId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.bankId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="branch">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['branch']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.branch}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="account">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['account']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="challanType">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['challanType']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.challanType}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="programId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['programId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/campus/accountInfo/view', element.id]" mat-icon-button>
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/campus/accountInfo/update', element.id]" mat-icon-button>
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/campus/accountInfo/create']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>