.add {
  margin-top: 15px;
}

.delete-icon {
  margin-top: 5px;
}

.textarea-desc {
  min-height: 100px;
}

h2 {
  margin: 25px 0px 10px 0px;
}

.scholarship-error {
  color: red;
  font-size: 10px;
}

.heading-text {
  text-align: left;
  color: #7b7676;
  padding-top: 7px;
}

.pd-header > mat-list-item {
  font-size: 16px;
}

.pd-row > mat-list-item {
  font-size: 14px;
}
.program-detail {
  margin-top: 10px;
}
.mat-card .mat-divider {
  position: absolute;
  left: 0;
  width: 50%;
}
.left-block{
  border-style: groove;
  border-width: 1px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}
.right-block{
  border-style: groove ;
  border-width: 1px;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
}
.list-block{
  border-bottom: groove;
  border-bottom-width: 1px;
}
.checkbox-class{
  align-items: center
}