<div *ifPermitted="'campusAdmissions.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card class="mcard" *ngIf="loaded" [@pageState]="pageState">
        <div>
            <mat-card-title class="mc-title"></mat-card-title>


        </div>
        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="column">
                    <div fxLayout="row" fxLayoutGap="60px" fxFlex="100" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.admissionMonth" formControlName="admissionMonth" required [autofocus]="true">
                                <mat-option *ngFor="let month of months" [value]="month.number">
                                    {{ month.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('admissionMonth').hasError('required')">Month is required.</mat-error>
                        </mat-form-field>

                        <div fxFlex="50" fxLayoutGap="10px"> 
                            <mat-form-field fxFlex="80">
                                <mat-select [placeholder]="componentLabels.admissionYear" formControlName="admissionYear" required>
                                    <mat-option *ngFor="let year of years" [value]="year">
                                        {{ year }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('admissionYear').hasError('required')">Year is required.</mat-error>
                            </mat-form-field>
                            <div class="checkbox-class">
                                    <mat-checkbox fxFlex="20" color="primary" formControlName="isActive">Is Active</mat-checkbox>
                            </div>
                            
                        </div>

                    </div>
                    <div fxFlex="100" fxLayout="row" style="padding-top: 10px;" fxLayoutGap="60px">
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="20px">
                            <div class="heading-text">Program Details</div>

                            <div class="left-block">
                                <mat-list *ngFor="let pd of programDetails" class="list-block">
                                    <div fxLayout="row" class="pd-row">
                                        <mat-list-item fxFlex="80"> {{pd.program.name + "-" + pd.name}} </mat-list-item>
                                        <mat-list-item fxFlex="20">
                                            <mat-checkbox color="primary" [value]="pd.id" (change)="onProgramSelect($event,pd.id)">
                                            </mat-checkbox>
                                        </mat-list-item>

                                    </div>

                                </mat-list>
                            </div>

                        </div>
                        <div fxFlex="50" fxLayout="column" fxLayoutGap="20px">
                            <div class="heading-text">Select Campuses</div>
                            <div class="right-block">
                                <mat-list *ngFor="let campus of campuses" class="list-block">
                                    <div fxLayout="row" class="pd-row">
                                        <mat-list-item fxFlex="80"> {{campus.campusName}} </mat-list-item>
                                        <mat-list-item fxFlex="20">
                                            <mat-checkbox color="primary" [value]="campus.id" (change)="onCampusSelect($event,campus.id)">
                                            </mat-checkbox>
                                        </mat-list-item>
                                    </div>

                                </mat-list>
                            </div>

                        </div>

                    </div>
                </div>



                <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px">
                    <div *ifPermitted="'campusAdmissions.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    </div>
                    <div *ifPermitted="'campusAdmissions.create'">
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/admission/campusAdmissions']">Cancel</a>

                    </div>
                    <div *ifPermitted="'campusAdmissions.create'">
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/admission/campusAdmissions/view', meritList.id]">Cancel</a>
                    </div>
                </div>
            </form>

        </mat-card-content>
    </mat-card>

</div>