<div *ifPermitted="'passingYears.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/settings/passingYear']" mat-icon-button *ifPermitted="'passingYears.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/settings/passingYear/update', passingYear.id]" mat-icon-button *ifPermitted="'passingYears.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(passingYear.id)" matTooltip="delete" *ifPermitted="'passingYears.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>
            <mat-progress-bar *ngIf="showDivBar" mode="indeterminate" class="progress-bar-margin"></mat-progress-bar>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.year" formControlName="year" type="number" required [autofocus]="true">
                        <mat-error *ngIf="fg.get('year').hasError('required')">Year is required.</mat-error>
                        <mat-error *ngIf="fg.get('year').hasError('equalTo') ">Year Should Between 1850 to Current Year</mat-error>
                    </mat-form-field>

                    <div fxFlex="50" fxFlex fxLayout="row">
                        <div style="display: flex;
                        align-content: center;
                        align-items: center;
                        height: 60px;">
                            Examination Type :
                        </div>
                        <div class="example-section">
                            <mat-checkbox color="primary" class="example-margin" formControlName="annual" >{{componentLabels.annual}}</mat-checkbox>
                            <mat-checkbox color="primary" class="example-margin" formControlName="supplimentary">{{componentLabels.supplimentary}}</mat-checkbox>
                        </div>
                        <!-- <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation">
                        <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum length.</mat-error> -->
                    </div>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">

                </div>

                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'passingYears.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/settings/passingYear']">Cancel</a>
                        <!-- <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/settings/passingYear/view', passingYear.id]">Cancel</a> -->
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>