<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<section *ngIf="loaded && personalInfo" style="padding-top: 10px;" [@pageState]="pageState">
  <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px">

    <div fxLayout="row" fxLayoutGap="10px">

      <mat-form-field fxFlex="100">
        <input matInput [placeholder]="componentLabels.fullName" #name maxlength="50" formControlName="fullName">
      </mat-form-field>

    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="45">
        <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" [textMask]="{mask: mobileMask}" >
      </mat-form-field>
      <mat-form-field fxFlex="45">
        <input matInput [placeholder]="componentLabels.email" #emailChar maxlength="50" formControlName="email">
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <mat-form-field fxFlex="100">
        <input matInput [placeholder]="componentLabels.address" #message maxlength="100" formControlName="address">
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="45">
        <input matInput [placeholder]="componentLabels.cnic" formControlName="cnic" [textMask]="{mask: cnicMask}">
      </mat-form-field>

    </div>
    <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
      <div fxFlex="45" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="45">
          <mat-select [placeholder]="componentLabels.countryId" formControlName="countryId" (change)="loadProvinces($event.value)">
            <mat-option *ngFor="let con of countries" [value]="con.id">
              {{ con.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <mat-select [placeholder]="componentLabels.provinceId" formControlName="provinceId" (change)="loadCities($event.value)">
            <mat-option *ngFor="let con of province" [value]="con.id">
              {{ con.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div fxFlex="45" fxLayout="row" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="45">
          <mat-select [placeholder]="componentLabels.cityId" formControlName="cityId" (change)="loadTehsils($event.value)">
            <mat-option *ngFor="let con of cities" [value]="con.id">
              {{ con.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field fxFlex="45">

          <mat-select [placeholder]="componentLabels.tehsilId" formControlName="tehsilId">
            <mat-option *ngFor="let con of tehsils" [value]="con.id">
              {{ con.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="45">
        <mat-select [placeholder]="componentLabels.natureOfWorkId" formControlName="natureOfWorkId" class="select-box">
          <mat-option *ngFor="let con of natureOfwork" [value]="con.id">
            {{ con.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field fxFlex="45">
        <input matInput [placeholder]="componentLabels.approxMonthlyIncome" max="99999999999" type="number" formControlName="approxMonthlyIncome">
      </mat-form-field>

    </div>
    <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
      <mat-form-field fxFlex="100">
        <input type="text" [placeholder]="componentLabels.nearestBankId" matInput [formControl]="bankFormControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option['name']">
            {{ option['name'] }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>


    </div>
    <div fxLayout="row">
      <span class="sub-heading">Personal Reference</span>
    </div>
 

    <div formArrayName="references" *ngFor="let item of fg.get('references').controls; let i = index;">
      <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between">
        <div fxFlex="45" fxLayoutAlign="space-between">

          <mat-form-field fxFlex="45">
            <input matInput placeholder="Full Name" formControlName="refName">
          </mat-form-field>
          <mat-form-field fxFlex="45">
            <input matInput placeholder="Mobile Number" formControlName="refMobileNumber" [textMask]="{mask: mobileMask}">
          </mat-form-field>
        </div>
        <div fxFlex="45">
          <mat-form-field fxFlex="90">
            <input matInput placeholder="Address" #message maxlength="100" formControlName="refAddress">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="addReferenceClick()" *ngIf="fg.get('references').controls.length == i+1  "
            disabled=true>
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="removeReference(i,item)" *ngIf="!(fg.get('references').controls.length == 1)"
            disabled=true>
            <mat-icon>cancel</mat-icon>
          </button>
        </div>

      </div>

    </div>

  </form>
</section>