.button-class{
  background-color: #679fdc;
  color: white;
}
.select-box{
  padding-top: 0px;
}
.sub-heading{
  font-size: 18px;
  padding-top: 20px;
  color: #a0a0a0;
}

.submit-class{
  color: #a0a0a0;
}