<div [@pageState]="pageState">

    <div class="parent">

        <!-- <shared-dashboard-widget-link *ifPermitted="'campusBuildings.index'" class="child" [icon]="'border_outer'" [label]="'Building'"
            [link]="['/time-table/campusBuildings/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'cbFloors.index'" class="child" [icon]="'border_horizontal'" [label]="'Floors'" [link]="['/time-table/cbFloors/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'cbfRooms.index'" class="child" [icon]="'border_style'" [label]="'Rooms'" [link]="['/time-table/cbfRooms/']"></shared-dashboard-widget-link> -->
        <shared-dashboard-widget-link *ifPermitted="'timeTables.index'" class="child" [icon]="'table_chart'" [label]="'Time Tables'" [link]="['/time-table/timeTable/']"></shared-dashboard-widget-link>

        <shared-dashboard-widget-link *ifPermitted="'mappingTimeTables.index'" class="child" [icon]="'settings_input_component'" [label]="'Mapping Time Tables'"
            [link]="['/time-table/mappingTimeTable/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'timeTables.create'" class="child" [icon]="'file_copy'" [label]="'Duplicate Time Table'"
            [link]="['/time-table/duplicateTimeTable/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'timeTables.index'" class="child" [icon]="'calendar_view_day'" [label]="'View Time Tables'"
            [link]="['/time-table/viewTimeTable/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'slots.index'" class="child" [icon]="'view_carousel'" [label]="'Slots'" [link]="['/time-table/slot/']"></shared-dashboard-widget-link>

        <shared-dashboard-widget-link *ifPermitted="'sections.index'" class="child" [icon]="'blur_circular'" [label]="'Sections'" [link]="['/time-table/section/']"></shared-dashboard-widget-link>

        <div style="clear:both"></div>

    </div>
    
</div>