<div *ifPermitted="'slot.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

            <ng-container matColumnDef="fromTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['fromTime']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.fromTime}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="toTime">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['toTime']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.toTime}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options">
                    <a [routerLink]="['/time-table/slot/view', element.id]" *ifPermitted="'slot.find'" mat-icon-button>
                        <mat-icon matTooltip="View">visibility</mat-icon>
                    </a>
                    <a [routerLink]="['/time-table/slot/update', element.id]" *ifPermitted="'slot.update'" mat-icon-button>
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(element.id)" *ifPermitted="'slot.delete'" matTooltip="Delete">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </div>
    <div class="right-bottom-button" *ifPermitted="'slot.create'">
        <a mat-fab color="primary" [routerLink]="['/time-table/slot/create']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>