<div *ifPermitted="'slot.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ngIf="slot">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/time-table/slot']" mat-icon-button *ifPermitted="'slot.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/time-table/slot/update', slot.id]" mat-icon-button *ifPermitted="'slot.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(slot.id)" matTooltip="delete" *ifPermitted="'slot.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div >
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <!-- <input matInput #name maxlength="100" [placeholder]="componentLabels.name" formControlName="name"> -->
                                <mat-label>{{componentLabels.fromTime}}</mat-label>
                                <input matInput placeholder="HH:MM" formControlName="fromTime"  [textMask]="{mask: timeMask}" [autofocus]="true">
                                <mat-error *ngIf="fg.get('fromTime').hasError('required')">From is required.</mat-error>

                            </mat-form-field>

                            <mat-form-field fxFlex="50">
                                    <mat-label>{{componentLabels.toTime}}</mat-label>
                                    <input matInput placeholder="HH:MM" formControlName="toTime"  [textMask]="{mask: timeMask}">
                                <!-- <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" required [textMask]="{mask: mobileMask}"> -->
                                <mat-error *ngIf="fg.get('toTime').hasError('required')">To is required.</mat-error>
                            </mat-form-field>

                        </div>
                    </div>
                    <div class="validation-error" *ngIf=" fg.get('toTime').hasError('invalid')">Invalid time range. </div>

                   



                    <div>


                        <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'slot.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'slot.create'">
                                <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/time-table/slot']">Cancel</a>

                            </div>
                            <div *ifPermitted="'slot.create'">
                                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/time-table/slot/view', slot.id]">Cancel</a>
                            </div>
                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>