<div *ifPermitted="'classes.find'" >

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <h2 class="dt">{{dialogueType}}</h2>
        <form novalidate [formGroup]="fg" fxLayout="column"  (ngSubmit)="saveData(fg)">

            <div fxLayout="row"  fxLayoutAlign="space-between" fxLayoutGap="10px">

                <div  fxLayout="column" fxLayoutAlign="space-between" [ngClass]="(classes)? 'cls-form' : 'only-cls-form'">
                    <div  fxLayout="column"> 
                        <mat-form-field>
                            <mat-select [placeholder]="componentLabels.programDetail" formControlName="programDetailId" (change)="findWithProgramDetail($event.value)"
                                required [autofocus]="true">
                                <mat-option *ngFor="let pdetail of programDetails" [value]="pdetail.id">
                                    <!-- {{ pdetail.program.educationLevel.instituteType.name }} -  -->
                                    {{ pdetail.program.educationLevel.education }} - {{ pdetail.program.name
                                    }} - {{ pdetail.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program Detail is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput [placeholder]="componentLabels.name" maxlength="30" formControlName="name" required>
                            <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                            <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                        </mat-form-field>
                    </div>

                    <div *ifPermitted="'classes.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
                    </div>
                </div>


                <fieldset class="field-set" *ngIf="classes" fxFlex="50">
                    <legend>
                        <strong> {{
                            classes.educationLevelName+'-'+classes.programName+'-'+classes.programDetailName}}
                            's Classes
                        </strong>
                    </legend>
                    <mat-list>
                        <div *ngIf="classes['classes'] &&  classes['classes'].length" fxLayout="row wrap">
                            <!-- <div fxLayout="row" class="cls-header">
                                <mat-list-item>
                                    <strong> {{componentLabels.name}}</strong>
                                </mat-list-item>

                            </div>
                            <mat-divider></mat-divider> -->
                            <div *ngFor="let element of classes['classes']; let i=index" fxFlex="33">
                                <div class="cls-row"  >
                                    <mat-list-item> {{ element['name']}} </mat-list-item>

                                </div>
                                <mat-divider ></mat-divider>
                            </div>
                        </div>
                        <div *ngIf="!classes['classes'] ||  classes['classes'].length === 0">
                            <div fxLayout="column" fxLayoutAlign="center center">
                                <p>No class exist in this program detail.</p>
                            </div>
                        </div>

                    </mat-list>
                </fieldset>
            </div>






        </form>
    </div>
</div>