.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}
.dt{
  margin: 0px 0px 10px 0px;
  padding: 0px;
}
/* TODO:low should not be custom font size */
.cls-header > mat-list-item {
  font-size: 11px;
  height: 30px;
}
.cls-row > mat-list-item {
  font-size: 10px;
  height: 30px;
  font-weight: bolder;
}
.field-set {
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-color: rgb(245, 237, 237);
  box-shadow: 3em;
  border-width: 1px;
}
/* TODO:low using flex property in css to hide and show semester clss list  */
.only-cls-form {
  flex: 100;
}
.cls-form {
  flex: 50;
}
.cls-list {
  flex: 40;
}
.c-code {
  padding-right: 10px;
}
