<shared-page-loader *ngIf="!campusInfo"> </shared-page-loader>
<mat-card style="padding-top: 10px;" *ngIf="campusInfo">
  <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
  <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
    <mat-card-title  *ngIf="type != 'edit'">
      <campus-registration [selectedButton]="'campus'"></campus-registration>
    </mat-card-title>
    <mat-card-content class="top-margin">
      <div fxLayout="row">
        <mat-radio-group formControlName="campusType">
          <mat-radio-button color="primary" [value]="true" (change)="newCampusConf()">New Campus</mat-radio-button>
          <mat-radio-button color="primary" [value]="false" (change)="transferCampusConf()">Transfer Campus</mat-radio-button>
          <!-- <mat-radio-button color="primary" (change)="resetForm($event)" [value]="true">New Campus</mat-radio-button>
          <mat-radio-button color="primary" (change)="resetForm($event)" [value]="false">Transfer Campus</mat-radio-button> -->
        </mat-radio-group>
      </div>
      <div *ngIf="fg.value.campusType == true">
        <create-campus [fg]="fg" [isSubmit]="isSubmit" [camModel]="campusInfo" [crApplicantId]="applicantId"></create-campus>
      </div>
      <div *ngIf="fg.value.campusType == false">
        <campus-transfer [fg]="fg" [camModel]="campusInfo" [isSubmit]="isSubmit" [crApplicantId]="applicantId"></campus-transfer>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="!isSubmit">
      <button mat-raised-button type="submit" color="primary" [disabled]="!fg.valid">Save & Next</button>

    </mat-card-actions>
  </form>
</mat-card>