<div *ngFor="let esQuestion of esQuestions; let last = last">
    <mat-list>
        <div class="pd-row" fxLayout fxLayoutAlign="space-between">
            <mat-list-item>
                {{esQuestion.question}}
            </mat-list-item>
            <mat-list-item class="options">
                <a mat-icon-button (click)="editESQuestion(esQuestion.id)" *ifPermitted="'esQuestions.update'">
                    <mat-icon matTooltip="Edit Question">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(esQuestion.id)" matTooltip="Delete Question" *ifPermitted="'esQuestions.delete'">
                    <mat-icon color="warn">delete</mat-icon>
                </a>
            </mat-list-item>
        </div>
        <mat-divider></mat-divider>
    </mat-list>
</div>

<div *ngIf="loaded && esQuestions.length == 0">
    <mat-list>
        <div fxLayout fxLayoutAlign="space-between">
            <mat-list-item>
                Questions (N/A)
            </mat-list-item>
            <mat-list-item>
            </mat-list-item>
        </div>
    </mat-list>
</div>