.question-title {
    min-height: 50px;
}

.workFlowAction {
    position: absolute;
    right: 0;
    top: -52px;
}
.field-set {
    border: 1px solid lightgray;
    border-radius: 3px;
}

.field-set > legend {
    font-weight: bold;
}

.question-option{
    margin-bottom: 5px;
}

