<div *ifPermitted="'postRegistrations.findEvaluationSheet'" fxLayout="column" fxLayoutGap="20px">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">
        <!-- <mat-card *ngIf="loaded && campusEvaluationSheet" [@pageState]="pageState"> -->
        <div class="workFlowAction">
            <wf-states [WFId]="'post-registration'" [parent]="'Campus'" [stateId]="stateId" [parentId]="CRApplicationId" *ngIf="stateId && CRApplicationId"
                (onChangeStateId)="changeESStatus($event)"></wf-states>
        </div>
        <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
        <form (ngSubmit)="saveData()" #form="ngForm" fxLayout="column" fxLayoutGap="20px" *ngIf="campusEvaluationSheet">
            <div *ngFor="let section of campusEvaluationSheet.sections; let i = index;">
                <fieldset class="field-set">
                    <legend>{{section.title}}</legend>
                    <div fxLayout fxLayoutAlign="stretch center" *ngFor="let question of section.questions; let index = index;">
                        <div class="question-title" fxLayout="row wrap" fxLayoutAlign="stretch center" fxFlex="40">{{question.question}}</div>
                        <div fxLayout fxLayoutAlign="stretch center" fxLayoutGap="10px" fxFlex="60" *ngIf="question.optionType != 'textInput' && question.optionType != 'textArea'">
                            <mat-radio-group fxLayout="row wrap" fxLayoutGap="20px" name="answer-{{i}}-{{index}}" [(ngModel)]="campusEvaluationSheet.sections[i].questions[index].answer">
                                <mat-radio-button color="primary" *ngFor="let option of question.options" [value]="option" class="question-option">
                                    {{option}}
                                </mat-radio-button>
                            </mat-radio-group>
                            <div *ngIf="question.optionType == 'selectionWithCount'" fxFlex>
                                <mat-form-field fxFlex>
                                    <input type="number" matInput placeholder="Count" name="countValue-{{i}}-{{index}}" [(ngModel)]="campusEvaluationSheet.sections[i].questions[index].countValue">
                                </mat-form-field>
                            </div>
                        </div>
                        <div fxLayoutAlign="stretch center" fxFlex="60" *ngIf="question.optionType == 'textInput'">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Answer" name="answer-{{i}}-{{index}}" [(ngModel)]="campusEvaluationSheet.sections[i].questions[index].answer">
                            </mat-form-field>
                        </div>
                        <div fxLayoutAlign="stretch center" fxFlex="60" *ngIf="question.optionType == 'textArea'">
                            <mat-form-field fxFlex>
                                <input matInput placeholder="Answer" name="answer-{{i}}-{{index}}" [(ngModel)]="campusEvaluationSheet.sections[i].questions[index].answer">
                                <!-- <textarea matInput placeholder="Custom Answer" name="answer-{{i}}-{{index}}" [(ngModel)]="campusEvaluationSheet.sections[i].questions[index].answer"></textarea> -->
                            </mat-form-field>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div>
                <!-- <shared-attachment-form [parentId]=campusEvaluationSheet.id [parent]="'evaluationSheet'" [fileSize]="2" [fileFilter]="'.jpg,.png,.jpeg'"></shared-attachment-form>
                <shared-attachment-list [parentId]=campusEvaluationSheet.id [parent]="'evaluationSheet'"></shared-attachment-list> -->
            </div>
            <div>
                <mat-radio-group fxLayout fxLayoutGap="20px" name="isRecommendedForApproval" [(ngModel)]="campusEvaluationSheet.isRecommendedForApproval">
                    <mat-radio-button color="primary" [value]="true">Recommended for Approval </mat-radio-button>
                    <mat-radio-button color="primary" [value]="false">Not Recommended for Approval </mat-radio-button>
                </mat-radio-group>
            </div>
            <div>
                <mat-form-field fxFlex>
                    <input matInput placeholder="Remarks" name="remarks" [(ngModel)]="campusEvaluationSheet.remarks">
                    <!-- <textarea matInput placeholder="Remarks" name="remarks" [(ngModel)]="campusEvaluationSheet.remarks"></textarea> -->
                </mat-form-field>


            </div>
            <!-- Attachment Form On Evaluation Sheet -->

            <div>
                <shared-attachment-form [uploadType]="'onSave'" [fileSize]="10" [fileFilter]="'.jpg,.png,.jpeg,.pdf'"></shared-attachment-form>
            </div>
            <div>
                <div *ifPermitted="'postRegistrations.updateEvaluationSheet'">
                    <button mat-raised-button color="primary" type="submit">Save</button>
                    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
                </div>
            </div>
            <!-- Attachment list On Evaluation Sheet -->

            <div>
                <shared-attachment-list [parentId]="campusEvaluationSheet.id" [parent]="'CREvaluationSheet'"></shared-attachment-list>

            </div>

        </form>
    </div>

</div>