<div *ifPermitted="'meritLists.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card class="mcard" *ngIf="loaded" [@pageState]="pageState">
        <div>
            <mat-card-title class="mc-title"></mat-card-title>

            <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                <a [routerLink]="['/admission/meritLists']" mat-icon-button *ifPermitted="'meritLists.index'">
                    <mat-icon matTooltip="List">list</mat-icon>
                </a>
                <a [routerLink]="['/admission/meritLists/update', meritList.id]" mat-icon-button *ifPermitted="'meritLists.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(meritList.id)" matTooltip="delete" *ifPermitted="'meritLists.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.programDetailId" formControlName="programDetailId" *ifPermitted="'programDetails.findAttributesList'"
                                required [autofocus]="true">
                                <mat-option *ngFor="let programDetail of programDetails" [value]="programDetail.id">
                                    <!-- {{ programDetail.program.educationLevel.instituteType.name }} -  -->
                                    {{ programDetail.program.educationLevel.education }} - {{ programDetail.program.name
                                    }} - {{ programDetail.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program Detail is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.academicYear" formControlName="academicYear" [textMask]="{mask: _yearMask}"
                                required>
                            <mat-error *ngIf="fg.get('academicYear').hasError('required')">Academic year is required.</mat-error>
                            <mat-error *ngIf="fg.get('academicYear').hasError('pattern')">Invalid year.</mat-error>
                        </mat-form-field>

                    </div>
                </div>
                <div>
                    <div fxLayout="row" fxLayoutGap="20px">

                        <mat-form-field fxFlex="100">
                            <input matInput [placeholder]="componentLabels.title" formControlName="title" required>
                            <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.percentageFrom" type="number" formControlName="percentageFrom" min="0" required>
                            <span matSuffix>%</span>

                            <mat-error *ngIf="!fg.get('percentageFrom').hasError('percentage') && !fg.get('percentageFrom').hasError('pattern') ">Invalid Perentage.</mat-error>
                            <mat-error *ngIf="fg.get('percentageFrom').hasError('pattern') ">Percentage can only be with two decimal places.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.percentageTo" type="number" formControlName="percentageTo" min="0" required>
                            <span matSuffix>%</span>

                            <mat-error *ngIf="(!fg.get('percentageTo').hasError('percentage') || fg.get('percentageTo').hasError('greaterThanFrom')) && !fg.get('percentageTo').hasError('pattern')">Invalid Percentage.</mat-error>
                            <mat-error *ngIf="fg.get('percentageTo').hasError('pattern')">Percentage can only be with two decimal places.</mat-error>

                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.numberOfSeats" type="number" formControlName="numberOfSeats" required>
                            <mat-error *ngIf="!fg.get('numberOfSeats').hasError('greaterThan')">Number of seats are invalid.</mat-error>
                        </mat-form-field>
                        <div fxFlex="50" fxLayout="column" *ifPermitted="'scholarships.findAttributesList'">
                            <mat-form-field *ngIf="pageAct !== pageActions.view">
                                <mat-select [placeholder]="componentLabels.scholarshipId" formControlName="scholarshipId" *ifPermitted="'scholarships.findAttributesList'">
                                    <mat-option *ngFor="let scholarship of scholarships" [value]="scholarship.id">
                                        {{ scholarship.title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('scholarshipId').hasError('required')">Scholarship is required.</mat-error>
                            </mat-form-field>
                            <!-- <span *ngIf="pageAct === pageActions.view && !meritList.scholarshipId">
                                No Scholarship
                            </span> -->
                            <mat-form-field *ngIf="pageAct === pageActions.view && meritList.scholarshipId">
                                <mat-select [placeholder]="componentLabels.scholarshipId" formControlName="scholarshipId" *ifPermitted="'scholarships.findAttributesList'">
                                    <mat-option *ngFor="let scholarship of scholarships" [value]="scholarship.id">
                                        {{ scholarship.title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('scholarshipId').hasError('required')">Scholarship is required.</mat-error>
                            </mat-form-field>
                        </div>


                    </div>
                </div>

                <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px">
                    <div *ifPermitted="'meritLists.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    </div>
                    <div *ifPermitted="'meritLists.create'">
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/admission/meritLists']">Cancel</a>

                    </div>
                    <div *ifPermitted="'meritLists.create'">
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/admission/meritLists/view', meritList.id]">Cancel</a>
                    </div>
                </div>
            </form>

        </mat-card-content>
    </mat-card>

</div>