.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}
.textarea-desc {
  min-height: 100px;
}

h2 {
  margin: 25px 0px 10px 0px;
}
.default-check {
  padding-left: 100px;
}
.scholarship-error {
  color: red;
  font-size: 10px;
}
