<div *ngIf="!loaded" style="color:gray; text-align:center; margin:20px;"> ...Please wait. Loading Program Details... </div>

<section *ngIf="loaded" [@pageState]="pageState">
  <fieldset class="field-set">
    <legend class="submit-class">Select Program</legend>
    <div *ngFor="let mul of multiple; let i = index" class="top-margin" disabled="isSubmit">
      <div fxLayout="row" fxLayoutGap="30px">

        <mat-form-field fxFlex="30">
          <mat-select placeholder="Select Program" [disabled]="i < (multiple.length -1) || isSubmit" [(ngModel)]="mul.programId" (change)="programChange($event)">
            <mat-option *ngFor="let pro of mul.program" [value]="pro.id">
              {{ pro.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button fxFlex="5" mat-icon-button type="button"  *ngIf="!(i == (multiple.length - 1)) && !isSubmit">
          <mat-icon>cancel</mat-icon>
        </button>
        <div fxFlex="75">
          <div fxLayout="row" fxLayoutGap="30px">
            <div *ngFor="let pro of mul.programDetails">
              <mat-checkbox color="primary"  [checked]="pro.checked" [disabled]="isSubmit"> {{pro.name}}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>


    </div>
  </fieldset>

</section>