.button-class {
  background-color: #679fdc;
  color: white;
}

.top-margin {
  padding-top: 10px;
  padding-bottom: 10px;
}

.field-set {
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-color: rgb(245, 237, 237);
  box-shadow: 3em;
  border-width: 1px;
}
.submit-class{
  color: #a0a0a0;
}