<div *ifPermitted="'campusMOU.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">

        <mat-card>

            <!-- <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader> -->
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)" *ngIf="selectedButton=='mou'">

                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxLayout="row" *ngFor="let prog of programDetails" (click)="chipClicked(prog.id)">
                        <button mat-raised-button [color]="prog.color" type="button">{{prog.name}}</button>
                    </div>

                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.fullName" formControlName="fullName" required [autofocus]="true">
                        <mat-error *ngIf="fg.get('fullName').hasError('required')">Full Name is required.</mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.cnic" formControlName="cnic" [textMask]="{mask: _cnicMask}" required>
                        <mat-error *ngIf="fg.get('cnic').hasError('required')">CNIC is required.</mat-error>
                        <mat-error *ngIf="fg.get('cnic').hasError('pattern') ">Invalid CNIC.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                        <mat-form-field fxFlex="20">
                            <mat-select [placeholder]="componentLabels.countryCode" formControlName="countryCode" (change)="loadCities($event.value)"
                                required>
                                <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                    {{country.abbreviation + ' (' + country.countryCode + ')'}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="80">

                            <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" [textMask]="{mask: _mobileNumberMask}"
                                required>
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                            <mat-error *ngIf=" fg.get('mobileNumber').hasError('pattern')">Invalid Mobile Number.</mat-error>
                        </mat-form-field>
                    </div>


                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.email" formControlName="email" required>
                        <mat-error *ngIf="fg.get('email').hasError('required')">Email is required.</mat-error>
                        <mat-error *ngIf="fg.get('email').hasError('email') &&  !fg.get('email').hasError('required')">Invalid Email.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.prospectusNumber" formControlName="prospectusNumber" required>
                        <mat-error *ngIf="fg.get('prospectusNumber').hasError('required')">Prospectus Number is required.</mat-error>

                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.price" formControlName="price" required>
                        <mat-error *ngIf="fg.get('price').hasError('required')">Price is required.</mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxFlex="50">
                        <div fxFlex="20"> Shift: </div>
                        <div fxFlex="60" >
                            <mat-radio-group fxLayoutGap="50px">
                                <mat-radio-button value="1" color="primary">Morning</mat-radio-button>
                                <mat-radio-button value="2" color="primary">Evening</mat-radio-button>
                            </mat-radio-group>
                        </div>

                    </div>

                </div>



                <div>
                    <div>
                            <!-- [disabled]="fg.invalid" -->
                        <button mat-raised-button type="submit"  *ifPermitted="'campusMOU.create'" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/campus/mous']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/campus/mous/view', mouModel.id]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card>


    </div>
</div>