<div [@pageState]="pageState" style="margin-top:50px">
    <div class="parent">

        <shared-dashboard-widget-link *ifPermitted="'users.index'" class="child" [icon]="'supervisor_account'" [label]="'Users'"
            [link]="['/security/users/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'groups.index'" class="child" [icon]="'supervised_user_circle'" [label]="'Groups'"
            [link]="['/security/groups/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'roles.index'" class="child" [icon]="'security'" [label]="'Roles'" [link]="['/security/roles/']"></shared-dashboard-widget-link>

    </div>
</div>