<div *ngIf="!loaded" style="color:gray; text-align:center; margin:20px;"> ...Please wait. Loading Program Details... </div>


<section *ngIf="loaded" [@pageState]="pageState">
  <fieldset class="field-set">
    <legend>Select Program</legend>
    <div *ngFor="let mul of multiple; let i = index" class="top-margin" disabled="isSubmit">
      <div fxLayout="row" fxLayoutGap="10px">
        <div fxFlex="30" fxLayoutGap="10px">
          <mat-form-field fxFlex="70">
            <mat-select placeholder="Select Program" [disabled]="i < (multiple.length -1) || isSubmit" [(ngModel)]="mul.programId" (change)="programChange($event)">
              <mat-option *ngFor="let pro of mul.program" [value]="pro.id">
                {{ pro.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <button fxFlex="5" mat-icon-button type="button" (click)="deletePorgram(mul.programId)" *ngIf="!(i == (multiple.length - 1)) && !isSubmit">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>

        <div fxFlex="70">
          <div fxLayout="row" fxLayoutGap="30px" fxLayout="row wrap">
            <div *ngFor="let pro of mul.programDetails">
              <mat-checkbox color="primary" (change)="checkChange($event,mul.programId,pro.id)" [checked]="pro.checked" [disabled]="isSubmit"> {{pro.name}}</mat-checkbox>
            </div>
          </div>
        </div>
      </div>


    </div>
  </fieldset>

</section>