<div *ifPermitted="'viewTimeTable.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <mat-card class="mcard">

            <div>


                <mat-card-content>
                    <div>
                        <div class="th">
                            <div class="tt-th" fxFlex="8">Slot Order</div>
                            <div class="tt-th" fxFlex="20">Slots</div>

                            <div class="tt-th" fxFlex>Monday</div>
                            <div class="tt-th" fxFlex>Tuesday</div>
                            <div class="tt-th" fxFlex>Wednesday</div>
                            <div class="tt-th" fxFlex>Thursday</div>
                            <div class="tt-th" fxFlex>Friday</div>
                            <div class="tt-th" fxFlex>Saturday</div>
                            <div class="tt-th" fxFlex>Sunday</div>


                        </div>
                        <div *ngFor="let item of mappedTT" class="tt-row">

                            <div class="tt-col2" fxFlex="8">{{item.slotOrder}}</div>

                            <div class="tt-col2" fxFlex="20">{{item.slotTitle}}</div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'MON'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'MON'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'TUE'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'TUE'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'WED'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'WED'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'THR'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'THR'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'FRI'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'FRI'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'SAT'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'SAT'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tt-col" fxFlex>

                                <div *ngFor="let day of item.days">

                                    <div *ngIf="day.day == 'SUN'">
                                        <strong>{{day.course}}</strong>
                                    </div>
                                    <div *ngIf="day.day == 'SUN'">
                                        <div *ngFor="let sec of day.sections">
                                            {{sec}}
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </mat-card-content>
            </div>
        </mat-card>





    </div>

</div>