<div *ifPermitted="'concessions.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">

        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <div>

            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                <ng-container matColumnDef="title">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attributeLabels['title']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">

                    <mat-header-cell *matHeaderCellDef mat-sort-header class="opt-header"> </mat-header-cell>

                    <mat-cell *matCellDef="let element" class="options">
                        <a [routerLink]="['/fee-management/concessions/view', element.id]" mat-icon-button *ifPermitted="'concessions.findAttributesList'">
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>
                        <a [routerLink]="['/fee-management/concessions/update', element.id]" mat-icon-button *ifPermitted="'concessions.updateWithFeeHeads'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                        <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'concessions.deleteWithFeeHeads'">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-cell>

                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
        </div>

        <mat-paginator #paginator [length]="length" [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">

        </mat-paginator>
    </div>


    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/fee-management/concessions/create']" *ifPermitted="'concessions.createWithFeeHeads'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>