.page-title > h1 {
  margin: 0 0 20px 0;
}

.row {
  display: flex;
  align-items: center;
  padding: 1% 0 1% 0;
}

.row-title {
  flex: 0 0 25%;
  font-weight: 300;
  font-size: 1.2em;
}

.row-content {
  flex: 0 0 75%;
}

.buttons-row {
  margin-top: 20px;
}

mat-form-field {
  width: 90%;
}
