<div [@pageState]="pageState" style="margin-top:50px">
    <div class="parent">

        <shared-dashboard-widget-link *ifPermitted="'managementFees.index'" class="child" [icon]="'attach_money'" [label]="'Management Fees'"
            [link]="['/fee-management/managementFees/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'feeHeads.index'" class="child" [icon]="'face'" [label]="'Fee Heads'" [link]="['/fee-management/feeHeads/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'concessions.index'" class="child" [icon]="'thumb_up_alt'" [label]="'Concessions'"
            [link]="['/fee-management/concessions/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'scholarships.index'" class="child" [icon]="'school'" [label]="'Scholarships'"
            [link]="['/fee-management/scholarships/']"></shared-dashboard-widget-link>

        <shared-dashboard-widget-link *ifPermitted="'configurations.index'" class="child" [icon]="'nature_people'" [label]="'Nature of Fee Heads'"
            [link]="['/fee-management/configurations/natureOfFeeHeads/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'configurations.index'" class="child" [icon]="'view_compact'" [label]="'Types of Fee Heads'"
            [link]="['/fee-management/configurations/typeOfFeeHeads/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'configurations.index'" class="child" [icon]="'view_comfy'" [label]="'Concession Categories'"
            [link]="['/fee-management/configurations/concessionCategories/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link *ifPermitted="'configurations.index'" class="child" [icon]="'view_compact'" [label]="'Concession Types'"
            [link]="['/fee-management/configurations/concessionTypes/']"></shared-dashboard-widget-link>

    </div>

</div>