<div *ifPermitted="'campusAcademicCalendars.updateWithCampusAndAcademicCalendarProgramDetails'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" class="mcard" [@pageState]="pageState">
        <h3 *ngIf="selectedCampus">Campus : {{ selectedCampus.campusName}}</h3>
        <!-- <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader> -->
        <div>
            <div fxFlex></div>
            <div class="mc-action-btn">
                <a matTooltip="List" [routerLink]="['/institute/campusAcademicCalendars']" mat-icon-button *ifPermitted="'campusAcademicCalendars.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <span *ngIf="selectedCampus">
                        <a [routerLink]="['/institute/campusAcademicCalendars/view', selectedCampus.id]" mat-icon-button *ifPermitted="'campusAcademicCalendars.findWithAcademicCalendars'">
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>
                </span>

                
            </div>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">
                <div fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="10px">


                        <mat-form-field appearance="outline" fxFlex="100" *ifPermitted="'academicCalendarProgramDetails.findAttributesList'">
                            <mat-select placeholder="Program Detail" formControlName="academicCalendarProgramDetailId" (change)="findInAcademicCalendarProgramDetail()"
                                multiple>
                                <mat-select-trigger>
                                    <span *ngIf="fg.get('academicCalendarProgramDetailId').value && selectedAcademicCalendarProgramDetails && selectedAcademicCalendarProgramDetails.length">
                                        {{selectedAcademicCalendarProgramDetails[0].academicCalendar.title + '-' + selectedAcademicCalendarProgramDetails[0].programDetail['program']['name']
                                        + '-' + selectedAcademicCalendarProgramDetails[0].programDetail.name}}
                                    </span>

                                    <span *ngIf="fg.get('academicCalendarProgramDetailId').value?.length > 1" class="example-additional-selection">
                                        (+{{fg.get('academicCalendarProgramDetailId').value.length - 1}} others)
                                    </span>
                                </mat-select-trigger>
                                <mat-option *ngFor="let academicCalendarProgramDetail of academicCalendarProgramDetails" [value]="academicCalendarProgramDetail.id">{{academicCalendarProgramDetail.academicCalendar.title + '-' + academicCalendarProgramDetail.programDetail['program']['name']
                                    + '-' + academicCalendarProgramDetail.programDetail.name }}</mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>
                </div>
                <div fxLayout="column">
                    <fieldset class="field-set" *ngIf="selectedAcademicCalendarProgramDetails && selectedAcademicCalendarProgramDetails.length > 0">
                        <legend>
                            <strong> Selected Program Detail </strong>
                        </legend>
                        <mat-list>
                            <div fxLayout="row" class="p-header">
                                <mat-list-item fxFlex="50">
                                    <b> {{componentLabels.academicCalendarProgramDetailId}}</b>
                                </mat-list-item>
                                <mat-list-item fxFlex="25">
                                    <b>{{componentLabels.startDate}}</b>
                                </mat-list-item>
                                <mat-list-item fxFlex="25">
                                    <b>{{componentLabels.endDate}}</b>
                                </mat-list-item>
                            </div>
                            <mat-divider class="c-divider"></mat-divider>
                            <div formArrayName="mapDates" *ngFor="let academicCalendarProgramDetail of selectedAcademicCalendarProgramDetails ; let i = index">
                                <div fxLayout="row" class="p-row" [formGroupName]="i">
                                    <mat-list-item fxFlex="50">
                                        <div fxLayout="column">
                                            <div> {{ academicCalendarProgramDetail.academicCalendar.title + '-' + academicCalendarProgramDetail.programDetail['program']['name']
                                                + '-' + academicCalendarProgramDetail.programDetail.name }} </div>
                                            <div class="v-error" *ngIf="academicCalendarProgramDetail['error']">This academy calendar is already assign to a campus.</div>
                                        </div>

                                    </mat-list-item>


                                    <mat-list-item fxFlex="25">
                                        <mat-form-field>
                                            <input matInput [matDatepicker]="picker1" [placeholder]="componentLabels.startDate" formControlName="startDate" required  [readonly]="academicCalendarProgramDetail['isDisable']">
                                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                            <mat-datepicker #picker1 [disabled]="academicCalendarProgramDetail['isDisable']"></mat-datepicker>
                                        </mat-form-field>



                                    </mat-list-item>
                                    <mat-list-item fxFlex="25">
                                        <mat-form-field>

                                            <input matInput [matDatepicker]="picker2" [placeholder]="componentLabels.endDate" formControlName="endDate" required  [readonly]="academicCalendarProgramDetail['isDisable']">
                                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                                            <mat-datepicker #picker2 [disabled]="academicCalendarProgramDetail['isDisable']"> </mat-datepicker>
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-divider class="c-divider" *ngIf="i !== 0"></mat-divider>
                                </div>

                            </div>
                        </mat-list>
                    </fieldset>
                </div>






                <div *ifPermitted="'campusAcademicCalendars.updateWithCampusAndAcademicCalendarProgramDetails'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a color="accent" mat-raised-button [routerLink]="['/institute/campusAcademicCalendars']">Cancel</a>
                </div>
            </form>


        </mat-card-content>
    </mat-card>
</div>