.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}
.example-additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}

.c-header > mat-list-item {
  font-size: 12px;
  height: 35px;
}
.c-row > mat-list-item {
  font-size: 12px;
  height: 35px;

}
.field-set {
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-color: rgb(245, 237, 237);
  box-shadow: 3em;
  border-width: 1px;
}
.c-divider{
  margin-left :26px;
  width: 95% !important; 
}
.p-header > mat-list-item {
  font-size: 12px;
  height: 60px;
}
.p-row > mat-list-item {
  font-size: 12px;
  height: 60px;

}
.v-error {
  color: red;
  font-size: 10px;
  margin-top: 10px;
}

