<div *ifPermitted="'eligibilityCriteria.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
        <div *ngIf="loaded">

            <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                <ng-container matColumnDef="targetProgramTitle">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['targetProgramTitle']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.targetProgramTitle}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ageFromYY">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['ageFromYY']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ageFromYY}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="ageFromMM">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['ageFromMM']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ageFromMM}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ageToYY">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['ageToYY']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ageToYY}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="ageToMM">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['ageToMM']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.ageToMM}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="options">
                        <a [routerLink]="['/admission/eligibilityCriteria/view', element.id]" mat-icon-button *ifPermitted="'eligibilityCriteria.find'">
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>
                        <a [routerLink]="['/admission/eligibilityCriteria/update', element.id]" mat-icon-button *ifPermitted="'eligibilityCriteria.update'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                        <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'eligibilityCriteria.delete'">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
        </div>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
        </mat-paginator>
    </div>

    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/admission/eligibilityCriteria/create']" *ifPermitted="'eligibilityCriteria.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>