<div *ifPermitted="'activities.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>


    <div *ngIf=" loaded">

        <div [@pageState]="pageState">



            <div class="mat-elevation-z8">
                <div>
                    <mat-form-field fxFlex class="dgSearchBar">
                        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                    </mat-form-field>
                </div>
                <div>

                    <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>


                        <ng-container matColumnDef="title">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['title']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dates">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['dates']}} </mat-header-cell>
                            <!-- <mat-cell *matCellDef="let element"> {{element.startDate | date }} - {{ element.endDate | date }} </mat-cell> -->
                            <mat-cell *matCellDef="let element"> {{ element.dates }} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="days">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['days']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.days}} </mat-cell>
                        </ng-container>



                        <ng-container matColumnDef="options">
                            <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                            <mat-cell *matCellDef="let element" class="options">
                                <a [routerLink]="['/academic/activities/view', element.id]" mat-icon-button *ifPermitted="'activities.find'">
                                    <mat-icon matTooltip="View">visibility</mat-icon>
                                </a>
                                <a [routerLink]="['/academic/activities/update', element.id]" mat-icon-button *ifPermitted="'activities.update'">
                                    <mat-icon matTooltip="Edit">edit</mat-icon>
                                </a>
                                <a mat-icon-button (click)="deleteActivity(element.id)" matTooltip="Delete" *ifPermitted="'activities.delete'">
                                    <!-- <a mat-icon-button (click)="deleteProgram(element.id)" matTooltip="Delete" *ifPermitted="'activities.delete'"> -->
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </a>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                    </mat-paginator>
                </div>


            </div>
        </div>

        <div class="right-bottom-button">
            <a mat-fab color="primary" [routerLink]="['/academic/activities/add']" *ifPermitted="'activities.create'">
                <mat-icon>add</mat-icon>
            </a>
        </div>
    </div>

</div>