<div class="layout">
  <layout-header></layout-header>
  <div class="layout-body">

    <layout-left-nav></layout-left-nav>

    <layout-settings-nav *ngIf="subNavActive" class="sub-nav-list"></layout-settings-nav>

    <div class="relative-page-content">

      <layout-sub-header></layout-sub-header>

      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  <layout-footer></layout-footer>
</div>