<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'campusAdmission.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            Add Program Detail
        </div>

        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="column">
                <div fxFlex="100" fxLayout="row" style="padding-top: 10px;" fxLayoutGap="60px">
                    <mat-form-field fxFlex="50">
                        <mat-select placeholder="Campus" [(ngModel)]="campusId" [disabled]="true" [ngModelOptions]="{standalone: true}" required>
                            <mat-option *ngFor="let campus of campuses" [value]="campus.id">
                                {{campus.campusName}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('admissionYear').hasError('required')">Year is required.</mat-error>
                    </mat-form-field>


                </div>
                <div fxLayout="row" fxLayoutGap="60px" fxFlex="100" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.admissionMonth" formControlName="admissionMonth" required [autofocus]="true">
                            <mat-option *ngFor="let month of months" [value]="month.number">
                                {{ month.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('admissionMonth').hasError('required')">Month is required.</mat-error>
                    </mat-form-field>

                    <div fxFlex="50" fxLayoutGap="10px">
                        <mat-form-field fxFlex="80">
                            <mat-select [placeholder]="componentLabels.admissionYear" formControlName="admissionYear" required>
                                <mat-option *ngFor="let year of years" [value]="year">
                                    {{ year }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('admissionYear').hasError('required')">Year is required.</mat-error>
                        </mat-form-field>
                        <div class="checkbox-class">
                            <mat-checkbox fxFlex="20" color="primary" formControlName="isActive">Is Active</mat-checkbox>
                        </div>

                    </div>

                </div>

            </div>



            <div fxLayout="row" fxLayoutGap="10px">
                <div *ifPermitted="'campusAdmissions.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                </div>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>


            </div>
        </form>

    </div>
</div>