<div>
    <div>
        <div class="dialog-title">
            Assign Role to: {{roleAssignment.groupName}}
        </div>

        <form (ngSubmit)="submit()" #form="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex style="margin:15px 0px;">
                    <mat-select placeholder="Select Role" name="role" [(ngModel)]="roleAssignment.roleId" required>
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="buttons-row">
                <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">Assign</button>
                <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
            </div>
        </form>
    </div>
</div>