<section [formGroup]="fg" class="top-margin">

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">

    <mat-form-field fxFlex="50">
      <input matInput placeholder="Suggested Campus Name" #message maxlength="50" formControlName="campusName">
    </mat-form-field>


    <mat-form-field fxFlex="35" *ngIf="pageAct ==  pageActions.create">
      <mat-select placeholder="Institute Type" formControlName="instituteTypeId" (change)="loadEducationLevels($event)">
        <mat-option *ngFor="let instituteType of instituteTypes" [value]="instituteType.id">
          {{instituteType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="50">
      <mat-select placeholder="Level of Education" formControlName="educationLevelId" (change)="loadPrograms($event)">
        <mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id">
          {{educationLevel.education}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    
  </div>
  <div>
    <campus-program-details [campusInfo]="camModel" [isSubmit]="isSubmit"></campus-program-details>
  </div>
  <div>
    <mat-form-field >
      <input matInput [matDatepicker]="picker" placeholder="Tentative Session Start" formControlName="tentativeSessionStart">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
   </div>
  <div>
    <mat-radio-group formControlName="buildingAvailable">
      <mat-radio-button color="primary" [value]="true">Buliding Available</mat-radio-button>
      <mat-radio-button color="primary" [value]="false">Buliding Not Available</mat-radio-button>
    </mat-radio-group>
  </div>


  <div *ngIf="fg.value.buildingAvailable == true">
    <campus-address [fg]="fg" [isSubmit]="isSubmit" [crApplicantId]="crApplicantId" [buildingAvailable]="true" [camModel]="camModel"></campus-address>
  </div>
  <div *ngIf="fg.value.buildingAvailable == false">
    <campus-address [fg]="fg" [buildingAvailable]="false" [crApplicantId]="crApplicantId" [camModel]="camModel"></campus-address>
  </div>

  <section *ngIf="fg.value.buildingAvailable == true">

    <div>
      <campus-infrastructure [fg]="fg" [staffAndStudentFields]="false" [isSubmit]="isSubmit" [crApplicantId]="crApplicantId"></campus-infrastructure>
    </div>
  </section>


</section>