<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'esSections.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{pageTitle}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout>

                <mat-form-field fxFlex="100">
                    <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                    <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                </mat-form-field>

            </div>

            <div *ifPermitted="'esSections.create'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>