<div *ifPermitted="'banks.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/settings/configurations/banks']" mat-icon-button *ifPermitted="'banks.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/settings/configurations/banks/update', bank.id]" mat-icon-button *ifPermitted="'banks.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(bank.id)" matTooltip="delete" *ifPermitted="'banks.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content>
            <mat-progress-bar *ngIf="showDivBar" mode="indeterminate" class="progress-bar-margin"></mat-progress-bar>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.name" formControlName="name" required [autofocus]="true">
                        <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                        <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation">
                        <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">

                </div>

                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'banks.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/settings/configurations/banks']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/settings/configurations/banks/view', bank.id]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>