<div *ifPermitted="'groups.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">
        <mat-card class="mcard">
            <div class="mc-action-btn">
                <a [routerLink]="['/security/groups/update', group.id]" mat-icon-button *ifPermitted="'groups.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(group.id)" matTooltip="delete" *ifPermitted="'groups.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
            <shared-detail-view [data]="group" [labels]="groupLabels" [showOnly]="['name', 'description']"></shared-detail-view>
        </mat-card>

        <div>
            <mat-card fxFlex="100" class="mcard">
                <div>
                    <mat-card-title class="mc-title">Users</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="assignUser(group.id)">
                            <mat-icon matTooltip="Assign User">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-wrapper">
                        <mat-table #table [dataSource]="userDataSource">
                            <ng-container matColumnDef="username">
                                <mat-header-cell *matHeaderCellDef> {{userLabels['username']}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.user.username}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="options">
                                    <a mat-icon-button (click)="deleteUser(element.id)" matTooltip="Delete">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row class="table-header" *matHeaderRowDef="userDisplayedColumns"></mat-header-row>
                            <mat-row class="hover-effect" *matRowDef="let row; columns: userDisplayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div>
            <mat-card fxFlex="100" class="mcard">
                <div>
                    <mat-card-title class="mc-title">Roles</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="assignRole(group.id)">
                            <mat-icon matTooltip="Assign Role">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-wrapper">
                        <mat-table #table [dataSource]="roleDataSource">
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> {{roleLabels['name']}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.role.name}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="options">
                                    <a mat-icon-button (click)="deleteRole(element.id)" matTooltip="Delete">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row class="table-header" *matHeaderRowDef="roleDisplayedColumns"></mat-header-row>
                            <mat-row class="hover-effect" *matRowDef="let row; columns: roleDisplayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>