<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div>
    <div *ngIf="loaded">
        <div class="dialog-title">
          Program :   {{data.programDetail}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">


                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.bankId" formControlName="bankId" required [autofocus]="true">
                        <mat-option *ngFor="let bank of banks" [value]="bank.id">
                            {{ bank.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('bankId').hasError('required')">Challan Type is required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.branch" formControlName="branch" required>
                    <mat-error *ngIf="fg.get('branch').hasError('required')">Branch Name is required.</mat-error>
                    <mat-error *ngIf="fg.get('branch').hasError('maxlength')">Exceeding Maximum Length (Max Length is 30).</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.account" formControlName="account" required>
                    <mat-error *ngIf="fg.get('account').hasError('required')">Account is required.</mat-error>
                    <mat-error *ngIf="fg.get('account').hasError('maxlength')">Exceeding Maximum Length (Max Length is 40).</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.challanType" formControlName="challanType" required>
                        <mat-option *ngFor="let challan of challanTypes" [value]="challan">
                            {{ challan }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('challanType').hasError('required')">Challan Type is required.</mat-error>
                </mat-form-field>
            </div>





            <div >
                <div class="button-margin">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" *ifPermitted="'cpdAccount.create'" color="primary">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>