<div *ifPermitted="'duplicateTimeTable.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ngIf="mappingTimeTable">

            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.timeTableId" formControlName="timeTableId" (change)="timeTableChange($event)"
                                    required [autofocus]="true">
                                    <mat-option *ngFor="let tt of timeTableModel" [value]="tt.id">
                                        {{tt.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('timeTableId').hasError('required')">Time Table is required.</mat-error>
                            </mat-form-field>

                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.timeTableTitle" formControlName="timeTableTitle" required>
                                <mat-error *ngIf="fg.get('timeTableTitle').hasError('required')">Title is required.</mat-error>
                            </mat-form-field>

                        </div>
                    </div>

                    <div *ngIf="slotDaysModel.length > 0">
                        <div class="th">
                            <div class="tt-th" fxFlex="20">Slot</div>
                            <div class="tt-th" fxFlex="20">New Slot</div>
                            <div class="tt-th" fxFlex>Monday</div>
                            <div class="tt-th" fxFlex>Tuesday</div>
                            <div class="tt-th" fxFlex>Wednesday</div>
                            <div class="tt-th" fxFlex>Thursday</div>
                            <div class="tt-th" fxFlex>Friday</div>
                            <div class="tt-th" fxFlex>Saturday</div>
                            <div class="tt-th" fxFlex>Sunday</div>
                        </div>
                        <div *ngFor="let item of slotDaysModel" class="tt-row">

                            <div class="tt-col" fxFlex="20">{{item.slotTitle}}</div>
                            <div class="tt-col1" fxFlex="20">
                                <mat-form-field>
                                    <mat-select [(ngModel)]="item.slotId" [ngModelOptions]="{standalone: true}" required>
                                        <mat-option *ngFor="let tt of slotModel" [value]="tt.id">
                                            {{tt.fromTime +' - '+ tt.toTime}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.monday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.tuesday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.wednesday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.thursday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.friday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.saturday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                            <div class="tt-col" fxFlex>
                                <mat-checkbox color="primary" [(ngModel)]="item.sunday" [ngModelOptions]="{standalone: true}"></mat-checkbox>
                            </div>
                        </div>
                    </div>


                    <div class="last-section">

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.campusId" [formControl]="campuses" multiple (change)="campusChange()">
                                <mat-option *ngFor="let tt of campusModel" [value]="tt.id">
                                    {{tt.campusName}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-chip-list fxLayout="row" fxLayoutWrap>
                            <div *ngFor="let sec of selectedCampuses" fxLayout>
                                <mat-chip class="mt-10">{{sec}}</mat-chip>
                            </div>

                        </mat-chip-list>

                    </div>

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">


                            <mat-form-field fxFlex="50">
                                <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.validFrom" formControlName="validFrom" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="fg.get('validFrom').hasError('required')">Valid From is required.</mat-error>
                            </mat-form-field>


                            <mat-form-field fxFlex="50">
                                <input matInput [matDatepicker]="picker1" [placeholder]="componentLabels.validTo" formControlName="validTo" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="fg.get('validTo').hasError('required')">valid To is required.</mat-error>
                            </mat-form-field>

                        </div>
                    </div>




                    <div>


                        <div fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'duplicateTimeTable.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'duplicateTimeTable.create'">
                                <a color="accent" mat-raised-button [routerLink]="['/time-table/timeTable']">Cancel</a>

                            </div>

                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>