.add {
  margin-top: 15px;
}

.delete-icon {
  margin-top: 5px;
}

.textarea-desc {
  min-height: 100px;
}

h2 {
  margin: 25px 0px 10px 0px;
}

.default-check {
  padding-left: 100px;
}

.action-btn {
  padding-top: 20px;
}

.pd-header > mat-list-item {
  font-size: 16px;
}

.pd-row > mat-list-item {
  font-size: 14px;
}
.program-detail {
  margin-top: 10px;
}
.no-fee-head {
  margin: 0px 0px 0px 30px;
}
.pd-row:hover .options {
  visibility: visible;
}
.mt-10{
  margin-top: 10px;
  margin-right: 5px;
}
.tt-ct{
  border-top: 1px solid gray;
}
.tt-col{
  padding-top: 20px;
  border-right: 1px solid lightgrey; 
  text-align: center;
  /* padding-top: 40px; */
  border-bottom: 1px solid gray;
}
.tt-col1{
  border-right: 1px solid lightgrey; 
  text-align: center;
  /* padding-top: 20px; */
  border-bottom: 1px solid gray;
}
.tt-th{
  /* font-weight: bold; */
  vertical-align: bottom;
  padding: 8px;
  line-height: 20px;
  /* color: #818181; */
  text-align: center;
}
.th{
  background-color: #dcdcdc;
  color: black;
}
.tt-row{
  border-top: 0px solid lightgrey;
  border-bottom: 0px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-collapse: collapse;
}
.last-section{
  margin-top: 20px;
}