<div *ifPermitted="'campusMOUVerification.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">
        <mat-card>
            <mat-card-title>

                <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between start">
                    <div fxFlex="80">
                        <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='campus')? 'button-class' : 'as'" type="button" (click)="tabChange('campus')">Campus Detail</button>
                        <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='mou')? 'button-class' : 'as'" type="button" (click)="tabChange('mou')">MOU</button>
                        <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='mouVerification')? 'button-class' : 'as'" type="button"
                            (click)="tabChange('mouVerification')">MOU Verification</button>
                    </div>

                    <wf-states [WFId]="'post-registration'" [parent]="'Campus'" [stateId]="stateId" [parentId]="CRApplicationId" *ngIf="stateId && CRApplicationId"
                        (onChangeStateId)="onChangeStateEvent($event)"></wf-states>

                </div>


            </mat-card-title>

            <mat-card-content>
                <campus-detail-view [CRApplicationId]="CRApplicationId" *ngIf="CRApplicationId && selectedButton=='campus'"></campus-detail-view>
                <mou-view *ngIf="selectedButton=='mou'"></mou-view>
                <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)" *ngIf="selectedButton=='mouVerification'">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.instrumentTypeId" formControlName="instrumentTypeId" required [autofocus]="true">
                                <mat-option *ngFor="let instrumentCategory of instrumentCategories" [value]="instrumentCategory.id">
                                    {{ instrumentCategory.value }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('instrumentTypeId').hasError('required')">Instrument Category is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.currentDate" formControlName="currentDate" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="fg.get('currentDate').hasError('required')">Current Date is required.</mat-error>
                        </mat-form-field>


                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [matDatepicker]="picker1" [placeholder]="componentLabels.instrumentDate" formControlName="instrumentDate"
                                required>
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="fg.get('instrumentDate').hasError('required')">Instrument Date is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.instrumentNumber" formControlName="instrumentNumber" required>
                            <mat-error *ngIf="fg.get('instrumentNumber').hasError('required')">Instrument Number is required.</mat-error>
                            <mat-error *ngIf="fg.get('instrumentNumber').hasError('min')">Instrument Number is negative.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.bankId" formControlName="bankId" required>
                                <mat-option *ngFor="let bank of banks" [value]="bank.id">
                                    {{ bank.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('bankId').hasError('required')">Bank is required.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.bankName" formControlName="bankName" required>
                            <mat-error *ngIf="fg.get('bankName').hasError('required')">Branch Name is required.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.amount" formControlName="amount" min="0" required type="number">
                            <mat-error *ngIf="fg.get('amount').hasError('required')">Amount is required.</mat-error>
                            <mat-error *ngIf="fg.get('amount').hasError('min')">Amount is negative.</mat-error>

                            <mat-error *ngIf="fg.get('amount').hasError('invalid')">Amount is not Matched with the MOU License Fee Amount.</mat-error>
                        </mat-form-field>

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.status" formControlName="status" required>
                                <mat-option *ngFor="let sta of status" [value]="sta">
                                    {{ sta }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('status').hasError('required')">Status is required.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.account" formControlName="account" required>
                            <mat-error *ngIf="fg.get('account').hasError('required')">Account is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.purpose" formControlName="purpose" required>
                                    <mat-option *ngFor="let puprose of mouVerificationPurposes" [value]="puprose">
                                        {{ puprose }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('purpose').hasError('required')">Puprose is required.</mat-error>
                            </mat-form-field>
                    </div>
                    
                    <!-- <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="100">
                            <textarea matInput [placeholder]="componentLabels.purpose" formControlName="purpose" matTextareaAutosize matAutosizeMinRows="2"
                                matAutosizeMaxRows="5" required></textarea>
                            <mat-error *ngIf="fg.get('purpose').hasError('required')">Purpose is required.</mat-error>
                            <mat-error *ngIf="fg.get('purpose').hasError('maxlength')">Exceeding Maximum Length (Max Length is 400).</mat-error>

                        </mat-form-field>
                    </div> -->

                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="100">
                            <textarea matInput [placeholder]="componentLabels.remarks" formControlName="remarks" required matTextareaAutosize matAutosizeMinRows="5"
                                matAutosizeMaxRows="5"></textarea>
                            <mat-error *ngIf="fg.get('remarks').hasError('required')">Remarks is required.</mat-error>
                            <mat-error *ngIf="fg.get('remarks').hasError('maxlength')">Exceeding Maximum Length (Max Length is 500).</mat-error>

                        </mat-form-field>
                    </div>

                    <div *ngIf="pageAct != 'view'">
                        <div>
                            <button mat-raised-button type="submit" [disabled]="fg.invalid" *ifPermitted="'campusMOUVerification.create'" color="primary">Save</button>
                            <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/campus/mouVerification']">Cancel</a>
                            <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/campus/mouVerification/view', mouVerificationModel.id]">Cancel</a>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>