<div fxLayout *ifPermitted="'WFStates.list'">

    <!-- <shared-page-loader *ngIf="!loaded"> </shared-page-loader> -->

    <mat-card fxFlex="100" class="mcard" *ngIf="loaded" [@pageState]="pageState">
        <!-- <div>
            <mat-card-title class="mc-title">States</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addStateClick()" *ifPermitted="'WFStates.create'">
                    <mat-icon matTooltip="Add State">add</mat-icon>
                </a>
            </div>
        </div> -->
        <!-- <mat-card-content>

            <shared-list-view [data]="wfState" [options]="listViewOptions"></shared-list-view>

        </mat-card-content> -->
        <div>
            <mat-card-title class="mc-title">States</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addStateClick()" *ifPermitted="'WFStates.create'">
                    <mat-icon matTooltip="Add State">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <div>
                <mat-table #table [dataSource]="dataSource">


                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.state}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> Title </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">

                            <a (click)="editClick(element.id,element.state)" mat-icon-button *ifPermitted="'WFStates.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-card-content>



    </mat-card>
</div>