.add {
  margin-top: 15px;
}

.delete-icon {
  margin-top: 5px;
}

.user-heading {
  margin-left: 0px;
  margin-bottom: 15px;
  font-size: 14px;
}

.checkbox-margin {
  margin-top: 15px;
  margin-left: 20px;
}

.button-class{
  background-color: #679fdc;
  color: white;
}
.field-set {
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-color: rgb(245, 237, 237);
  box-shadow: 3em;
  border-width: 1px;
}