<div *ifPermitted="'campus.findCampus'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.campusId" formControlName="campusId" required>
                        <mat-error *ngIf="fg.get('campusId').hasError('required')">Campus Id is required.</mat-error>
                    </mat-form-field>


                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.codeNumber" formControlName="codeNumber" required>
                        <mat-error *ngIf="fg.get('codeNumber').hasError('required')">Code Number is required.</mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.campusName" formControlName="campusName" required>
                        <mat-error *ngIf="fg.get('campusName').hasError('required')">Campus Name is required.</mat-error>
                        <mat-error *ngIf="fg.get('campusName').hasError('maxlength')">Exceeding Maximum Length (Max Length is 30).</mat-error>
                    </mat-form-field>



                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.email" formControlName="email" required>
                        <mat-error *ngIf="fg.get('email').hasError('required')">Email is required.</mat-error>
                        <mat-error *ngIf="fg.get('email').hasError('email')">Email is not valid.</mat-error>
                    </mat-form-field>


                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxLayout="row" fxFlex="50">
                        <mat-form-field fxFlex="20">

                            <mat-select [placeholder]="componentLabels.countryCode" formControlName="countryCode" required>
                                <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                    {{country.abbreviation + ' (' + country.countryCode + ')'}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="80">
                            <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" required [textMask]="{mask: mobileMask}">
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                            <mat-error *ngIf="fg.get('mobileNumber').hasError('minlength')">Minimum Length is 15.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxFlex="50">
                        <mat-form-field fxFlex="20">

                            <mat-select [placeholder]="componentLabels.countryCodeForLandLine" formControlName="countryCodeForLandLine" required>
                                <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                    {{country.abbreviation + ' (' + country.countryCode + ')'}}

                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field fxFlex="80">
                            <input matInput [placeholder]="componentLabels.landLineNumber" formControlName="landLineNumber" type="number" max="12" required>
                            <mat-error *ngIf="fg.get('landLineNumber').hasError('required')">Mobile Number is required.</mat-error>
                            <mat-error *ngIf="!fg.get('landLineNumber').hasError('greaterThan')">Maximum Length is 12.</mat-error>
                        </mat-form-field>

                    </div>


                </div>

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <input matInput [placeholder]="componentLabels.address" formControlName="address" required>
                        <mat-error *ngIf="fg.get('address').hasError('required')">Address is required.</mat-error>
                        <mat-error *ngIf="fg.get('campusName').hasError('maxlength')">Exceeding Maximum Length (Max Length is 50).</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicMonth" readonly formControlName="academicMonth" required>
                            <mat-option *ngFor="let academicMonth of academicMonths" [value]="academicMonth.number">
                                {{ academicMonth.abbreviation }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicMonth').hasError('required')">Academic Month is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicYear" readonly formControlName="academicYear" required>
                            <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                                {{ academicYear }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicYear').hasError('required')">Academic Year is required.</mat-error>
                    </mat-form-field>


                </div>

                <div fxLayout="column" fxFlex="100" fxLayoutGap="10px">
                    <div *ngFor="let mul of multiple; let i = index" class="top-margin" disabled="isSubmit">
                        <div fxLayout="column">
                            <div>
                                <mat-form-field fxFlex="30" *ngIf="mul.programId !=''">
                                    <mat-select placeholder="Select Program" [disabled]="true" [ngModelOptions]="{standalone: true}" [(ngModel)]="mul.programId"
                                        (change)="programChange($event)">
                                        <mat-option *ngFor="let pro of mul.program" [value]="pro.id">
                                            {{ pro.name }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="75">
                                <div fxLayout="row wrap" fxLayoutGap="30px">
                                    <div *ngFor="let pro of mul.programDetails">
                                        <mat-checkbox color="primary" (change)="checkChange($event,mul.programId,pro.id)" [checked]="pro.checked" [disabled]="true">
                                        {{pro.name}}</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>

</div>