<div *ifPermitted="'campusDefaultUsers.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">

        <mat-card-title>
            {{title}}
        </mat-card-title>

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" class="form-block" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.userName" (keypress)="avoidSpace($event)" formControlName="userName" required
                            [autofocus]="true">
                        <mat-error *ngIf="fg.get('userName').hasError('required')">User Name is required.</mat-error>
                        <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum Length (Max Length is 50).</mat-error>

                    </mat-form-field>

                    <div fxFlex="50">
                        <mat-form-field fxFlex="50">
                            <input matInput class="lower-to-capital" [placeholder]="componentLabels.abbreviation" (keypress)="avoidSpace($event)" formControlName="abbreviation"
                                required>
                            <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                            <mat-error *ngIf="fg.get('abbreviation').hasError('maxlength')">Exceeding Maximum Length (Max Length is 6).</mat-error>
                        </mat-form-field>
                        <div fxFlex="50" class="domain-class">
                     <span>.campuscode@domain</span>       
                        </div>
                    </div>




                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.roleId" formControlName="roleId" required>
                            <mat-option *ngFor="let role of roles" [value]="role.id">
                                {{ role.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('roleId').hasError('required')">Role is required.</mat-error>
                    </mat-form-field>
                </div>



                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'campusDefaultUsers. create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </div>
</div>