<div *ifPermitted="'fsCampus.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" *ngIf="loaded"     matSort (matSortChange)="sortData()" matSortDisableClear>

            <ng-container matColumnDef="campus">
                <mat-header-cell *matHeaderCellDef     mat-sort-header> {{attrLabels['campus']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.campusName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="feeStructure">
                <mat-header-cell *matHeaderCellDef     mat-sort-header> {{attrLabels['feeStructure']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.feeStructureName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options">
                    <a [routerLink]="['/fee-management/fsCampus/view', element.id]" mat-icon-button *ifPermitted="'fsCampus.find'">
                        <mat-icon matTooltip="View">visibility</mat-icon>
                    </a>
                    <a [routerLink]="['/fee-management/fsCampus/update', element.id]" mat-icon-button *ifPermitted="'fsCampus.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'fsCampus.delete'">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/fee-management/fsCampus/create']" *ifPermitted="'fsCampus.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>