<div *ifPermitted="'boards.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="40"> {{attrLabels['name']}} </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="40"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="abbreviation">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> {{attrLabels['abbreviation']}} </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="20"> {{element.abbreviation}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="website">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20"> {{attrLabels['website']}} </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="20"> {{element.website}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef fxFlex="20"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options" fxFlex="20">
                    <a [routerLink]="['/settings/board/view', element.id]" *ifPermitted="'boards.find'" mat-icon-button>
                        <mat-icon matTooltip="View">visibility</mat-icon>
                    </a>
                    <a [routerLink]="['/settings/board/update', element.id]" *ifPermitted="'boards.update'" mat-icon-button>
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(element.id)" *ifPermitted="'boards.delete'" matTooltip="Delete">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
             <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </div>
    <div class="right-bottom-button" *ifPermitted="'boards.create'">
        <a mat-fab color="primary" [routerLink]="['/settings/board/create']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>