<div *ngIf="!questionsArray" style="color:gray; text-align:center; margin:20px;"> ...Please wait. Loading Infrastructure... </div>
<!-- *ngIf="campusEvaluationSheet" -->
<section [formGroup]="fg" class="top-margin" >

  <div fxLayout="row" fxLayoutGap="100px">
    <div>Whether the Premises is: </div>
    <div>
      <mat-radio-group formControlName="buildingType" (change)="ownRentedChange($event)">
        <mat-radio-button color="primary" [value]="building.own">Own</mat-radio-button>
        <mat-radio-button color="primary" [value]="building.rented">Rented</mat-radio-button>
        <mat-radio-button color="primary" [value]="building.lease">Lease</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div fxLayout="row" class="top-margin">

    <mat-form-field fxFlex="30" *ngIf="ownRentedCondition">
      <input matInput placeholder="Agreement Upto" formControlName="rentAgreementUpTo">
    </mat-form-field>

  </div>
  <div fxLayout="column">
    <div class="title-block"> Infrastructure</div>
    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Land Area (in SQ.ft)" type="number" min="0" step="any" formControlName="totalArea" (keyup)="Validate()">
        <mat-error *ngIf="!fg.get('totalArea').hasError('greaterThan')">Land area can not be in negative</mat-error>

      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Covered Area (in SQ.ft)" type="number" min="0" step="any" formControlName="coverdArea" (keyup)="Validate()">
        <mat-error *ngIf="!fg.get('coverdArea').hasError('greaterThan') ">Covered area can not be in negative.</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Open Area (in SQ.ft)" type="number" min="0" step="any" formControlName="openArea" readonly [value]="fg.get('totalArea').value - fg.get('coverdArea').value">
        <mat-error *ngIf="!fg.get('openArea').hasError('greaterThan')">Open area can not be in negative.</mat-error>
      </mat-form-field>



    </div>

    <div *ngIf="questionsArray">
      <div *ngFor="let qRow of questionsArray; let i = index">

        <div fxLayout="row" fxFlex="100" class="infra-block" fxLayoutAlign="space-between">

          <div *ngFor="let question of qRow; let index = index" fxFlex="30" style="    align-items: center">

            <div *ngIf="question.optionType != 'textInput'  && question.optionType != 'countInput'" fxLayout="row" fxFlex="100">

              <div fxFlex="40">{{question.question}}</div>
              <!-- [ngModelOptions]="{standalone: true}" [(ngModel)]="questionsArray[i][index].questions[index].answer"  -->
              <mat-radio-group name="answer-{{i}}-{{index}}" [disabled]="isSubmit" fxLayoutGap="10px" [ngModelOptions]="{standalone: true}" (change)="inputChange()" [(ngModel)]="questionsArray[i][index].answer"  >
                <mat-radio-button color="primary" *ngFor="let option of question.options" [value]="option">
                  {{option}}
                </mat-radio-button>
              </mat-radio-group>
            </div>

            <div *ngIf="question.optionType == 'countInput'" fxLayout="row" fxFlex="100">
              <mat-form-field fxFlex=100 >
                <input type="number" matInput placeholder="{{question.question}}" [disabled]="isSubmit" name="countValue-{{i}}-{{index}}" [ngModelOptions]="{standalone: true}" (change)="inputChange()" [(ngModel)]="questionsArray[i][index].answer">
              </mat-form-field>
            </div>

            <div *ngIf="question.optionType == 'textInput'" fxLayout="row" fxFlex="100">
              <mat-form-field fxFlex="100">
                <input matInput placeholder="{{question.question}}" name="answer-{{i}}-{{index}}" [disabled]="isSubmit" [ngModelOptions]="{standalone: true}" (change)="inputChange()" [(ngModel)]="questionsArray[i][index].answer">
              </mat-form-field>
            </div>

          </div>

        </div>

      </div>
    </div>



  </div>

</section>