<shared-page-loader *ngIf="!loaded"> </shared-page-loader>

<div *ngIf="loaded" [@pageState]="pageState">

    <div *ifPermitted="'institutetypes.find'">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"> {{data.type}}</mat-card-title>
                
            </div>
            <div style="padding-top: 10px;">
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" >

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="100">
                            <input matInput [placeholder]="componentLabels.name" formControlName="name" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                            <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                        </mat-form-field>

                    </div>

                    <div >

                        <div *ifPermitted="'institutetypes.create'">
                            <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary" (click)="saveData(fg.value,false)">Save</button>
                            <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary" (click)="saveData(fg.value,true)">Save & Update</button>
                            
                            <a  color="accent" type="button" mat-raised-button (click)="noClick()">Cancel</a>
                        </div>

                    </div>
                </form>

            </div>
        </div>
    </div>
</div>