<div *ifPermitted="'postRegistrations.find'" fxLayout="column" fxLayoutGap="20px">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <mat-card-title>

            <div fxLayout="row" fxFlex=100 fxLayoutAlign="space-between start">
                <div fxFlex="80">
                    <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='application')? 'button-class' : 'as'" type="button" (click)="tabChange('application')">
                        Application</button>
                    <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='evaluation-sheet')? 'button-class' : 'as'" type="button"
                        (click)="tabChange('evaluation-sheet')">Evaluation Sheet</button>
                </div>

            </div>

        </mat-card-title>
        <mat-card-content *ngIf="selectedButton=='application'">
            <div>

                <mat-card-subtitle>Personal Information</mat-card-subtitle>
                <div class="first-table-cell" fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.fullName}}</strong>
                        </div>
                        <div>{{campus.applicant.fullName ? campus.applicant.fullName : 'N/A'}}</div>
                    </div>
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.email}}</strong>
                        </div>
                        <div>{{campus.applicant.email ? campus.applicant.email : 'N/A'}}</div>
                    </div>
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.mobileNumber}}</strong>
                        </div>
                        <div>{{campus.applicant.mobileNumber ? campus.applicant.mobileNumber : 'N/A'}}</div>
                    </div>
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.address}}</strong>
                        </div>
                        <div>{{campus.applicant.address ? campus.applicant.address : 'N/A'}}</div>
                    </div>
                </div>
                <mat-card-subtitle>Campus Information</mat-card-subtitle>
                <div class="table-cell" fxLayout="column" fxLayoutGap="10px">
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.campusName}}</strong>
                        </div>
                        <div>{{campus.campusName ? campus.campusName : 'N/A'}}</div>
                    </div>
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.officialEmail}}</strong>
                        </div>
                        <div>{{campus.officialEmail ? campus.officialEmail : 'N/A'}}</div>
                    </div>
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.website}}</strong>
                        </div>
                        <div>{{campus.website ? campus.website : 'N/A'}}</div>
                    </div>
                    <div fxLayout>
                        <div fxFlex="20">
                            <strong>{{componentLabels.campusLocation}}</strong>
                        </div>
                        <div>
                            <div *ngFor="let crAddress of campus['crAddresses']">{{crAddress['address'] }}</div>

                        </div>
                    </div>
                </div>
            </div>

        </mat-card-content>
        <analysis-evaluation-sheet-view *ngIf="selectedButton=='evaluation-sheet'" (tabChange)="tabChange($event)" [CRApplicationId]="campus.id"></analysis-evaluation-sheet-view>
    </mat-card>

    <analysis-evaluation-sheet-list *ngIf="selectedButton=='evaluation-sheet'" [CRApplicationId]="campus.id"></analysis-evaluation-sheet-list>
</div>