<div *ifPermitted="'mappingTimeTable.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ngIf="mappingTimeTable">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/time-table/mappingTimeTable']" mat-icon-button *ifPermitted="'mappingTimeTable.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/time-table/mappingTimeTable/update', mappingTimeTable.id]" mat-icon-button *ifPermitted="'mappingTimeTable.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(mappingTimeTable.id)" matTooltip="delete" *ifPermitted="'mappingTimeTable.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.timeTableId" formControlName="timeTableId" required (change)="timeTableChange($event)" [autofocus]="true">
                                    <mat-option *ngFor="let tt of timeTableModel" [value]="tt.id">
                                        {{tt.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('timeTableId').hasError('required')">Time Table is required.</mat-error>
                            </mat-form-field>

                            <div *ngIf="displayDetails" fxFlex="50" fxLayout="row" fxLayoutGap="20px">
                               <div fxFlex="30"> <b>Program Detail :</b>  </div>  
                               <div>{{programDetailTitle}}</div>
                               <div > <b>  Class : </b> </div>  
                               <div>{{classTitle}}</div> 
                            </div>
                            
                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.campusId" formControlName="campusId" required (change)="campusChange($event)">
                                    <mat-option *ngFor="let tt of campusModel" [value]="tt.id" >
                                        {{tt.title}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('campusId').hasError('required')">Campus is required.</mat-error>
                            </mat-form-field>
                            <div *ngIf="displayAcademiCalendar" fxLayout="row" fxLayoutGap="20px" fxFlex="50">
                                    <div fxFlex="30"> <b>Academic Calendar :</b>  </div>  
                                    <div fxFlex="70">{{academicCalendar}}</div>
                            </div>

                        </div>
                    </div>
                    

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">


                            <mat-form-field fxFlex="50">
                                <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.validFrom" formControlName="validFrom" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <mat-error *ngIf="fg.get('validFrom').hasError('required')">Valid From is required.</mat-error>
                                <mat-error *ngIf="fg.get('validFrom').hasError('dirty')">Valid From Date Should Greater than or equal to Academic Calendar Start Date .</mat-error>
                            </mat-form-field>


                            <mat-form-field fxFlex="50">
                                <input matInput [matDatepicker]="picker1" [placeholder]="componentLabels.validTo" formControlName="validTo" required>
                                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                                <mat-datepicker #picker1></mat-datepicker>
                                <mat-error *ngIf="fg.get('validTo').hasError('required')">valid To is required.</mat-error>
                                <mat-error *ngIf="fg.get('validTo').hasError('invalid')">Valid To Date Should Greater Than Valid From.</mat-error>
                                <mat-error *ngIf="fg.get('validTo').hasError('dirty')">Valid To Date Should Greater than or equal to Academic Calendar End Date .</mat-error>
                                
                            </mat-form-field>

                        </div>
                    </div>




                    <div>


                        <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'mappingTimeTable.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'mappingTimeTable.create'">
                                <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/time-table/mappingTimeTable']">Cancel</a>

                            </div>
                            <div *ifPermitted="'mappingTimeTable.create'">
                                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/time-table/mappingTimeTable/view', mappingTimeTable.id]">Cancel</a>
                            </div>
                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>