<div class="mcard">
    <div>
        <mat-card-title class="mc-title"> </mat-card-title>
        <div *ngIf="showDelButton">
            <h3>Are you sure?</h3>
            <p>Do you want to delete "{{data.title}}" ?. All of the following items will be deleted</p>
        </div>
        <div *ngIf="!showDelButton">
            <p style="color:red">Cannot delete because following recrods are associated with it.</p>
        </div>

    </div>
    <div>
        <mat-card-content>

            <div class="del-info">

                <ul>
                    <!-- <li>{{data['label']}} : {{data['title']}}</li> -->
                    <li *ngFor="let cItem of data.children">{{cItem['label']}}</li>
                    <!-- <shared-delete-items [dataArray]="data['children']"></shared-delete-items> -->
                </ul>

            </div>

            <div>
                <button *ngIf="showDelButton" mat-raised-button (click)="returnConfirmation(true)" color="warn">Yes, I'm sure</button>
                <button mat-raised-button (click)="returnConfirmation(false)" color="accent">Take me back</button>
            </div>

        </mat-card-content>
    </div>
</div>