
  .d-type{
padding: 20px 0px 20px 0px;
  }
  .dt{
    margin: 0px 0px 10px 0px;
    padding: 0px;
  }
  /* TODO:low for dynamic behaviour i am using ngClass on that there should be another method still not found */
  .df-list{

    flex: 50;
  }
  .df-view{
 
    flex: 0;
  }
  .t-list{

    flex: 50;
  }
  .t-view{
 
    flex: 100;
  }