<div *ifPermitted="'documents.findByDocFor'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">
            <h2 class="dt">{{dialogueType}}</h2>

        <div>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="40px" >

                    <mat-form-field *ngIf="from === 'list'" [ngClass]="(from === 'list') ? 'df-list' : 'df-view'">
                        <mat-select [placeholder]="componentLabels.docFor" formControlName="docFor" [autofocus]="true" >
                            <mat-option *ngFor="let docFor of docFors" [value]="docFor.value">
                                {{ docFor.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('docFor').hasError('required')">Process / Form is required.</mat-error>

                    </mat-form-field>

                    <mat-form-field [ngClass]="(from === 'list') ? 't-list' : 't-view'">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title" required >
                        <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                    </mat-form-field>
                    

                </div>
                <div>
                    <div fxLayoutGap="5px" fxFlex="50" fxLayoutGap="40px" class="d-type" fxLayout="row" fxLayoutAlign="space-between start">
                        <label>
                            <b> {{componentLabels.docType}}</b>
                        </label>
                        <mat-radio-group  fxLayout="row" fxLayoutGap="20px" formControlName="docType">
                            <mat-radio-button color="primary" *ngFor="let docType of docTypes" [value]="docType.value">
                                {{ docType.title }}
                            </mat-radio-button>

                        </mat-radio-group>
                    </div>
                </div>

                <div  fxLayout="row" fxLayoutGap="10px">
                    <div *ifPermitted="'documents.create'">
                        <button *ngIf="dialogueType == 'Add Document'" mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    </div>
                    
                    <div *ifPermitted="'documents.update'">
                            <button *ngIf="dialogueType == 'Update Document'" mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        
                    </div>
                    <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
                </div>
            </form>

        </div>
    </div>

</div>