.dialog-title{
padding-bottom: 10px;
}

.options-container {
    height: 40px;
    margin-left: 30px;
}

.option-item {
    background-color: #d6d6d8;
    padding: 5px;
    border: 1px solid #b1afaf;
    min-width: 60px;
    
}
.option-checkbox {
    margin-left: 30px;
    margin-top: 7px;
}

.action-buttons {
    margin-top: 20px;
}
