<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'esQuestions.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{pageTitle}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" (ngSubmit)="saveData(fg.value)">
            <div fxLayout>
                <mat-form-field fxFlex="100">
                    <input matInput [placeholder]="componentLabels.question" formControlName="question" required [autofocus]="true">
                    <mat-error *ngIf="fg.get('question').hasError('required')">Question is required.</mat-error>
                </mat-form-field>
            </div>
            <div class="dialog-title">
                Options:
            </div>
            <div>
                <mat-radio-group formControlName="optionType" required>
                    <div fxLayout fxLayoutAlign="center center" *ngFor="let option of options; let last = last" class="options-container">
                        <!-- <div fxLayout fxLayoutAlign="center center" *ngFor="let option of options; let last = last"> -->
                        
                        <div fxFlex="20"  >
                            <mat-radio-button color="primary" [value]="option.type">{{option.label}}</mat-radio-button>
                        </div>

                        <div fxFlex="80" fxLayout >
                            <mat-chip-list>
                                <div *ngFor="let value of option.value">
                                    <mat-chip>{{value}}</mat-chip>
                                </div>
                                <div *ngIf="option.type == 'selectionWithCount'">
                                    <mat-chip>Count
                                        <mat-icon matChipRemove>done</mat-icon>
                                    </mat-chip>
                                </div>
                            </mat-chip-list>
                        </div>
                    </div>
                </mat-radio-group>
            </div>
            <div class="option-checkbox" *ngIf="!(data.form == 'campus-application-form')">
                <mat-checkbox color="primary" formControlName="remarksField">{{componentLabels.remarksField}}</mat-checkbox>
            </div>
            <div *ifPermitted="'esQuestions.create'" class="action-buttons">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>