<div *ifPermitted="'scholarships.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ngIf="scholarship">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                    <a [routerLink]="['/fee-management/scholarships']" mat-icon-button *ifPermitted="'scholarships.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                    <a [routerLink]="['/fee-management/scholarships/update', scholarship.id]" mat-icon-button *ifPermitted="'scholarships.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(scholarship.id)" matTooltip="delete" *ifPermitted="'scholarships.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                                <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                            <!-- <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.type" formControlName="type" required>
                                <mat-error *ngIf="fg.get('type').hasError('required')">Type is required.</mat-error>
                            </mat-form-field> -->
                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.type" formControlName="type" required>
                                    <mat-option *ngFor="let scholarshipType of scholarshipTypes" [value]="scholarshipType.value">
                                        {{ scholarshipType.title }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('type').hasError('required')">Type is required.</mat-error>
                            </mat-form-field>


                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.percentage" type="number" formControlName="percentage" required>
                                <span matSuffix>%</span>
                                <mat-error *ngIf="!fg.get('percentage').hasError('greaterThan') || fg.get('percentage').hasError('required')">Invalid Percentage</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                    <div>
                        <div *ifPermitted="'feeHeads.findAttributesList'">
                            <h3>Fee Heads</h3>
                            <mat-list *ngIf="pageAct != pageActions.view && loaded">
                                <div fxLayout="row" class="pd-header">

                                    <mat-list-item fxFlex="80">{{attrLabels['title']}}</mat-list-item>
                                    <mat-list-item fxFlex="20"></mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                                <div *ngFor="let element of data">
                                    <div fxLayout="row" class="pd-row">
                                        <mat-list-item fxFlex="80"> {{element.title}} </mat-list-item>
                                        <mat-list-item fxFlex="20">
                                            <mat-checkbox color="primary" [checked]="element['status']" (change)="checkboxClicked($event,element.id)">
                                            </mat-checkbox>
                                        </mat-list-item>
                                    </div>
                                    <mat-divider></mat-divider>
                                </div>
                            </mat-list>
                            <mat-list *ngIf="pageAct === pageActions.view && loaded ">
                                <div *ngIf=" scholarship.scholarshipFeeHeads['length']">
                                    <div fxLayout="row" class="pd-header">
                                        <mat-list-item fxFlex="60">{{attrLabels['title']}}</mat-list-item>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div *ngFor="let element of scholarship.scholarshipFeeHeads">
                                        <div fxLayout="row" class="pd-row">
                                            <mat-list-item fxFlex="60"> {{element['feeHeads']['title']}} </mat-list-item>
                                            <mat-list-item fxFlex="40" class="options" fxLayout="row" fxLayoutAlign="end" *ifPermitted="'scholarships.deleteScholarshipFeeHead'">
                                                <a mat-icon-button (click)="deleteScholarshipFeeHead(scholarship.id,element['feeHeads']['id'])" matTooltip="Delete">
                                                    <mat-icon class="delete-icon">delete</mat-icon>
                                                </a>
                                            </mat-list-item>

                                        </div>
                                        <mat-divider></mat-divider>
                                    </div>
                                </div>
                                <h4 *ngIf="!scholarship.scholarshipFeeHeads['length']" class="no-fee-head">
                                    No Fee Heads
                                </h4>
                            </mat-list>


                        </div>

                        <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                            <div *ifPermitted="'scholarships.create'">
                                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                            </div>
                            <div *ifPermitted="'scholarships.create'">
                                <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/fee-management/scholarships']">Cancel</a>

                            </div>
                            <div *ifPermitted="'scholarships.create'">
                                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/fee-management/scholarships/view', scholarship.id]">Cancel</a>
                            </div>
                        </div>

                    </div>

                </form>

            </mat-card-content>
        </div>
    </mat-card>
</div>