<div *ifPermitted="'feeHeads.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

            <ng-container matColumnDef="title">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['title']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="abbreviation">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['abbreviation']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.abbreviation}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['code']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.code}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options">
                    <a [routerLink]="['/fee-management/feeHeads/view', element.id]" mat-icon-button *ifPermitted="'feeHeads.find'">
                        <mat-icon matTooltip="View">visibility</mat-icon>
                    </a>
                    <a [routerLink]="['/fee-management/feeHeads/update', element.id]" mat-icon-button *ifPermitted="'feeHeads.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'feeHeads.delete'">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/fee-management/feeHeads/create']" *ifPermitted="'feeHeads.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>