.dialog-title {
  padding-bottom: 10px;
}
.course-error {
  color: red;
  font-size: 10px;
}
/* TODO:low should not be custom font size */
.pd-header > mat-list-item {
  font-size: 11px;
  height: 30px;
}
.pd-row > mat-list-item {
  font-size: 10px;
  height: 30px;
  font-weight: bolder;
}
.field-set {
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-color: rgb(245, 237, 237);
  box-shadow: 3em;
  border-width: 1px;
}
/* TODO:low using flex property in css to hide and show semester courses list  */
.only-course-form {
  flex: 100;
}
.course-form {
  flex: 60;
}
.course-list {
  flex: 40;
}
.c-code {
  padding-right: 10px;
}
