<div *ifPermitted="'roadMapCourses.find'">

</div>
<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'roadMapCourses.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{data.type}}
        </div>
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)" fxLayout="row" fxLayoutGap="25px">
            <div fxLayout="column" fxLayoutGap="25px" [ngClass]="(!semester || semester.length === 0)? 'only-course-form' : 'course-form'">
                <div fxLayout="row" fxLayoutGap="10px" *ifPermitted="'courses.findAttributesList'">
                    <div fxFlex="50" fxLayout="column">
                        <!-- <mat-form-field>
                            <mat-select [placeholder]="componentLabels.courseId" formControlName="courseId" (change)="eventCourseSelection($event.value)" *ifPermitted="'courses.findAttributesList'"
                                required>
                                <div *ngFor="let course of courses">
                                    <mat-option [value]="course.id" [disabled]="selectedPreRequisiteCourses.indexOf(course.id) > -1 || course.id === selectedPreRequisiteCourse">
                                        {{course.abbreviation + '-' + course.title}}
                                    </mat-option>

                                </div>
                            </mat-select>
                            <mat-error *ngIf="fg.get('courseId').hasError('required')">Course is required.</mat-error>
                        </mat-form-field> -->
                        <mat-form-field *ifPermitted="'courses.findAttributesList'">
                            <input type="text" [placeholder]="componentLabels.courseId" aria-label="componentLabels.courseId" formControlName="courseId" (keyup)="autoCompleteOptionSelections($event.target.value)" matInput
                                [matAutocomplete]="auto"  [value]="courseTitle">
                            <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayFn()" autoActiveFirstOption  (optionSelected)="eventCourseSelection($event.option.value)"  >
                                <mat-option *ngFor="let option of filteredOptions | async" [value]="option['id']" [disabled]="selectedPreRequisiteCourses.indexOf(option['id']) > -1 || option['id'] === selectedPreRequisiteCourse">
                                    {{option['fullName']}}
                                </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="fg.get('courseId').hasError('required') && !fg.get('courseId').hasError('invalid')">Course is required.</mat-error>
                            <mat-error *ngIf="!fg.get('courseId').hasError('required') && fg.get('courseId').hasError('invalid')">This course is not exist.</mat-error>

                        </mat-form-field>

                        <!-- TODO:Low should use mat error. mat-error was giving error. I have researced not found solution will have a look later -->
                        <div class="course-error" *ngIf="fg.get('courseId').hasError('exist')">Course is already exists in this semester.</div>
                    </div>

                    <div fxFlex="50">
                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.courseAbbreviation" value={{courseAbbr}} readonly="true" tabindex="-1">
                            </mat-form-field>
                            <mat-form-field fxFlex="50" [ngClass]="(semester && semester.length > 0) ? 'c-code' : ''">
                                <input matInput [placeholder]="componentLabels.courseCode" formControlName="courseCode" maxlength="4" required (input)="courseCodeChangeEvent($event)">
                                <mat-error *ngIf="fg.get('courseCode').hasError('required')">Course Code is required.</mat-error>
                                <mat-error *ngIf="fg.get('courseCode').hasError('pattern')">Invalid, Enter 4 Digit Course Code</mat-error>
                                <mat-error *ngIf="fg.get('courseCode').hasError('unique')">Course code should be unique.</mat-error>
                            </mat-form-field>


                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.natureOfCourseId" formControlName="natureOfCourseId" required>
                            <mat-option *ngFor="let natureOfCours of natureOfCourses" [value]="natureOfCours.id">
                                {{ natureOfCours.value }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('natureOfCourseId').hasError('required')">Nature of course is required.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.courseType" formControlName="courseType" required>
                            <mat-option *ngFor="let courseType of courseTypes" [value]="courseType.value">
                                {{ courseType.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('courseType').hasError('required')">Course Type is required.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.classId" formControlName="classId" *ifPermitted="'classes.findAttributesList'"
                            (change)="showSemesterCoursesList($event.value)" required>
                            <mat-option *ngFor="let class of classes" [value]="class.id">
                                {{ class.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('classId').hasError('required')">Semester is required.</mat-error>
                    </mat-form-field>
                    <div fxFlex="50" fxLayout="column">
                        <mat-form-field>
                            <input matInput [placeholder]="componentLabels.courseOrder" type="number" formControlName="courseOrder" tabindex="-1" required>
                            <mat-error *ngIf="fg.get('courseOrder').hasError('greaterThan')">Invalid Course Order</mat-error>
                        </mat-form-field>
                        <!-- TODO:Low should use mat error. mat-error was giving error. I have researced not found solution will have a look later -->
                        <div class="course-error" *ngIf="fg.get('courseOrder').hasError('unique')">Course order should be unique.</div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <!-- <mat-select [placeholder]="componentLabels.creditHours" formControlName="creditHours" required>
                            <mat-option *ngFor="let creditHour of creditHours" [value]="creditHour.id">
                                {{ creditHour.value }}
                            </mat-option>
                        </mat-select> -->
                        <input matInput [placeholder]="componentLabels.creditHours" formControlName="creditHours" [readonly]="true" required  tabindex="-1">

                    </mat-form-field>
                    <div fxFlex="50" *ngIf="preRequisiteCourses && preRequisiteCourses.length">

                        <div formArrayName="preReqCoursesList" *ngFor="let item of fg.get('preReqCoursesList')['controls']; let i = index;">
                            <div [formGroupName]="i">
                                <mat-form-field fxFlex="95">
                                    <mat-select [placeholder]="componentLabels.preReqCoursesList" formControlName="courseId" *ifPermitted="'courses.findAttributesList'"
                                        (change)="eventPreRequisiteCourseSelection($event)" [disabled]="i < fg.get('preReqCoursesList')['controls'].length -1 ">
                                        <div *ngFor="let course of preRequisiteCourses">
                                            <!-- TODO:high warning should be removed on disable -->
                                            <mat-option [value]="course.id" [disabled]="selectedPreRequisiteCourses.indexOf(course.id) > -1 || course.id === selectedCourse">
                                                {{course.abbreviation + '-' + course.title}}
                                            </mat-option>

                                        </div>

                                    </mat-select>
                                </mat-form-field>
                                <button mat-icon-button type="button" (click)="addCoursesClick()" *ngIf="fg.get('preReqCoursesList')['controls'].length == i+1  ">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button type="button" (click)="removeCourses(i,item)" *ngIf="selectedPreRequisiteCourses.length > 0 ">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                                <button mat-icon-button type="button" (click)="removeCourses(i,item)" *ngIf="selectedPreRequisiteCourses.length === 0  && fg.get('preReqCoursesList')['controls'] === 1">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ifPermitted="'roadMapCourses.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
                </div>
            </div>
            <fieldset class="field-set" *ngIf="semester && semester.length > 0" [ngClass]="(semester && semester.length > 0)? 'course-list' : ''">
                <legend>
                    <strong>{{ semester['name']}} Courses </strong>
                </legend>
                <mat-list>
                    <div fxLayout="row" class="pd-header">
                        <mat-list-item fxFlex="25">
                            <strong> {{componentLabels.courseCode}}</strong>
                        </mat-list-item>
                        <mat-list-item fxFlex="25">
                            <strong>{{componentLabels.courseOrder}}</strong>
                        </mat-list-item>
                        <mat-list-item fxFlex="50">
                            <strong>{{componentLabels.courseId}}</strong>
                        </mat-list-item>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let element of semester">
                        <div fxLayout="row" class="pd-row">
                            <mat-list-item fxFlex="25"> {{ element['course']['abbreviation'] + '-' + element['courseCode'] }} </mat-list-item>
                            <mat-list-item fxFlex="25"> {{ element['courseOrder'] }} </mat-list-item>
                            <mat-list-item fxFlex="50"> {{element['course']['title']}} </mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </fieldset>
            <fieldset class="field-set" *ngIf="semester.length === 0 && selectedSemester" [ngClass]="(selectedSemester && semester.length === 0)? 'course-list' : ''">
                <legend>
                    <strong>{{ selectedSemester.name}} Courses </strong>
                </legend>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <p>No course exist in this semester.</p>
                </div>
            </fieldset>

        </form>

    </div>
</div>
<!--  -->