<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div>
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{data.ruleItem.options.message}}
        </div>
        <form novalidate  fxLayout="column" (ngSubmit)="addRemarks()">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="100"  >
                    <textarea matInput placeholder="Remarks" [formControl]="remarks" rows="5"></textarea>
                </mat-form-field>

            </div>

            <div class="action-buttons">
                <button mat-raised-button type="submit"  color="primary">Save</button>
                <a mat-raised-button (click)="cancel()">Cancel</a>
            </div>
        </form>

    </div>
</div>