<div *ifPermitted="'users.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="name">
                        <mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header> {{attrLabels['name']}} </mat-header-cell>
                        <mat-cell fxFlex="20" *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="username">
                        <mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header> {{attrLabels['username']}} </mat-header-cell>
                        <mat-cell fxFlex="20" *matCellDef="let element"> {{element.username}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="portal">
                        <mat-header-cell fxFlex="10" *matHeaderCellDef mat-sort-header> {{attrLabels['portal']}} </mat-header-cell>
                        <mat-cell fxFlex="10" *matCellDef="let element" class="fcap"> {{element.portal}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="isActive">
                        <mat-header-cell  fxFlex="10" *matHeaderCellDef mat-sort-header> {{attrLabels['isActive']}} </mat-header-cell>
                        <mat-cell  fxFlex="10" *matCellDef="let element">
                            <mat-checkbox color="primary" [(ngModel)]="element.isActive" [disabled]="true"></mat-checkbox>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="groups">
                        <mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header> {{attrLabels['groups']}} </mat-header-cell>
                        <mat-cell fxFlex="20" *matCellDef="let element"> {{element.groupsName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="roles">
                        <mat-header-cell fxFlex="20" *matHeaderCellDef mat-sort-header> {{attrLabels['roles']}} </mat-header-cell>
                        <mat-cell fxFlex="20" *matCellDef="let element"> {{element.rolesName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/security/users/view', element.id]" mat-icon-button *ifPermitted="'users.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/security/users/update', element.id]" mat-icon-button *ifPermitted="'users.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'users.delete'">
                                <mat-icon color="warn">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/security/users/add']" *ifPermitted="'users.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>