<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'ttDetail.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{pageTitle}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="column">
                <div fxLayout="row" fxLayoutGap="20px">


                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.slotOrder" formControlName="slotOrder" type="number" required>
                        <mat-error *ngIf="fg.get('slotOrder').hasError('required')">Slot Order is required.</mat-error>
                        <mat-error *ngIf="fg.get('slotOrder').hasError('max')">Exceeding Maximum length.</mat-error>
                        <mat-error *ngIf="fg.get('slotOrder').hasError('min')">Minimum length should be 0.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.slotId" formControlName="slotId" required>
                            <mat-option *ngFor="let slot of slotModel" [value]="slot.id">
                                {{slot.fromTime +'-'+ slot.toTime}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('slotId').hasError('required')">Slot is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.courseId" formControlName="courseId" required>
                            <mat-option *ngFor="let course of courseModel" [value]="course.id">
                                {{course.title}}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('courseId').hasError('required')">Course / Subject is required.</mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutGap="20px" class="mt-10">
                    <mat-form-field>
                        <mat-select placeholder="Select Sections" [formControl]="sections" multiple (change)="sectionChange()">
                            <mat-option *ngFor="let section of sectionModel" [value]="section.id">{{section.title}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-chip-list fxLayout="row" fxLayoutWrap>
                        <div *ngFor="let sec of selectedSections" fxLayout>
                            <mat-chip class="mt-10">{{sec}}</mat-chip>
                        </div>

                    </mat-chip-list>

                </div>

                <div fxLayout="row" fxLayoutGap="20px" class="mt-10">
                    <mat-form-field>
                        <mat-select placeholder="Select Days" [formControl]="days" multiple (change)="dayChange()">
                            <mat-option *ngFor="let day of weekDays" [value]="day.dayId">{{day.name}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-chip-list fxLayout="row" fxLayoutWrap>
                        <div *ngFor="let sec of selectedDays" fxLayout>
                            <mat-chip class="mt-10">{{sec}}</mat-chip>
                        </div>

                    </mat-chip-list>

                </div>



            </div>
            <div *ngIf="listOfErrors.length > 0" fxLayout="column">
                <h3 class="error-heading"> Following Clashes Occurs on Creating Detail :</h3>
                <ul>
                    <li *ngFor="let error of listOfErrors"> {{error}}</li>
                </ul>

            </div>

            <div *ifPermitted="'ttDetail.create'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>