<h1 mat-dialog-title>Notification</h1>
<div mat-dialog-content>
    <div>{{data.label}}: "{{data.title}}" has following associated records.</div>
    <ul>
        <li *ngFor="let cItem of data.children">{{cItem.title}}</li>
    </ul>
</div>
<div mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="false" cdkFocusInitial>OK</button>
</div>