<section fxLayout="row" fxLayoutAlign="center stretch">
  <div class="reset-password">
    <mat-card>
      <mat-card-title>
        Reset Password
        <div class="divider"></div>
      </mat-card-title>
      <shared-mat-card-loader *ngIf="!loaded"></shared-mat-card-loader>
      <mat-card-content>
        <form [formGroup]="fg" (ngSubmit)="resetPassword(fg.value)" fxLayout="column" fxLayoutGap="10px" *ngIf="VCValidated">
          <div fxLayout="column">
            <mat-form-field>
              <input type="password" matInput class="input" [placeholder]="attributesLabels.newPassword" formControlName="password" required>
              <mat-error *ngIf="fg.get('password').hasError('required')">Password is required</mat-error>
              <mat-error *ngIf="fg.get('password').hasError('minlength')">Password should be greater than 5 characters long</mat-error>
              <mat-error *ngIf="fg.get('password').hasError('maxlength')">Password should be less than 30 characters</mat-error>
            </mat-form-field>
            <mat-form-field>
              <input type="password" matInput class="input" [placeholder]="attributesLabels.confirmNewPassword" formControlName="confirmPassword"
                required>
              <mat-error *ngIf="fg.get('confirmPassword').hasError('required')">Confirm Password is required</mat-error>
              <mat-error *ngIf="fg.get('confirmPassword').hasError('equalTo') && !fg.get('confirmPassword').hasError('required') ">Password did not match</mat-error>
            </mat-form-field>
          </div>
          <shared-cmat-success *ngIf="authSuccess" [successMsg]="authSuccess"></shared-cmat-success>
          <shared-cmat-error *ngIf="authError" [errorMsg]="authError"></shared-cmat-error>
          <div fxLayout fxLayoutGap="10px">
            <button type="submit" fxFlex="50" mat-raised-button [disabled]="!fg.valid" class="submit-button" color="primary">Submit</button>
            <a *ngIf="error" fxFlex="50" mat-raised-button routerLink="/home">Back to Login</a>
          </div>
        </form>
        <div *ngIf="!VCValidated" fxLayout="column" fxLayoutGap="20px">
          <shared-cmat-error [errorMsg]="authError"></shared-cmat-error>
          <a fxFlex="50" mat-raised-button routerLink="/home">Back to Login</a>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</section>