.reset-password {
  min-width: 600px;
  margin-top: 50px;
}

.divider {
  border-bottom: 4px solid #36b0e9;
  width: 50%;
  margin-top: 2%;
  margin-bottom: 8%;
}

.submit-button {
  padding: 0;
  background-color: #36b0e9;
  margin-top: 0px;
}
