<div fxLayout *ifPermitted="'roadMapCourses.index'">
    <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title">Courses</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addCourseClick()" *ifPermitted="'roadMapCourses.create'">
                    <mat-icon matTooltip="Add Course">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <div *ngFor="let roadMapCourse of roadMapCourses">
                <div fxLayout="row" class="semester-heading" fxLayoutAlign="space-between">
                    <mat-chip-list>
                        <mat-chip color="primary">{{roadMapCourse['name']}}</mat-chip>
                    </mat-chip-list>
                    <div fxLayout="column" fxLayoutAlign="space-between">
                        <label> Number of Courses = {{roadMapCourse['roadMapCourses'].length}}</label>
                        <label> Credit Hours = {{roadMapCourse['roadMapCourses']['creditHours']}}</label>
                    </div>
                </div>
                <mat-list>
                    <div fxLayout="row" class="pd-header">
                        <mat-list-item fxFlex="10">{{componentLabels.courseCode}} </mat-list-item>
                        <mat-list-item fxFlex="10">{{componentLabels.courseOrder}}</mat-list-item>
                        <mat-list-item fxFlex="20">{{componentLabels.courseId}}</mat-list-item>
                        <mat-list-item fxFlex="10">{{componentLabels.creditHours}}</mat-list-item>
                        <mat-list-item fxFlex="10">Course Type</mat-list-item>
                        <mat-list-item fxFlex="30">{{componentLabels.preReqCoursesList}}</mat-list-item>
                        <mat-list-item fxFlex="10"></mat-list-item>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let element of roadMapCourse['roadMapCourses']">
                        <div fxLayout="row" class="pd-row">
                            <mat-list-item fxFlex="10"> {{ element['course']['abbreviation'] + '-' + element['courseCode'] }} </mat-list-item>
                            <mat-list-item fxFlex="10"> {{ element['courseOrder'] }} </mat-list-item>
                            <mat-list-item fxFlex="20"> {{element['course']['title']}} </mat-list-item>
                            <mat-list-item fxFlex="10"> {{element['creditHours']}} </mat-list-item>
                            <mat-list-item fxFlex="10"> {{courseTypes[element['courseType']].title}} </mat-list-item>
                            <mat-list-item *ngIf="element['preReqCoursesList']" fxFlex="30">

                                <span *ngFor="let roadMapPreRequisiteCourse of element['preReqCoursesList']" class="comma">
                                    <span *ngIf="roadMapPreRequisiteCourse['course']">
                                        {{roadMapPreRequisiteCourse['course']['title']}}
                                    </span>
                                </span>
                            </mat-list-item>
                            <mat-list-item fxFlex="10" class="options" fxLayout="row" fxLayoutAlign="end">

                                <a (click)="editClick(element.id)" mat-icon-button *ifPermitted="'roadMapCourses.update'">
                                    <mat-icon matTooltip="Edit">edit</mat-icon>
                                </a>
                                <a mat-icon-button (click)="deleteCourse(element.id)" matTooltip="Delete" *ifPermitted="'roadMapCourses.delete'">
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </a>
                            </mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>
            </div>
        </mat-card-content>
    </mat-card>
</div>