.add {
  margin-top: 15px;
}
.delete-icon {
  margin-top: 5px;
}
.pd-row:hover .options {
  visibility: visible;
}
.delete-icon {
  color: #f44336;
}
/* TODO:low should not be custom font size */
.pd-header > mat-list-item {
  font-size: 14px;
  font-style: bold;
}
.pd-row > mat-list-item {
  font-size: 12px;
  font-weight: bolder;
}
.pd-row > div > span {
  font-size: 12px;
  text-align: center;
}
.semester-heading {
  margin: 20px 0px 0px 0px;
  padding-top: 5px;
}
.semester-heading > div > label {
  font-size: 14px;
}
.comma:not(:last-child):after {
  content: ',';
}
