<div *ifPermitted="'profile.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded">
        <mat-card class="mcard">
            <mat-card-content>
                <shared-detail-view [data]="profile" [labels]="profileLabels" [showOnly]="['username', 'name', 'phoneNumber', 'address', 'gender']"></shared-detail-view>
            </mat-card-content>
            <mat-card-footer class="action-button" *ifPermitted="'profile.update'">
                <a mat-button mat-raised-button [routerLink]="['/profile/update', profile.id]" color="primary">Edit Profile</a>
                <a mat-button mat-raised-button [routerLink]="['/profile/changePassword', profile.id]" color="primary">Change Password</a>
                <!-- <a [routerLink]="['/profile/update', profile.id]">
                    <button mat-button mat-raised-button color="primary">Edit Profile</button>
                </a> -->
            </mat-card-footer>
        </mat-card>
    </div>
</div>