<div *ifPermitted="'cacTerms.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

            <ng-container matColumnDef="acpd">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="35"> Academic Calendar</mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="35"> {{ element.fullName }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cacTermsCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="25"> Number of Terms </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="25"> {{element.cacTermsCount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="cacCount">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="25"> Number of Campus </mat-header-cell>
                <mat-cell *matCellDef="let element" fxFlex="25"> {{element.cacCount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options">
                    <a [routerLink]="['/academic/cacTerms/view', element.id]" *ifPermitted="'cacTerms.findByACPD'" mat-icon-button>
                        <mat-icon matTooltip="View">visibility</mat-icon>
                    </a>

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns" fxLayout="row"></mat-header-row>
            <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;" fxLayout="row"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </div>

</div>