<div *ifPermitted="'preRegistrations.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div [@pageState]="pageState">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">

            <div fxLayout fxLayoutGap="10px" class="list-header">
                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="listLabels.filter" [(ngModel)]="selectedState" (change)="loadApplications($event.value)">
                        <mat-option *ngFor="let state of preRegistrationStates" [value]="state.value">{{state.label}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>

            <div>
                <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="fullName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ listLabels.fullName}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{listLabels.email}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="applicationType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{listLabels.applicationType}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.applicationType }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cityName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{listLabels.city}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span *ngIf="element['cityName']"> {{element.cityName}} </span>
                        </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="state">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{listLabels.state}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ element.state }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/campus/pre-registrations/', element.id]" mat-icon-button *ifPermitted="'preRegistrations.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

      

    </div>

</div>
<div class="right-bottom-button">
    <a mat-fab color="primary" matTooltip="Add New" *ifPermitted="'preRegistrations.create'" (click)="addNewApplication()" >
        <mat-icon>add</mat-icon>
    </a>
</div>