<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div style="padding-top: 10px;" *ngIf="campusInfo" [@pageState]="pageState">
  <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

    <div fxLayout="row">
      <mat-radio-group formControlName="campusType">
        <mat-radio-button color="primary" (change)="resetForm($event)" [value]="true">New Campus</mat-radio-button>
        <mat-radio-button color="primary" (change)="resetForm($event)" [value]="false">Transfer Campus</mat-radio-button>
      </mat-radio-group>
    </div>
    <div *ngIf="fg.value.campusType == true">
      <create-campus-view [fg]="fg" [isSubmit]="isSubmit" [camModel]="campusInfo" [crApplicantId]="applicantId" (loadPage)="emitFunction()"></create-campus-view>
    </div>
    <div *ngIf="fg.value.campusType == false">
      <campus-transfer-view [fg]="fg" [camModel]="campusInfo" [isSubmit]="isSubmit" [crApplicantId]="applicantId"></campus-transfer-view>
    </div>


  </form>
</div>