.question-row > mat-list-item {
    font-size: 12px;
  }
.header-row > mat-list-item {
    font-size: 14px;
    color: #99999a;
  }
  
  .question-row:hover .options {
      visibility: visible;
  }
  .action-row {
    margin-top: 15px;
  }
  .title{
    color: #5e5e5f;
    font-size: 15px;
    margin-top: 15px;
  }
  .content{
    font-size: 15px;
    margin-top: 15px;
  }
  .mt-10{
    margin-top: 10px;
    margin-right: 5px;
  }

  