<div *ifPermitted="'campusAdmission.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <shared-delete-details *ngIf="deleteView" (confirm)="checkConfirmation($event)" [data]="deleteDetailsData"></shared-delete-details>
    

    <div *ngIf="!deleteView  && loaded && campusAdmission" [@pageState]="pageState">

        <mat-card class="mcard">

            <div>
                <div class="mc-action-btn">
                    <a (click)="editAdmission()" mat-icon-button *ifPermitted="'campusAdmission.update'">
                        <mat-icon matTooltip="Edit Admission">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="findRelatedData(campusAdmission.id)" matTooltip="Delete Time Table" *ifPermitted="'campusAdmission.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>

                <mat-card-content>
                    <shared-detail-view [data]="{campus: campusAdmission.campus.campusName, admissionMonth: campusAdmission.admissionMonthTitle, admissionYear: campusAdmission.admissionYear,isActive:campusAdmission.isActive? 'Yes':'No'}"
                        [labels]="componentLabels" [showOnly]="['campus', 'admissionMonth','admissionYear','isActive']">
                    </shared-detail-view>
                </mat-card-content>
            </div>
        </mat-card>
        <mat-card [@pageState]="pageState">
            <mat-card-title class="mc-title">Program Details</mat-card-title>
            <mat-card-content>
                <shared-mat-card-loader *ngIf="!loadedGrid"> </shared-mat-card-loader>
                <mat-table #table [dataSource]="dataSource" *ngIf="loadedGrid">

                    <ng-container matColumnDef="programDetail">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element">{{element.programDetail.program.name + "-" + element.programDetail.name}} </mat-cell>
                    </ng-container>




                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">

                            <a mat-icon-button (click)="deleteCAProgramDetail(element.id)" matTooltip="Delete">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <!-- <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row> -->
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>




        </mat-card>



    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" matTooltip="Add Program Detail" (click)="addProgramDetail()">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>