<div>

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div>

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="campusTitle">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['campusTitle']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.campusTitle}} </mat-cell>
                    </ng-container>
                    <!-- <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container> -->

                    <!-- <ng-container matColumnDef="applicationType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Application Type </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ CRApplicationType[element.applicationType].title }} </mat-cell>
                    </ng-container> -->



                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/campus/mous/view', element.id]" mat-icon-button>
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>
    <!-- <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/campus/mous/create']">
            <mat-icon>add</mat-icon>
        </a>
    </div> -->
</div>