.remittance-mat-card-content {
  padding-top: 50px;
}

.button-class {
  background-color: #679fdc;
  color: white;
}

.submit-button {
  background-color: #4da00e;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-left: 20px;
}

.error-heading {
  color: red;
  margin: 0px 0px 0px 100px;
}

.done-icon {
  color: green;
  cursor: default;
  margin-top: 5px;
}

.done-heading {
  color: green;
  margin: 0px 0px 0px 100px;
}

ul {
  margin-left: 100px;
}

.submit-info {
  margin: 10px;
}

.submit-info-heading {
  margin: 0px;
  margin-left: 10px;
}

.post-registration-heading {
  color: rgb(62, 63, 65);
  font-size: 25px;
  margin-left: 0px;
}

.remove-padding {
  padding-top: 10px;
}
