<section [formGroup]="fg" class="top-margin">
  <div>

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Number of Campus to Transfer" type="number" formControlName="noOfCampusTransfer">
      <mat-error *ngIf="!fg.get('noOfCampusTransfer').hasError('greaterThan') ">Number of campuses can not be less than 0.</mat-error>


    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Campus Name" formControlName="campusName" #message maxlength="50">
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Website" type="url" formControlName="website">
    </mat-form-field>


    <mat-form-field fxFlex="30">
      <input matInput placeholder="Official Email" formControlName="officialEmail">
      <mat-error *ngIf="fg.get('officialEmail').hasError('pattern') ">Invalid email</mat-error>

    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="20px" >

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Established Since" type="number" formControlName="establishedSince">
      <mat-error *ngIf="fg.get('establishedSince').hasError('equalTo') ">Year Should Between 1850 to Current Year</mat-error>

    </mat-form-field>

    <mat-form-field fxFlex="30">
      <mat-select placeholder="Institute Type" formControlName="instituteTypeId" (change)="loadEducationLevels($event)">
        <mat-option *ngFor="let instituteType of instituteTypes" [value]="instituteType.id">
          {{instituteType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <mat-select placeholder="Level of Education" formControlName="educationLevelId" (change)="loadPrograms($event)">
        <mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id">
          {{educationLevel.education}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>
  <div>
    <campus-program-details [campusInfo]="camModel" [isSubmit]="isSubmit"></campus-program-details>
  </div>
  <div>
    <div fxLayout="column" fxFlex="30">
      <!-- TODO:low:prod changing fg.get('affiliations').controls to fg.get('affiliations')['controls'] because of following error in production build -->
      <!-- src/modules/campus/components/post_reg_forms/campus_info/campus_transfer/campus-transfer.component.html(58,41): : Property 'controls' does not exist on type 'AbstractControl'. -->
      <!-- <div formArrayName="affiliations" *ngFor="let item of fg.get('affiliations').controls; let j = index;"> -->
      <div formArrayName="affiliations" *ngFor="let item of fg.get('affiliations')['controls']; let j = index;">
        <div [formGroupName]="j">
          <mat-form-field fxFlex="90">
            <input matInput placeholder="Affiliation" formControlName="affiliation">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="addAffiliationClick()" *ngIf="fg.get('affiliations')['controls'].length == j+1  && !isSubmit ">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="removeAffiliationLink(j,item)" *ngIf="!(fg.get('affiliations')['controls'].length == 1) && !isSubmit">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>

  <div>
    <campus-address [fg]="fg" [buildingAvailable]="true" [crApplicantId]="crApplicantId" [isSubmit]="isSubmit" [camModel]="camModel">
    </campus-address>
  </div>

  <div>
    <campus-infrastructure [fg]="fg" [crApplicantId]="crApplicantId" [isSubmit]="isSubmit"></campus-infrastructure>
  </div>
</section> 