.button-class {
  background-color: #679fdc;
  color: white;
}

agm-map {
  height: 300px;
}

.action {
  padding-top: 10px;
}

.remittance-mat-card-content {
  padding-top: 50px;
}

.remove-padding {
  padding-top: 10px;
}

.change-button-color {
  background-color: #449262;
}

.radio-button-margin {
  margin-right: 10px;
  padding-top: 20px;
}