
  <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
  <div *ngIf="loaded && fg" [@pageState]="pageState">
    
      <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" >

        <div fxLayout="row" fxLayoutGap="40px">

          <mat-form-field fxFlex="50">
            <mat-select [placeholder]="componentLabels.instrumentCategory" formControlName="instrumentCategory">
              <mat-option *ngFor="let category of instrumentCategory" [value]="category">
                {{ category }}
              </mat-option>
            </mat-select>
          </mat-form-field>


          <mat-form-field fxFlex="50">
            <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.currentDate" formControlName="currentDate">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <input type="text" [placeholder]="componentLabels.bankId" matInput [formControl]="bankFormControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option['name']">
                {{ option['name'] }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>


          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.branchName" formControlName="branchName">
          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <input matInput [matDatepicker]="picker1" [placeholder]="componentLabels.instrumentDate" formControlName="instrumentDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.instrumentNumber" formControlName="instrumentNumber">
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="40px">
          <mat-form-field fxFlex="50">
            <input matInput [placeholder]="componentLabels.amount" formControlName="amount" [value]="fg.get('amount').value.toLocaleString()">
            <mat-error *ngIf="!fg.get('amount').hasError('greaterThan')">Amount can not be in negative.</mat-error>
          </mat-form-field>
          <mat-form-field fxFlex="50">
            <mat-select [placeholder]="componentLabels.purpose" formControlName="purpose">
              <mat-option *ngFor="let pur of purposes" [value]="pur">
                {{ pur }}
              </mat-option>
            </mat-select>
          </mat-form-field>

        </div>


      </form>
  </div>
