.pd-row:hover .options {
  visibility: visible;
}
.delete-icon {
  color: #f44336;
}
.pd-header > mat-list-item {
  font-size: 16px;
}

.pd-row > mat-list-item {
  font-size: 14px;
}
.view-af:hover {
  cursor: pointer;
  text-decoration: underline;
}
.divider {
  position: relative;
}
.mat-exp {
  margin-top: 20px;
}
