<mat-accordion>
    <mat-expansion-panel class="mat-exp">
        <mat-expansion-panel-header class="mat-exp">
            <mat-panel-title *ngIf="!numberOfAttachedFiles">
                No File Attached.
            </mat-panel-title>
            <mat-panel-title *ngIf="numberOfAttachedFiles">
                {{numberOfAttachedFiles }} File(s) Attached.
            </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-list *ngIf="numberOfAttachedFiles > 0">
            <div fxLayout="row" class="pd-header">
                <mat-list-item fxFlex="40">{{attrLabels['originalName']}}</mat-list-item>
                <mat-list-item fxFlex="15">{{attrLabels['size']}}</mat-list-item>
                <mat-list-item fxFlex="20">{{attrLabels['type']}}</mat-list-item>
                <mat-list-item fxFlex="15">{{attrLabels['createdAt']}}</mat-list-item>
                <mat-list-item fxFlex="10"></mat-list-item>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div *ngFor="let element of data">
                <div fxLayout="row" class="pd-row">
                    <mat-list-item fxFlex="40"> {{element['originalName']}} </mat-list-item>
                    <mat-list-item fxFlex="15"> {{element['size'] /1024/1024 | number:'.2' }} MB </mat-list-item>
                    <mat-list-item fxFlex="20">
                        <span>
                            {{element['type'].substring(element['type'].lastIndexOf('/') + 1, element['type'].length)}}
                        </span>
                    </mat-list-item>
                    <mat-list-item fxFlex="15"> {{element['createdAt'] | date}} </mat-list-item>
                    <mat-list-item fxFlex="10" class="options" fxLayoutAlign="end">
                        <a mat-icon-button (click)="download(element.id,element['originalName'])" matTooltip="Download">
                            <i class="material-icons">arrow_downward</i>
                        </a>
                        <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>

                    </mat-list-item>
                </div>
                <mat-divider class="divider"></mat-divider>
            </div>
        </mat-list>

    </mat-expansion-panel>

</mat-accordion>