<div *ifPermitted="'workFlows.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <div>
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <a matTooltip="List" [routerLink]="['/settings/workFlow']" mat-icon-button *ifPermitted="'workFlows.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/settings/workFlow/update', workFlow.WFId]" mat-icon-button *ifPermitted="'workFlows.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <!-- <a mat-icon-button (click)="deleteRecord(workFlow.WFId)" matTooltip="delete" *ifPermitted="'workFlows.delete'">
                    <mat-icon>delete</mat-icon>
                </a> -->
            </div>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.WFId" #message maxlength=30 [readonly]="editMode" formControlName="WFId">
                        <mat-error *ngIf="fg.get('WFId').hasError('required')">ID is required.</mat-error>
                        <mat-error *ngIf="fg.get('WFId').hasError('exist') ">Record already Exists.</mat-error>
                        <mat-error *ngIf="fg.get('WFId').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.title" #title maxlength=50 formControlName="title" required>
                        <mat-error *ngIf="fg.get('title').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <textarea matInput [placeholder]="componentLabels.description" rows="5" formControlName="description"></textarea>
                    </mat-form-field>
                </div>

                <div *ngIf="pageAct != 'view'">
                    <div *ifPermitted="'workFlows.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/settings/workFlow']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/settings/workFlow/view', workFlow.WFId]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>