<div *ifPermitted="'feeHeads.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/fee-management/feeHeads/update', feeHeads.id]" mat-icon-button *ifPermitted="'feeHeads.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(feeHeads.id)" matTooltip="Delete" *ifPermitted="'feeHeads.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <input matInput class="lower-to-capital" [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                            <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.code" formControlName="code" required>
                            <mat-error *ngIf="fg.get('code').hasError('required')">Code is required.</mat-error>
                            <mat-error *ngIf="fg.get('code').hasError('duplicateCode')">This code is already assigned to fee heads. Use different one.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.natureOfFeeHeads" formControlName="natureOfFeeHeadsId" required>
                                <mat-option *ngFor="let natureOfFeeHead of natureOfFeeHeads" [value]="natureOfFeeHead.id">
                                    {{natureOfFeeHead.value}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('natureOfFeeHeadsId').hasError('required')">Nautre of Fee Heads is required.</mat-error>
                        </mat-form-field>

                    </div>

                    <div *ngIf="pageAct != 'view'" class="bottom-buttons">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/fee-management/feeHeads']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/fee-management/feeHeads/view', feeHeads.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>