<div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="20px">
    <div *ngFor="let item of wfStates">
        <button mat-raised-button color="primary" (click)="initStateUpdation(item.id, item.state)">{{item.title}}</button>
    </div>
</div>