<div *ifPermitted="'cbFloors.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/time-table/cbFloors/update', cbFloor.id]" mat-icon-button *ifPermitted="'cbFloors.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(cbFloor.id)" matTooltip="Delete" *ifPermitted="'cbFloors.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">
                    <div fxLayout="column" fxLayoutGap="20px">

                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.name" formControlName="name" required>
                                <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput class="lower-to-capital" [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                                <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.code" formControlName="code" required>
                                <mat-error *ngIf="fg.get('code').hasError('required')">Code is required.</mat-error>
                                <mat-error *ngIf="fg.get('code').hasError('duplicateCode')">Duplicate code.</mat-error>
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.building" formControlName="CBId">
                                    <mat-option *ngFor="let campusBuilding of campusBuildings" [value]="campusBuilding.id">
                                        {{campusBuilding.campus.campusName}} - {{campusBuilding.name}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('CBId').hasError('required')">Building is required.</mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div *ngIf="pageAct != 'view'" class="bottom-buttons">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/time-table/cbFloors']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/time-table/cbFloors/view', cbFloor.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>