<div *ifPermitted="'managementFees.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
        <div>

            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                <ng-container matColumnDef="educationLevelId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['educationLevelId']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{ element.educationLevel.education }} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="feeType">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['feeType']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.feeType}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="amount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['amount']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.amount.toLocaleString()}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="options">
                        <a [routerLink]="['/fee-management/managementFees/view', element.id]" mat-icon-button *ifPermitted="'managementFees.find'">
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>
                        <a [routerLink]="['/fee-management/managementFees/update', element.id]" mat-icon-button *ifPermitted="'managementFees.update'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                        <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'managementFees.delete'">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>


    </div>

    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/fee-management/managementFees/create']" *ifPermitted="'managementFees.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->