/* You can add global styles to this file, and also import other style files */

/* @import '~@angular/material/theming'; */

/* @import '~@covalent/core/theming/all-theme'; */

/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */

@import './idraktheme.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto');

.mytheme {
  @include angular-material-theme($mytheme-theme);
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 0px;
  background-color: #f7f7f7;
}

h1 {
  font-weight: 300;
  font-size: 2em;
  margin: 20px;
}

h2 {
  font-weight: 300;
  font-size: 1.7em;
  margin: 20px;
}

h3 {
  font-weight: 300;
  font-size: 1.43em;
  margin: 20px;
}

th {
  font-weight: 300;
  font-size: 1.33em;
  margin: 20px;
}

p {
  font-weight: 200;
  font-size: 1em;
  margin: 20px;
}

.icon {
  color: gray;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding-top: 5px;
  padding-left: 5px;
}

/* ***************************************************************************** */

/* Custome CSS */

/* TODO:high: following CSS is very bad... Please implement a proper structural CSS */

/* ***************************************************************************** */

.page-content {
  width: 98%;
  margin: 0 auto;
}

.content-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  position: relative;
  background-color: #ffffff;
}

.right-bottom-button {
  position: fixed;
  bottom: 32px;
  right: 11px;
  
}

.message {
  position: fixed;
  z-index: 1;
  background-color: white;
  left: 50%;
}

.dg-container {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  padding: 0 30px;
}

.dg-search {
  min-height: 65px;
  margin-top: 10px;
}

.dg-action {
  text-align: end;
  visibility: hidden;
}
.mat-row{
  transition: background-color 0.1s ease-in, transform 0.2s ease-out, border-bottom-color 0.5s ease-out;
}

.mat-row:hover{
  background-color: #EEEEEF;
  /* transform: scale(1); */
  border-bottom-color: darkgray;
}
/* .dg-container .mat-row:hover .dg-action {
  visibility: visible;
  background-color: lightgray;
} */

.delete-icon {
  color: #f44336;
}

/* CSS Included by Umair */

.complaints {
  margin-bottom: 25px;
}

mat-icon:hover {
  cursor: pointer;
}

.dgSearchBar {
  margin: 20px 20px 0px 20px;
}

/* Use class options to hide any div */

/* Use class hover-effect to display options div. Use it as parent of options */

/* ***************************************************************************** */

.opt-header{
  position: absolute;
  right: 0;
}
.options {
  // text-align: end;
  visibility: hidden;
  text-align: end;
  /* transition: visibility 0.5s ease-in; */
  position: absolute;
  right: 0;
  padding:4px 0px;
}

.hover-effect:hover .options {
  // transition: background-color 0.1s ease-in, visibility 0.1s ease-in;
  visibility: visible;
  background-color: white;
  // transition: visibility 0.5s ease-in;
  
}

/*******************************************************************************************/

.permissions-footer {
  margin: 20px 0 0 0 !important;
}

/* Mat Card Style */

.mcard {
  margin-bottom: 10px;
}

.mcard .mc-title {
  font-size: 20px;
}

.mcard .mc-action-btn {
  position: absolute;
  right: 10px;
  top: 6px;
}

.mcard .mc-btn-rb {
  position: absolute;
  right: 5px;
  bottom: 5px;
}

/* Dialog Pop-up */

.dialog-title {
  font-size: 20px;
  padding-bottom:10px;
}

.progress-bar-margin {
  margin-bottom: 10px;
}

.lower-to-capital {
  text-transform: uppercase;
}
/* for error showing */
.v-error {
  color: red;
  font-size: 10px;
  margin-top: 10px;
}

/*
 * Buttons
 * 
*/
.mat-raised-button{
  border-radius: 15px !important;
  margin-right:5px !important;
}

.normal-btn{

  border-radius: 0px !important;
  
}

.fcap{
  text-transform:capitalize
}

@media print {
  .hide-from-print{
     display:none;
  }
}
@media screen {
  .hide-from-screen{
    display:none;
  }
}