<div *ifPermitted="'fsCampus.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>
                <div class="mc-action-btn" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/fee-management/fsCampus/update', fsCampus.id]" mat-icon-button *ifPermitted="'fsCampus.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(fsCampus.id)" matTooltip="Delete" *ifPermitted="'fsCampus.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.feeStructure" formControlName="feeStructureId" required (change)="loadFeeHeads($event.value)" [autofocus]="true">
                                <mat-option *ngFor="let feeStructure of feeStructures" [value]="feeStructure.id">
                                    {{feeStructure.title}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('feeStructureId').hasError('required')">Fee Structure is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.campus" formControlName="campusId" required>
                                <mat-option *ngFor="let campus of campuses" [value]="campus.id" [disabled]="selectedCampuses.indexOf(campus.id) > -1">
                                    {{campus.campusName}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('campusId').hasError('required')">Campus is required.</mat-error>

                        </mat-form-field>
                        <!-- <div fxLayout="column" fxLayoutGap="10px" fxFlex="50">
                            <div formArrayName="campuses" *ngFor="let item of fg.get('campuses')['controls']; let i = index; let last = last; let first = first;">
                                <div [formGroupName]="i">
                                    <mat-form-field fxFlex>
                                        <mat-select [placeholder]="componentLabels.campus" formControlName="campusId" [disabled]="!last || pageAct == 'view'" required>
                                            <mat-option *ngFor="let campus of campuses" [value]="campus.id" [disabled]="selectedCampuses.indexOf(campus.id) > -1">
                                                {{campus.campusName}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="item.controls['campusId'].hasError('required')">Campus is required.</mat-error>

                                    </mat-form-field>

                                    <button mat-icon-button type="button" (click)="removeCampusItem(i,item)" *ngIf="(item.controls.campusId.value || !first) && pageAct != 'view'">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button" (click)="addNewCampusItem()" *ngIf="item.controls.campusId.value && last && pageAct != 'view'">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div> -->

                    </div>
                    <div fxLayout="column" fxLayoutGap="10px">
                        <div>
                            <mat-list>
                                <div class="header-row">
                                    <mat-list-item fxFlex="20">{{fscFeeHeadLabels.feeHead}}</mat-list-item>
                                    <mat-list-item fxFlex="20">{{fscFeeHeadLabels.typeOfFeeHead}}</mat-list-item>
                                    <mat-list-item fxFlex="20">{{fscFeeHeadLabels.amount}}</mat-list-item>
                                    <mat-list-item fxFlex="20">{{fscFeeHeadLabels.managementFeeType}}</mat-list-item>
                                    <mat-list-item fxFlex="20">{{fscFeeHeadLabels.managementFeeAmount}}</mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>
                        </div>

                        <div formArrayName="fscFeeHeads" *ngFor="let item of fg.get('fscFeeHeads')['controls']; let i = index; let last = last; let first = first;">
                            <mat-list [formGroupName]="i">
                                <div class="cell-row">
                                    <mat-list-item fxFlex="20">{{item.value['feeHeadTitle']}}</mat-list-item>
                                    <mat-list-item fxFlex="20">
                                        <mat-select [placeholder]="fscFeeHeadLabels.typeOfFeeHead" formControlName="typeOfFeeHeadId" required>
                                            <mat-option *ngFor="let typeOfFeeHead of typeOfFeeHeads" [value]="typeOfFeeHead.id">
                                                {{typeOfFeeHead.value}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-list-item>
                                    <mat-list-item fxFlex="20">
                                        <mat-form-field>
                                            <input type="number" matInput formControlName="amount" required>
                                        </mat-form-field>
                                    </mat-list-item>
                                    <mat-list-item fxFlex="20">
                                        <mat-radio-group formControlName="managementFeeType" required>
                                            <mat-radio-button color="primary" value="percentage">Percentage</mat-radio-button>
                                            <mat-radio-button color="primary" value="amount">Amount</mat-radio-button>
                                        </mat-radio-group>
                                    </mat-list-item>

                                    <mat-list-item fxFlex="20">
                                        <!-- <mat-list-item fxFlex="20">{{item.controls.managementFeeType.value}} -->
                                        <mat-form-field>
                                            <input type="number" matInput formControlName="managementFeeAmount" required>
                                            <!-- <span matSuffix>%</span> -->
                                            <span *ngIf="item.value.managementFeeType == 'percentage'" matSuffix>%</span>
                                        </mat-form-field>
                                    </mat-list-item>
                                </div>
                                <mat-divider></mat-divider>
                            </mat-list>

                        </div>

                    </div>

                    <div *ngIf="pageAct != 'view'" class="bottom-buttons">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/fee-management/fsCampus']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/fee-management/fsCampus/view', fsCampus.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>