<div [@pageState]="pageState" style="margin-top:50px">
        <div class="parent">
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'attach_money'" [label]="'App Configurations'" [link]="['/settings/configurations/singleConf/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'attach_money'" [label]="'Nature of Work'" [link]="['/settings/configurations/natureofwork/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'face'" [label]="'Instrument Types'" [link]="['/settings/configurations/instrumentType/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'banks.index'" class="child" [icon]="'thumb_up_alt'" [label]="'Banks'" [link]="['/settings/configurations/banks/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'passingYears.index'" class="child" [icon]="'school'" [label]="'Passing Years'" [link]="['/settings/passingYear/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'attach_money'" [label]="'Nature of Course'" [link]="['/settings/configurations/natureOfCourse/']"></shared-dashboard-widget-link>        
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'boards.index'" class="child" [icon]="'nature_people'" [label]="'Boards'" [link]="['/settings/board/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'vendors.index'" class="child" [icon]="'view_compact'" [label]="'Vendors'" [link]="['/settings/vendor/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'workFlows.index'" class="child" [icon]="'view_comfy'" [label]="'Work Flows'" [link]="['/settings/workFlow/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'esCategories.index'" class="child" [icon]="'view_compact'" [label]="'ES Categories'" [link]="['/settings/esCategories/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'evaluationSheets.index'" class="child" [icon]="'view_compact'" [label]="'Evaluation Sheets'" [link]="['/settings/evaluationSheets/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'outGoingMailServers.index'" class="child" [icon]="'view_compact'" [label]="'Out Going Mail Servers'" [link]="['/settings/outGoingMailServers/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'emailTemplates.index'" class="child" [icon]="'view_compact'" [label]="'Email Templates'" [link]="['/settings/emailTemplates/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'view_compact'" [label]="'Countries'" [link]="['/settings/configurations/country/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'view_compact'" [label]="'Provinces'" [link]="['/settings/configurations/province/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'view_compact'" [label]="'Cities'" [link]="['/settings/configurations/city/']"></shared-dashboard-widget-link>
        <shared-dashboard-widget-link [type]="'text'" *ifPermitted="'configurations.index'" class="child" [icon]="'view_compact'" [label]="'Tehsils'" [link]="['/settings/configurations/tehsil/']"></shared-dashboard-widget-link>

    </div>

</div>