<div *ifPermitted="'campus.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>
    <div *ngIf="loaded" [@pageState]="pageState">
        <div class="workFlowAction">
            <!-- <wf-states [WFId]="'post-registration'" [parent]="'Campus'" [stateId]="stateId" [parentId]="CRApplicationId" *ngIf="stateId && CRApplicationId"
                (onChangeStateId)="onChangeStateEvent($event)"></wf-states> -->
        </div>
        <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)" *ngIf="selectedButton=='createCampus'">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.campusId" formControlName="campusId" required [autofocus]="true">
                    <mat-error *ngIf="fg.get('campusId').hasError('required')">Campus Id is required.</mat-error>
                    <mat-error *ngIf="fg.get('campusId').hasError('invalid')">Campus Id Already Exists.</mat-error>
                </mat-form-field>


                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.codeNumber" formControlName="codeNumber" (keypress)="avoidSpace($event)" required>
                    <mat-error *ngIf="fg.get('codeNumber').hasError('required')">Code Number is required.</mat-error>
                    <mat-error *ngIf="fg.get('codeNumber').hasError('invalid')">Code Number Already Exists.</mat-error>
                    <mat-error *ngIf="fg.get('codeNumber').hasError('maxlength')">Exceeding Maximum Length (Max Length is 12).</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.campusName" formControlName="campusName" required>
                    <mat-error *ngIf="fg.get('campusName').hasError('required') && !fg.get('campusName').hasError('maxlength')">Campus Name is required.</mat-error>
                    <mat-error *ngIf="fg.get('campusName').hasError('maxlength') && !fg.get('campusName').hasError('required')">Exceeding Maximum Length (Max Length is 30).</mat-error>
                </mat-form-field>



                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.email" formControlName="email" required>
                    <mat-error *ngIf="fg.get('email').hasError('required')">Email is required.</mat-error>
                    <mat-error *ngIf="fg.get('email').hasError('email') && !fg.get('email').hasError('required')">Email is not valid.</mat-error>
                </mat-form-field>


            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <div fxLayout="row" fxFlex="50">
                    <mat-form-field fxFlex="20">

                        <mat-select [placeholder]="componentLabels.countryCode" formControlName="countryCode" required>
                            <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                {{country.abbreviation + ' (' + country.countryCode + ')'}}

                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="80">
                        <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" required [textMask]="{mask: mobileMask}">
                        <mat-error *ngIf="fg.get('mobileNumber').hasError('required') && !fg.get('mobileNumber').hasError('minlength')">Mobile Number is required.</mat-error>
                        <mat-error *ngIf="fg.get('mobileNumber').hasError('minlength') && !fg.get('mobileNumber').hasError('required')">Minimum Length is 15.</mat-error>
                    </mat-form-field>
                </div>

                <div fxFlex="50">
                    <mat-form-field fxFlex="20">

                        <mat-select [placeholder]="componentLabels.countryCodeForLandLine" formControlName="countryCodeForLandLine"  required>
                            <mat-option *ngFor="let country of countriesOptions" [value]="country.countryCode">
                                {{country.abbreviation + ' (' + country.countryCode + ')'}}

                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field fxFlex="80">
                        <input matInput [placeholder]="componentLabels.landLineNumber" formControlName="landLineNumber" type="number" max="12" required >
                        <mat-error *ngIf="fg.get('landLineNumber').hasError('required') && fg.get('landLineNumber').hasError('greaterThan')">Mobile Number is required.</mat-error>
                        <mat-error *ngIf="!fg.get('landLineNumber').hasError('greaterThan') && !fg.get('landLineNumber').hasError('required')">Maximum Length is 12.</mat-error>
                    </mat-form-field>

                </div>


            </div>

            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <input matInput [placeholder]="componentLabels.address" formControlName="address" required>
                    <mat-error *ngIf="fg.get('address').hasError('required')">Address is required.</mat-error>
                    <mat-error *ngIf="!fg.get('campusName').hasError('maxlength') && !fg.get('address').hasError('required')">Exceeding Maximum Length (Max Length is 50).</mat-error>
                </mat-form-field>
            </div>
            <div fxFlex="50" fxFlex="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicMonth" formControlName="academicMonth" required>
                            <mat-option *ngFor="let academicMonth of academicMonths" [value]="academicMonth.number">
                                {{ academicMonth.abbreviation }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicMonth').hasError('required')">Academic Month is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicYear" formControlName="academicYear" required>
                            <mat-option *ngFor="let academicYear of academicYears" [value]="academicYear">
                                {{ academicYear }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicYear').hasError('required')">Academic Year is required.</mat-error>
                    </mat-form-field>
                    

                </div>

            <div fxLayout="column" fxFlex="50" fxLayoutGap="10px">
                <div *ngFor="let mul of multiple; let i = index" class="top-margin" disabled="isSubmit">
                    <div fxLayout="column">
                        <div>
                            <mat-form-field fxFlex="30">
                                <mat-select placeholder="Select Program" [disabled]="i < (multiple.length -1)" [ngModelOptions]="{standalone: true}" [(ngModel)]="mul.programId"
                                    (change)="programChange($event)">
                                    <mat-option *ngFor="let pro of mul.program" [value]="pro.id">
                                        {{ pro.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                            <button fxFlex="5" mat-icon-button type="button" (click)="deletePorgram(mul.programId)" *ngIf="!(i == (multiple.length - 1))">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </div>

                        <div fxFlex="75">
                            <div fxLayout="row wrap" fxLayoutGap="30px">
                                <div *ngFor="let pro of mul.programDetails">
                                    <mat-checkbox color="primary" (change)="checkChange($event,mul.programId,pro.id)" [checked]="pro.checked"> {{pro.name}}</mat-checkbox>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="font-size: 20px;" *ngIf="campusDefaultUserList.length != 0">
                List of Users
            </div>
            <div *ngFor="let user of campusDefaultUserList" >

                <mat-checkbox color="primary" [checked]="checkedTrueOrNot(user.id)"  (change)="userCheckChange($event,user)">{{user.userName}}</mat-checkbox>

            </div>
            <div *ngIf="pageAct != 'view'">
                <div>
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" *ifPermitted="'createCampus.create'" color="primary">Save</button>
                    <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/campus/createCampus']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/campus/createCampus/view', createCampusModel.id]">Cancel</a>
                </div>
            </div>
        </form>
    </div>

</div>