<shared-page-loader *ngIf="!loaded"> </shared-page-loader>

<mat-card *ngIf="loaded" [@pageState]="pageState">

    <div *ifPermitted="'activities.find'">
        <div fxFlex></div>
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a matTooltip="Edit" [routerLink]="['/academic/activities']" mat-icon-button *ifPermitted="'activities.index'">
                <mat-icon>list</mat-icon>
            </a>
            <a [routerLink]="['/academic/activities/update', activity.id]" mat-icon-button *ifPermitted="'activities.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="deleteRecord(activity.id)" matTooltip="delete" *ifPermitted="'activities.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
            <div fxLayout="row" fxLayoutGap="10px">
            
                <mat-form-field fxFlex="100">
                    <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                    <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input  matInput [matDatepicker]="picker1" (dateChange)="dateChangeEvent()" [placeholder]="componentLabels.startDate" formControlName="startDate" readonly >
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                    <mat-error *ngIf="fg.get('startDate').hasError('invalid')">Start date  cannot be greater than end date.</mat-error>

                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput   [matDatepicker]="picker2" (dateChange)="dateChangeEvent()" [placeholder]="componentLabels.endDate" formControlName="endDate"   readonly>
                    <mat-datepicker-toggle  matSuffix [for]="picker2" ></mat-datepicker-toggle>
                    <mat-datepicker #picker2  ></mat-datepicker>
                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutGap="10px"  fxFlex="50">
            
                <mat-form-field fxFlex="50" class="days" >
                    <input matInput [placeholder]="componentLabels.days" readonly [value]="daysDifference">
                </mat-form-field>

            </div>
   

            <div *ngIf="pageAct != 'view'">
                <div *ifPermitted="'activities.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a *ngIf="pageAct == 'add'" color="accent" mat-raised-button [routerLink]="['/academic/activities']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/academic/activities/view', activity.id]">Cancel</a>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>