<div>
    <!-- <shared-page-loader *ngIf="!loaded"> </shared-page-loader> -->
    <div>
        <div class="dialog-title">
            Add User to: {{roleAssignment.roleName}}
        </div>

        <form (ngSubmit)="submit()" #form="ngForm">
            <div fxLayout="row">
                <mat-form-field fxFlex style="margin:15px 0px;">
                    <mat-select placeholder="Select User" name="user" [(ngModel)]="roleAssignment.userId" required>
                        <mat-option *ngFor="let user of users" [value]="user.id">{{user.username}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div>
                <button mat-raised-button [disabled]="!form.valid" color="primary" type="submit">Assign</button>
                <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
            </div>
        </form>
    </div>
</div>