<div *ifPermitted="'users.find'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">
        <mat-card class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>
                <div class="mc-action-btn">
                    <a [routerLink]="['/security/users/update', user.id]" mat-icon-button *ifPermitted="'users.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(user.id)" matTooltip="delete" *ifPermitted="'users.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>

                <shared-detail-view [data]="user" [labels]="userLabels" [showOnly]="['name', 'username', 'phoneNumber', 'superUserLabel', 'activeLabel', 'gender', 'address']">
                </shared-detail-view>

                <!-- <form novalidate [formGroup]="fg">

                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="userLabels.username" formControlName="username">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayoutGap="10px">
                        <mat-checkbox color="primary" formControlName="isSuperUser">
                            {{userLabels.isSuperUser}}
                        </mat-checkbox>
                        <mat-checkbox color="primary" formControlName="isActive">
                            {{userLabels.isActive}}
                        </mat-checkbox>
                    </div>

                </form> -->
            </mat-card-content>
        </mat-card>
        <div *ngIf="!user.isSuperUser">
            <mat-card class="mcard">
                <div>
                    <mat-card-title class="mc-title">Roles</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="assignRole(user.id)">
                            <mat-icon matTooltip="Assign Role">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-wrapper">
                        <mat-table #table [dataSource]="roleDataSource">
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> {{roleLabels['name']}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.role.name}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="options">
                                    <a mat-icon-button (click)="deleteFromRole(element.id)" matTooltip="Delete">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row class="table-header" *matHeaderRowDef="roleDisplayedColumns"></mat-header-row>
                            <mat-row class="hover-effect" *matRowDef="let row; columns: roleDisplayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="mcard">
                <div>
                    <mat-card-title class="mc-title">Groups</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="assignGroup(user.id)">
                            <mat-icon matTooltip="Assign Group">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div class="table-wrapper">
                        <mat-table #table [dataSource]="groupDataSource">
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef> {{groupLabels['name']}} </mat-header-cell>
                                <mat-cell *matCellDef="let element"> {{element.group.name}} </mat-cell>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                                <mat-cell *matCellDef="let element" class="options">
                                    <a mat-icon-button (click)="deleteFromGroup(element.id)" matTooltip="Delete">
                                        <mat-icon color="warn">delete</mat-icon>
                                    </a>
                                </mat-cell>
                            </ng-container>
                            <mat-header-row class="table-header" *matHeaderRowDef="groupDisplayedColumns"></mat-header-row>
                            <mat-row class="hover-effect" *matRowDef="let row; columns: groupDisplayedColumns;"></mat-row>
                        </mat-table>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>