.add {
  margin-top: 15px;
}

.delete-icon {
  margin-top: 5px;
}

.textarea-desc {
  min-height: 100px;
}

h2 {
  margin: 25px 0px 10px 0px;
}

.default-check {
  padding-left: 100px;
}

.action-btn {
  padding-top: 20px;
}

.pd-header > mat-list-item {
  font-size: 16px;
}

.pd-row > mat-list-item {
  font-size: 14px;
}
.program-detail {
  margin-top: 10px;
}
.validation-error{
  color: red;
  font-size: 12px;
}