<div *ifPermitted="'cacTerms.find'">

</div>
<shared-page-loader *ngIf="!loaded"> </shared-page-loader>
<div *ifPermitted="'cacTerms.find'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{data.type}}
        </div>
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)" fxLayout="column" fxLayoutGap="25px">
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="45">
                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                    <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input class="lower-to-capital" matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                    <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px" fxFlex="45">
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker" [placeholder]="componentLabels.startDate" formControlName="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
                <mat-form-field fxFlex="50">
                    <input matInput [matDatepicker]="picker2" [placeholder]="componentLabels.endDate" formControlName="endDate">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="validation-error" *ngIf="fg.get('startDate').hasError('invalid') || fg.get('endDate').hasError('invalid')" fxFlex="10">This term dates are already asssigned to previous term. </div>
            <div class="validation-error" *ngIf="fg.get('startDate').hasError('notIn') || fg.get('endDate').hasError('notIn')" fxFlex="10">This term dates is not between the date of academic calendar dates. </div>

            <div *ifPermitted="'cacTerms.create'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>

        </form>

    </div>
</div>
<!--  -->