<div *ifPermitted="'campusDefaultUsers.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="userName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['userName']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.userName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="abbreviation">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['abbreviation']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.abbreviation}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="roleId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['roleId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.role.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                           
                            <a (click)="editCampusDefaultUser(element.id)" mat-icon-button *ifPermitted="'campusDefaultUsers.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'campusDefaultUsers.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="primary" (click)="addCampusDefaultUser()" *ifPermitted="'campusDefaultUsers.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->