<div *ifPermitted="'cpdAccount.find'">
    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div *ngIf="loaded" [@pageState]="pageState">
        <div class="workFlowAction">
            <wf-states [WFId]="'post-registration'" [parent]="'Campus'" [stateId]="stateId" [parentId]="CRApplicationId" *ngIf="stateId && CRApplicationId"
                (onChangeStateId)="onChangeStateEvent($event)"></wf-states>
        </div>
        <shared-mat-card-loader *ngIf="boxLoaded"> </shared-mat-card-loader>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)" *ngIf="selectedButton=='accountInfo' && displayForm">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.bankId" formControlName="bankId" required [autofocus]="true">
                        <mat-option *ngFor="let bank of banks" [value]="bank.id">
                            {{ bank.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('bankId').hasError('required')">Challan Type is required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.branch" formControlName="branch" required>
                    <mat-error *ngIf="fg.get('branch').hasError('required')">Branch Name is required.</mat-error>
                    <mat-error *ngIf="fg.get('branch').hasError('maxlength')">Exceeding Maximum Length (Max Length is 30).</mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.account" formControlName="account" required>
                    <mat-error *ngIf="fg.get('account').hasError('required')">Account is required.</mat-error>
                    <mat-error *ngIf="fg.get('account').hasError('maxlength')">Exceeding Maximum Length (Max Length is 40).</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.challanType" formControlName="challanType" required>
                        <mat-option *ngFor="let challan of challanTypes" [value]="challan">
                            {{ challan }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('challanType').hasError('required')">Challan Type is required.</mat-error>
                </mat-form-field>
            </div>
            <p class="program-margin">{{componentLabels.programId}}</p>


            <div *ngFor="let mul of multiple; let i = index" class="top-margin">
                <div fxLayout="column">


                    <div fxFlex="75">
                        <div fxLayout="row wrap" fxLayoutGap="30px">
                            <div *ngFor="let pro of mul.programDetails">
                                <mat-checkbox color="primary" (change)="checkChange($event,mul.programId,pro.id)" [checked]="pro.checked"> {{pro.name}}</mat-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div *ngIf="pageAct != 'view'">
                <div class="button-margin">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" *ifPermitted="'cpdAccount.create'" color="primary">Save</button>
                    <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/campus/accountInfo']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/campus/accountInfo/view', accountInfoModel.id]">Cancel</a>
                </div>
            </div>
        </form>

        <div *ngIf="dataSource && selectedButton=='accountInfo'">

            <div>

                <mat-table #table [dataSource]="dataSource">

                    <ng-container matColumnDef="programDetail">
                        <mat-header-cell *matHeaderCellDef> Program </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.programDetail}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="branch">
                        <mat-header-cell *matHeaderCellDef> Branch </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.branch}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="account">
                        <mat-header-cell *matHeaderCellDef> Account </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.account}} </mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef class="opt-header"> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">

                            <a (click)="editAccount(element.id,element.programDetail)" mat-icon-button>
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                     <mat-row class="hover-effect"  *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>

            </div>


        </div>

    </div>
</div>