.add {
  margin-top: 15px;
}

.delete-icon {
  margin-top: 5px;
}

.program-margin {
  margin-left: 0px;
}

.text-design {
  color: rgb(128, 126, 125);
  font-size: 18px;
}

.button-margin {
  margin-top: 15px;
}
.button-class{
  background-color: #679fdc;
  color: white;
}


.workFlowAction {
  position: absolute;
  right: 0;
  top: -52px;
}