.header-block {
  background-color: #eaeaea;
  font-family: 'Roboto', arial, sans-serif;
}
.logo {
  height: 50px;
  padding: 5px;
  margin-left: 12px;
  margin-top: 4px;
}

.heading {
  margin-right: 52px;
  margin-top: 17px;
  font-size: 20px;
}
.user-navigation {
  display: flex;
  flex: 1 1 20%;
  justify-content: flex-end;
  align-items: center;
}

#user-name {
  margin: 0 10px;
  height: 40px;
}

.profile-photo {
  width: 50px;
  height: 50px;
  margin-left: 0px;
}
