<div *ifPermitted="'emailTemplates.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card class="mcard" *ngIf="loaded" [@pageState]="pageState">
        <div>
            <mat-card-title class="mc-title"></mat-card-title>

            <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                <a [routerLink]="['/settings/emailTemplates']" mat-icon-button *ifPermitted="'emailTemplates.index'">
                    <mat-icon matTooltip="List">list</mat-icon>
                </a>
                <a [routerLink]="['/settings/emailTemplates/update', emailTemplate.id]" mat-icon-button *ifPermitted="'emailTemplates.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(emailTemplate.id)" matTooltip="delete" *ifPermitted="'emailTemplates.delete' && (emailTemplate['deletable'] 
                || emailTemplate['deletable'] === null)">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.name" formControlName="name" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.outGoingMailServerId" formControlName="outGoingMailServerId" *ifPermitted="'outGoingMailServers.findAttributesList'">
                                <mat-option *ngFor="let outGoingMailServer of outGoingMailServers" [value]="outGoingMailServer.id">
                                    {{ outGoingMailServer.name }}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('outGoingMailServerId').hasError('required')">Out Going Mail Server is required.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <div fxLayout="column" fxLayoutGap="20px">

                        <mat-form-field>
                            <input matInput [placeholder]="componentLabels.to" formControlName="to" required>
                            <mat-error *ngIf="fg.get('to').hasError('required')">Recipient is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [placeholder]="componentLabels.subject" formControlName="subject" required>
                            <mat-error *ngIf="fg.get('subject').hasError('required')">Subject is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <textarea class="textarea-desc" matInput [placeholder]="componentLabels.emailBody" formControlName="emailBody" required rows="15"></textarea>
                            <mat-error *ngIf="fg.get('emailBody').hasError('required')">Email Body is required.</mat-error>
                        </mat-form-field>

                    </div>
                </div>

                <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px">
                    <div *ifPermitted="'emailTemplates.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    </div>
                    <div *ifPermitted="'emailTemplates.create'">
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/settings/emailTemplates']">Cancel</a>

                    </div>
                    <div *ifPermitted="'emailTemplates.create'">
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/settings/emailTemplates/view', emailTemplate.id]">Cancel</a>
                    </div>
                </div>
            </form>

        </mat-card-content>
    </mat-card>

</div>