<div *ifPermitted="'feeStructures.find'" fxLayout="column" fxLayoutGap="10px">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <mat-card *ngIf="loaded" [@pageState]="pageState">

        <div class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>

                <div class="mc-action-btn" *ngIf="pageAct == 'view'">
                    <a [routerLink]="['/fee-management/feeStructures/update', feeStructure.id]" mat-icon-button *ifPermitted="'feeStructures.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(feeStructure.id)" matTooltip="Delete" *ifPermitted="'feeStructures.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>

            <mat-card-content>
                <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                    <div fxLayout="row" fxLayoutGap="10px">

                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="componentLabels.title" formControlName="title" required [autofocus]="true">
                            <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                        </mat-form-field>
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.program" formControlName="programId" (change)="loadProgramDetails($event.value)"
                                required>
                                <mat-option *ngFor="let program of programs" [value]="program.id">
                                    {{program.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programId').hasError('required')">Program is required.</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex>
                            <mat-select [placeholder]="componentLabels.programDetail" formControlName="programDetailId" (change)="loadClasses($event.value)"
                                required>
                                <mat-option *ngFor="let programDetail of programDetails" [value]="programDetail.id">
                                    {{programDetail.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program Detail is required.</mat-error>
                        </mat-form-field>

                    </div>
                    <div fxLayout fxLayoutGap="10px">

                        <div fxLayout="column" fxLayoutGap="10px" fxFlex="50">

                            <div formArrayName="classes" *ngFor="let item of fg.get('classes')['controls']; let i = index; let last = last; let first = first;">
                                <div [formGroupName]="i">
                                    <mat-form-field fxFlex>
                                        <!-- TODO:medium have to disable element with reactive form -->
                                        <mat-select [placeholder]="componentLabels.class" formControlName="classId" [disabled]="!last || pageAct == 'view'" required>
                                            <mat-option *ngFor="let class of classes" [value]="class.id" [disabled]="selectedClasses.indexOf(class.id) > -1">
                                                {{class.name}}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="item.controls['classId'].hasError('required')">Class is required.</mat-error>

                                    </mat-form-field>

                                    <button mat-icon-button type="button" (click)="removeClassItem(i,item)" *ngIf="(item.controls.classId.value || !first) && pageAct != 'view'">
                                        <mat-icon>cancel</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button" (click)="addNewClassItem()" *ngIf="item.controls.classId.value && last && pageAct != 'view' && classes && classes.length > fg.get('classes')['controls'].length">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div *ngIf="pageAct != 'view'" class="bottom-buttons">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/fee-management/feeStructures']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/fee-management/feeStructures/view', feeStructure.id]">Cancel</a>
                    </div>
                </form>
            </mat-card-content>
        </div>
    </mat-card>

</div>