<div *ifPermitted="'programDetails.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <!-- Material Data Table -->
    <div class="mat-elevation-z8" [@pageState]="pageState">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>
        <div>

            <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                <!-- <ng-container matColumnDef="instituteTypeId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['instituteTypeId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.instituteName}} </mat-cell>
                    </ng-container> -->

                <ng-container matColumnDef="educationLevelId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['educationLevelId']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.educationLevelName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="programId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['programId']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.programName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef> {{attrLabels['name']}} </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="options">
                    <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                    <mat-cell *matCellDef="let element" class="options">
                        <a [routerLink]="['/academic/programDetails/view', element.id]" mat-icon-button *ifPermitted="'programDetails.find'">
                            <mat-icon matTooltip="View">visibility</mat-icon>
                        </a>
                        <a [routerLink]="['/academic/programDetails/update', element.id]" mat-icon-button *ifPermitted="'programDetails.update'">
                            <mat-icon matTooltip="Edit">edit</mat-icon>
                        </a>
                        <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'programDetails.delete'">
                            <mat-icon class="delete-icon">delete</mat-icon>
                        </a>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="dtConf.pageSize" [pageSizeOptions]="dtConf.pageSizeOptions" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>


    </div>

    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/academic/programDetails/add']" *ifPermitted="'programDetails.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->