<div *ifPermitted="'programs.index'">

    <shared-page-loader *ngIf="!loaded"> </shared-page-loader>

    <div [@pageState]="pageState">

        <div class="message">
            <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
            <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
        </div>

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div>

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>


                    <!-- <ng-container matColumnDef="instituteTypeId">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['instituteTypeId']}} </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.instituteName}} </mat-cell>
                        </ng-container> -->

                    <ng-container matColumnDef="educationLevelId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['educationLevelId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.educationLevelName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['name']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>



                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/academic/programs/view', element.id]" mat-icon-button *ifPermitted="'programs.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/academic/programs/update', element.id]" mat-icon-button *ifPermitted="'programs.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'programs.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>
    </div>

    <div class="right-bottom-button">
        <a mat-fab color="primary" [routerLink]="['/academic/programs/add']" *ifPermitted="'programs.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>