<div *ifPermitted="'cacTerms.findByACPD'">


    <mat-card *ngIf="loaded" [@pageState]="pageState">


        <shared-mat-card-loader *ngIf="!boxLoaded"> </shared-mat-card-loader>

        <div class="mcard" *ifPermitted="'academicCalendarProgramDetails.findAttributes'">
            <div>
                <mat-card-title class="mc-title" >
                    Academic Calendar : {{ academicCalendarProgramDetail.academicCalendar.title + '-' + academicCalendarProgramDetail.programDetail['program']['name']
                    + '-' + academicCalendarProgramDetail.programDetail.name }}
                </mat-card-title>
                <mat-card-subtitle fxLayout="row" fxLayoutGap="50px">
                    <div fxFlex="40" *ngIf="academicCalendarProgramDetail.startDate &&  academicCalendarProgramDetail.endDate">
                        <h4> Start Date : {{ academicCalendarProgramDetail.startDate | date}}</h4>
                        <h4> End Date : {{ academicCalendarProgramDetail.endDate | date}}</h4>
                    </div>
                    <div *ifPermitted="'campusAcademicCalendars.findCampusByACPD'" fxFlex="60">
                        <fieldset  class="field-set" *ngIf="campusAcademicCalendars && campusAcademicCalendars.length">
                            <legend>
                                <strong> Campus Details </strong>
                            </legend>
                            <mat-list>
        
                                <div *ngFor="let campusAcademicCalendar of campusAcademicCalendars">
                                    <div fxLayout="row" class="pd-row">
                                        <mat-list-item > {{ campusAcademicCalendar.campus.campusName }} </mat-list-item>
                                       
                                    </div>
                                </div>
                            </mat-list>
                        </fieldset>
                    </div>
                    
                </mat-card-subtitle>
                <div class="mc-action-btn" >
                    <a [routerLink]="['/academic/cacTerms']" mat-icon-button *ifPermitted="'cacTerms.index'">
                        <mat-icon matTooltip="List">list</mat-icon>
                    </a>
                   
                </div>
            </div>

            <mat-card-content>
                <mat-list *ngIf="academicCalendarProgramDetail.cacTerms && academicCalendarProgramDetail.cacTerms.length">
                    <mat-card-title>
                        Term
                    </mat-card-title>
                    <div fxLayout="row" class="pd-header">
                        <mat-list-item fxFlex="30">{{componentLabels.title}} </mat-list-item>
                        <mat-list-item fxFlex="20">{{componentLabels.abbreviation}}</mat-list-item>
                        <mat-list-item fxFlex="20">{{componentLabels.startDate}}</mat-list-item>
                        <mat-list-item fxFlex="20">{{componentLabels.endDate}}</mat-list-item>
                        <mat-list-item fxFlex="10"></mat-list-item>
                    </div>
                    <div *ngFor="let cacTerm of academicCalendarProgramDetail.cacTerms">
                        <mat-divider></mat-divider>
                        <div fxLayout="row" class="pd-row">
                            <mat-list-item fxFlex="30"> {{ cacTerm.title }} </mat-list-item>
                            <mat-list-item fxFlex="20"> {{ cacTerm.abbreviation }} </mat-list-item>
                            <mat-list-item fxFlex="20"> {{cacTerm.startDate | date}} </mat-list-item>
                            <mat-list-item fxFlex="20"> {{cacTerm.endDate | date}} </mat-list-item>

                            <mat-list-item fxFlex="10" class="options" fxLayout="row" fxLayoutAlign="end">

                                <a (click)="editClick(cacTerm.id)" mat-icon-button *ifPermitted="'cacTerms.update'">
                                    <mat-icon matTooltip="Edit">edit</mat-icon>
                                </a>
                                <a mat-icon-button (click)="deleteCACTerm(cacTerm.id)" matTooltip="Delete" *ifPermitted="'cacTerms.delete'">
                                    <mat-icon class="delete-icon">delete</mat-icon>
                                </a>
                            </mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                    </div>
                </mat-list>

            </mat-card-content>
        </div>
    </mat-card>
    <div class="right-bottom-button">
        <a mat-fab color="primary" (click)="addCACTermClick()" *ifPermitted="'cacTerms.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>