.add {
  margin-top: 15px;
}

.delete-icon {
  margin-top: 5px;
}

.textarea-desc {
  min-height: 100px;
}

h2 {
  margin: 25px 0px 10px 0px;
}

.default-check {
  padding-left: 100px;
}

.action-btn {
  padding-top: 20px;
}

.pd-row:hover .options {
  visibility: visible;
}
.delete-icon {
  color: #f44336;
}
/* TODO:low should not be custom font size */
.pd-header > mat-list-item {
  font-size: 14px;
  font-style: bold;
}
.pd-row > mat-list-item {
  font-size: 12px;
  font-weight: bolder;
}
.pd-row > div > span {
  font-size: 12px;
  text-align: center;
}
.field-set {
  padding-top: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  border-color: rgb(245, 237, 237);
  box-shadow: 3em;
  border-width: 1px;
}
